﻿@model IEnumerable<ArtistWala.Repository.tblArtist>

<script type="text/javascript" src="/js/common.js"></script>

<script type="text/javascript">
    function makeFavourite(obj, idNo) {
        $(obj).css({ "display": "block", "width": "36px", "height": "36px" });

        var value = getCookie('FavouriteArtist');

        if (value != null) {
            value += idNo + '|';
        }
        else {
            value = '';
            value = idNo + '|';
        }

        setCookie('FavouriteArtist', value);
    }

    $(function () {
        var value = getCookie('FavouriteArtist');
        if (value != null) {
            for (var i = 0; i <= value.split('|').length; i++) {
                $('#dvFavour' + value.split('|')[i]).css({ "display": "block", "width": "36px", "height": "36px" });
            }
        }
    });

</script>

@{
    int i = 1;
    if (Model != null)
    {
        foreach (var item in Model.Reverse().Take(4).ToList())
        //foreach (var item in Model.Take(4).ToList())
        {
            string dvFavour = "dvFavour" + item.ArtistId;
            string dvArtistName = "dvArtistName" + item.ArtistId;
            <div class="contentTwoPart marRight8">
                <div class="imageArea">
                    @if (!string.IsNullOrEmpty(item.tblUser.ProfileImage))
                    {
                        <img width="100%" style="height:242px !important;width:242px !important" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + item.tblUser.ProfileImage)" alt="" border="0" />
                    }
                    else
                    {
                        <img width="100%" src="~/images/no-image.png" alt="no image" border="0" />
                    }
                   
                </div>
            </div>
                    i++;
        }
    }
}

