﻿@{
    ViewBag.Title = "How-It-Works";
    ViewBag.MetaDescription = "Artistwala gives event planners a fast and easy way to browse, contact, and hire the entertainers and services they need to make any event a success. Whether you're a first-timer or professional event planner, follow these 3 simple steps and you'll be on your way to event planning paradise!";
    ViewBag.MetaKeywords ="gigs, booking, bands, shows, hire, entertainment, events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--banner-->
<div class="innerBanner overhid">
    <div class="bredCrump">
        <div class="wrapper">
            <a href="@Url.Action("Index", "Home")">Home</a> &gt; @ViewBag.Title
        </div>
    </div>
    <div class="wrapper">
        <div class="bannerTxtFAQLeft wid50per marTop30">
            How it Works ?
            <div class="clear"></div>
            <div class="bannerTxtFAQLeftBtn">Artistwala gives event planners a fast and easy way to browse, contact, and hire the entertainers and services they need to make any event a success. Whether you're a first-timer or professional event planner, follow these 3 simple steps and you'll be on your way to event planning paradise!</div>
        </div>
        <div class="bannerTxtAreaRight">
            <img src="~/images/hiw_banner.png" alt="" align="right" />
        </div>
    </div>
</div>

<!--ContentAreaTwo-->

<script type="text/javascript">
    $(document).ready(function () {
        $(".scroll").click(function (event) {
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 500);
        });
    });
</script>

 <!--  <div class="totalContentArea">
    <div class="mainContentArea">

       <div class="hiw_video">
            <iframe src="http://www.youtube.com/embed/ZsYuu5ArwNM" frameborder="0" allowfullscreen=allowfullscreen></iframe>
        </div> 

    </div>
</div>

     -->


<div class="hiw_content_secondPart">
    <div class="wrapper">
        <div class="hiw_heading">
            Artistwala is a pretty simple concept. Here's how it works:
        </div>
        <div class="hiw_part">
            <div class="hiw_part_img"><img src="~/images/chars-trio-login.png" alt="" /></div>
            <div class="hiw_part_txt">
                <h2>1. Get free quotes</h2>
                With thousands upon thousands of vendors on Artistwala, you're bound to find an entertainer or service that your event just can't live without! Submit free quote requests to as many as you'd like. Vendors will respond with either a signed price quote or contact you directly to work out the details.
            </div>
        </div>
        <div class="hiw_part">
            <div class="hiw_part_img"><img src="~/images/hiw_banner.png" /></div>
            <div class="hiw_part_txt">
                <h2>2. Book online</h2>
                If everything looks good with your quote, you're ready to book. Just sign the agreement online and pay the vendor's deposit, all in one step. That's it… you're done! We've designed it all to be super easy, iron-clad secure, and lightning fast.
            </div>
        </div>
        <div class="hiw_part">
            <div class="hiw_part_img"><img src="~/images/chars--hug-man--mirrored.png" /></div>
            <div class="hiw_part_txt">
                <h2>3. Enjoy your event</h2>
                Kudos to you on your decision to create a meaningful event by booking top-notch talent. Your guests will appreciate the awesomeness that only quality entertainment and event pros can provide!
            </div>
        </div>
        <div class="hiw_btnArea">
            <div class="hiw_question">
                <h2>Are you performer or vendor?</h2>
            </div>
            <div class="hiw_btn">
                <a href="/Users/JoinUs">Get started here!</a>
            </div>
            
        </div>
    </div>
</div>

