﻿@model ArtistWala.Models.LoginModel
@{RouteData rd = RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current)); }
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/js/jquery.ui.js"></script>
<script>
    $(document).ready(function () {
        $("#SearchText").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Services/GetSearchResult.ashx?name=' + $("#SearchText").val(),
                    dataType: "json",
                    success: function (data) {
                        var result = JSON.parse(JSON.stringify(data));
                        response($.map(result, function (item) {
                            return {
                                label: item['Name'],
                                val: item['UserId']
                            }
                        }));
                    },
                    error: function (result) {
                        // alert("Error");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $('#SearchText').val(ui.item.label);
                $('#SearchId').val(ui.item.val);
                //window.location.href = '/Admin/Messages/ArtistMessage?id=' + ui.item.val + '&Name=' + ui.item.label;
            }
        });




        $("#Location").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Services/GetSearchLocation.ashx?Location=' + $("#Location").val(),
                    dataType: "json",
                    success: function (data) {
                        var result = JSON.parse(JSON.stringify(data));
                        response($.map(result, function (item) {
                            return {
                                label: item['Name']
                            }
                        }));
                    },
                    error: function (result) {
                        // alert("Error");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $('#Location').val(ui.item.label);
                //window.location.href = '/Admin/Messages/ArtistMessage?id=' + ui.item.val + '&Name=' + ui.item.label;
            }
        });

        //$('.myList').fancybox({
        //    'width': '800',
        //    'height': '350',
        //    'autoScale': true,
        //    'transitionIn': 'none',
        //    'transitionOut': 'none',
        //    'type': 'iframe',
        //    //'href': '/Common/Lead/GetEnquiry?Id=' + id()
        //});
        //$('.myList').fancybox({
        //    'autoSize': false,
        //    'width': 500,
        //    'height': 450,
        //    padding: 5,
        //    helpers: { overlay: { closeClick: false } }
        //});

    });

</script>
<script>
    //$('#loginDetails').fancybox({
    //    'width': '800',
    //    'height': '350',
    //    'autoScale': true,
    //    'transitionIn': 'none',
    //    'transitionOut': 'none',
    //    'type': 'iframe',
    //    //'href': '/Common/Lead/GetEnquiry?Id=' + id()
    //});


    //$(function () {
    //    $('#loginDetails').fancybox({
    //        'autoSize': false,
    //        'width': 500,
    //        'height': 450,
    //        padding: 5,
    //        helpers: { overlay: { closeClick: false } }
    //    });
    //});
    $(function () {
        $('#login').fancybox({
            'autoSize': false,
            'width': 500,
            'height': 475,
            padding: 5,
            helpers: { overlay: { closeClick: false } }
        });
    });



</script>
<div class="header">
    <div class="wrapper marTop16">
        <div class="logoTxtArea">         
            
                @if (Model != null)
                {
                    <div class="logo logo_dash">
                        <a href="@Url.Action("Index","Home")"></a>
                    </div>
                    <div class="headerdashboard">
                        <div class="dashboard_l">
                            <div class="view_p">

                                @if (Model.IsArtist && Model.IsPromoKit)
                                {
                                    @*<a href="@Url.Action("ReturnClientProfile", "MyProfile", new { id = Model.UserId })">Go to Client Profile</a>*@
                                    <a href="@Url.Action("CreatePromokit", "MyProfile", new { id = Model.UserId })">Edit promokit</a>
                                }
                                @*else if (Model.IsArtist)
                                {
                                    <a href="@Url.Action("CreatePromokit", "MyProfile", new { id = Model.UserId })">Edit promokit</a>
                                }*@
                                else
                                {
                                    <a href="@Url.Action("CreatePromokit", "MyProfile", new { id = Model.UserId })">Create promokit</a>
                                }
                            </div>
                            <strong>@Model.Name</strong>
                            <div class="dash_m">
                                <div class="dash_mP_l">
                                    <ul>
                                        @if (Model.RoleId == (int)ArtistWala.Models.AppsConstants.UserRoles.Client && !Model.IsPromoKit)
                                        {
                                            <li><a class="aselected" href="@Url.Action("Dashboard", "MyProfile")">Inbox</a></li>
                                            <li><a class="aselected" href="@Url.Action("UserInfo", "MyProfile")">My Profile</a></li>
                                            <li><a class="aselected" href="@Url.Action("AddYourPicture", "MyProfile")">My Photo</a></li>
                                            <li><a class="aselected" href="@Url.Action("Booking", "MyProfile")">Booking</a></li>                                            
                                        }
                                        @*else if (!Model.IsPromoKit)
                                        {
                                            <li><a class="aselected" href="@Url.Action("UserInfo", "MyProfile")">Your Info</a></li>
                                        }*@
                                        @*<li><a class="aselected" href="javascript:void(0);">Edit Promokit</a></li>*@
                                        else
                                        {
                                            <li><a class="aselected" href="@Url.Action("Dashboard", "MyProfile")">Inbox</a></li>
                                            <li><a class="aselected" href="@Url.Action("UserInfo", "MyProfile")">My Profile</a></li>
                                            <li><a class="aselected" href="@Url.Action("AddYourPicture", "MyProfile")">My Photo</a></li>                                            
                                            <li><a class="aselected" href="@Url.Action("Leads", "MyProfile")">Leads</a></li>
                                            <li><a class="aselected" href="@Url.Action("Booking", "MyProfile")">Booking</a></li>
                                            <li><a class="aselected" href="@Url.Action("Tools", "MyProfile")">Tools</a></li>
                                        }
                                        @*<li><a class="aselected" href="@Url.Action("Send_Quote", "MyProfile")">Send Quote</a></li>*@
                                        <li><a class="aselected" href="@Url.Action("Reviews", "MyProfile")">Reviews</a></li>
                                        @*<li><a class="aselected" href="@Url.Action("Tools", "MyProfile")">Tools</a></li>*@
                                        @*<li><a class="aselected" href="javascript:void(0);">Membership</a></li>*@
                                    </ul>
                                </div>
                                <div class="dash_mP_r"><ul><li><a href="javascript:void(0);" id="aMesageCount">0</a></li></ul> </div>
                            </div>
                        </div>
                        <div class="dashboard_r">
                            <div class="login_d">
                                <ul>
                                    <li><a href="@Url.Action("LogOff", "MyProfile")">Logout</a></li>
                                    @if (Convert.ToString(rd.Values["controller"]).Trim().ToLower() != "myprofile")
                                    {
                                        <li><a href="@Url.Action("Dashboard", "MyProfile")">Dashboard</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("ChangePassword", "MyProfile")">Change Password</a></li>
                                    }
                                </ul>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.ProfileImage))
                            {
                                <img src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + Model.ProfileImage)" />
                            }
                            else
                            {
                                <img src="~/images/no-image.png" />
                            }
                        </div>
                    </div>
                }
                else
                {
                    FormsAuthentication.SignOut();
                    <script type="text/javascript">
                        $(function () {
                            window.location.href = '@Url.Action("Index", "Home")';
                        });
                    </script>
                }
            
        </div>

    </div>
</div>
