﻿@*<script src="~/crop/js/jquery.min1.js"></script>*@

@{
    ViewBag.Title = "Add your picture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/js/slim/slim.min.css" rel="stylesheet">
<script src="/js/slim/slim.kickstart.min.js"></script>

<script>
    function cropimage(data, ready) {
        // get the drawing context for the output image
        var ctx = data.output.image.getContext('2d');

        // continue saving the data
        ready(data);
        var x = data.actions.crop.x.toString().split(".")[0];
        var y = data.actions.crop.y.toString().split(".")[0];
        var width = data.actions.crop.width.toString().split(".")[0];
        var height = data.actions.crop.height.toString().split(".")[0];
        $('#hidCoordinates').val(x + '|' + y + '|' + width + '|' + height);
    }
</script>



@using (Html.BeginForm("AddYourPicture", "MyProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" id="hidCoordinates" name="hidCoordinates" />

    @*<input type="hidden" id="X" name="hidCoordinates" />
        <input type="hidden" id="Y" />
        <input type="hidden" id="W"  />
        <input type="hidden" id="H" />*@

    <div class="totalContentdashboard">
        <div class="wrapper">
            <div class="dashboard_white">
                <div class="orannge_b"></div>
                <div class="orannge_heading"> You are here: </div>
                <div class="pagenatn">
                    <ul>
                        <li> Account Control Panel › </li>
                        <li style="color:#09577b"> @ViewBag.Title</li>
                    </ul>
                </div>
                @if (ViewBag.CurrentImage != null || ViewBag.CurrentImage!="")
                {
                  <img style="float:right;width:10%;border-radius:5px;margin-bottom: -53px;" src="@ViewBag.CurrentImage" />  
                }
                else
                {
                   <img style="float:right;width:10%;border-radius:5px;margin-bottom: -53px;" src="~/images/no-image.png" /> 
                }                

                <div class="clear"></div>

                <div class="location">
                    <h1><strong>Change Profile Picture</strong></h1>
                    <div class="profile_bg">
                        <div class="photo_txt">
                            <div class="message">
                                @ViewBag.Message
                            </div>

                            <div class="profile_bg_l">
                                Add a photo up to <strong>4MB</strong> in size and <strong>jpg, gif,</strong> or<strong> png</strong> formats only.

                                <div @*class="upload-btn"*@><input name="FILE2" type="file" id="FILE2" /></div>

                                <input type="checkbox" checked="checked" name="image_ownership" id="image_ownership" value="true">
                                <label> I own the rights to this photo, and it contains no trademarked characters, subjects or material owned by others.</label>
                                <div class="upload"> <input type="submit" value="Upload" /></div><br />

                                <div class="slim"
                                     data-ratio="1:1"
                                     @*data-size="500,400"*@
                                     data-will-transform="cropimage">
                                    <img style="margin-top:10px;" src="@ViewBag.Image" id="imgCrop">
                                </div>
                                <div class="upload" style="text-align:right;"> <input type="submit" value="Save" /></div>
                            </div>
                        </div>

                        <div class="profile_bg_r">

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div></div>
                    <div class="clear"></div>
                </div>




                @*<div class="location">
                        <h1><strong>Change Profile Picture</strong></h1>
                        <div class="profile_bg">
                            <div class="photo_txt">
                                <div class="profile_bg_l">
                                    <input type="checkbox" name="image_ownership" id="image_ownership" value="true">
                                    <label> I own the rights to this photo, and it contains no trademarked characters, subjects or material owned by others.</label>
                                    <div class="slim"
                                         data-size="700,500"
                                         data-will-transform="addWatermark">
                                        <input id="FILE2" type="file" name="slim[]">
                                    </div>
                                    Add a photo up to <strong>4MB</strong> in size and <strong>jpg, gif,</strong> or<strong> png</strong> formats only.
                                </div>
                            </div>
                            <p>
                                @ViewBag.Message
                            </p>
                            <div class="profile_bg_r">

                            </div>
                            <div class="clear"></div>
                        </div>
                        <div></div>
                        <div class="clear"></div>
                        <div class="upload" style="text-align:right;"><input type="submit" value="Save" /></div>
                    </div>*@

            </div>
            <div class="clear"></div>
        </div>
    </div>
}
