﻿@*<script src="~/crop/js/jquery.min1.js"></script>*@

@{
    ViewBag.Title = "Add your picture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link href="~/crop/css/jquery.Jcrop.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/crop/js/jquery.Jcrop.js"></script>*@

<script src="/js/croper/jquery.Jcrop.js"></script>
<link rel="stylesheet" href="/js/croper/jquery.Jcrop.css" type="text/css" />


@*<script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('#imgCrop').Jcrop({
                onSelect: showCoords
            });
        });

        //function storeCoords(c) {
        //    jQuery('#X').val(c.x);
        //    jQuery('#Y').val(c.y);
        //    jQuery('#W').val(c.w);
        //    jQuery('#H').val(c.h);
        //};
        function showCoords(c) {
            $('#hidCoordinates').val(c.x + '|' + c.y + '|' + c.w + '|' + c.h);
            //$('#hidCoordinates').val('100 | 100 | 100 | 100');
        };

    </script>*@

@*<script type="text/javascript">

        jQuery(function ($) {
            var cropWidth = 100;
            var cropHeight = 100;
            var jcrop_api;

            $('#imgCrop').Jcrop({
                // start off with jcrop-light class
                //minSize: [500, 500],
                //maxSize: [800, 600],
                aspectRatio: 1,
                bgOpacity: 0.5,
                bgColor: 'black',
                addClass: 'jcrop-light',
                onChange: showCoords
            }, function () {
                jcrop_api = this;
                jcrop_api.setSelect([00, 00, 500, 500, 500, 500]);
                jcrop_api.setOptions({ bgFade: true });
                jcrop_api.ui.selection.addClass('jcrop-selection');
            });


        });
        jcrop_api.animateTo([0, 0, cropWidth, cropHeight]);
        function showCoords(c) {
            $('#hidCoordinates').val(c.x + '|' + c.y + '|' + c.w + '|' + c.h);
        };

    </script>*@


<script type="text/javascript">

    jQuery(function ($) {

        var jcrop_api;

        $('#imgCrop').Jcrop({
            aspectRatio: 1,
            onChange: showCoords
        }, function () {
            jcrop_api = this;
            jcrop_api.setSelect([350, 150, 500, 500, 500, 500]);
        });

    });

    function showCoords(c) {
        $('#hidCoordinates').val(c.x + '|' + c.y + '|' + c.w + '|' + c.h);
    };

</script>

@using (Html.BeginForm("AddYourPicture", "MyProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" id="hidCoordinates" name="hidCoordinates" />

    @*<input type="hidden" id="X" name="hidCoordinates" />
        <input type="hidden" id="Y" />
        <input type="hidden" id="W"  />
        <input type="hidden" id="H" />*@

    <div class="totalContentdashboard">
        <div class="wrap">
            <div class="dashboard_white2">
                <div class="orannge_b"></div>
                <div class="orannge_heading"> You are here: </div>
                <div class="pagenatn">
                    <ul>
                        <li> Account Control Panel › </li>
                        <li style="color:#09577b"> @ViewBag.Title</li>
                    </ul>
                </div>
                <div class="clear"></div>


                <div class="location">
                    <h1><strong>Change Profile Picture</strong></h1>
                    <div class="profile_bg">
                        <div class="photo_txt">
                            <div class="profile_bg_l">
                                Add a photo up to <strong>4MB</strong> in size and <strong>jpg, gif,</strong> or<strong> png</strong> formats only.

                                <input name="FILE2" type="file" id="FILE2" class="choose" />

                                <input type="checkbox" name="image_ownership" id="image_ownership" value="true">
                                <label> I own the rights to this photo, and it contains no trademarked characters, subjects or material owned by others.</label>
                                <div class="upload"> <input type="submit" value="Upload" /></div>
                                <img style="margin-top:10px;" src="@ViewBag.Image" id="imgCrop">
                                <div class="upload" style="text-align:right;"> <input type="submit" value="Save" /></div>
                            </div>
                        </div>
                        <p>
                            @ViewBag.Message
                        </p>
                        <div class="profile_bg_r">

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div></div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
}
