﻿@model ArtistWala.Models.ArtistOverviewModel
@{
    ViewBag.Title = "Your Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("ArtistOverview", "MyProfile", FormMethod.Post))
{
    <div class="totalContentdashboard">
        <div class="wrapper">
            <div class="dashboard_white">
                <div class="orannge_b"></div>
                <div class="orannge_heading"> You are here: </div>
                <div class="pagenatn">
                    <ul>
                        <li> Account Control Panel › </li>
                        <li style="color:#09577b"> @ViewBag.Title</li>
                    </ul>
                </div>
                <div class="clear"></div>

                <h1><strong>Add Your Overviews</strong> </h1>

                <div class="profile_pic_grey">

                    <dl>
                        <dt> <label for="image_title_hires">@Html.LabelFor(m => m.WhatToExpect, "What To Expect"):</label></dt>
                        <dd>@Html.TextAreaFor(m => m.WhatToExpect)</dd>
                        <dd>@Html.ValidationMessageFor(m => m.WhatToExpect)</dd>
                        <dd>&nbsp;</dd>

                        <dt> <label for="image_title_hires">@Html.LabelFor(m => m.Influence, "Influence"):</label></dt>
                        <dd>@Html.TextAreaFor(m => m.Influence)</dd>
                        <dd>@Html.ValidationMessageFor(m => m.Influence)</dd>

                        @*<dt> <label for="image_title_hires">@Html.LabelFor(m => m.Calender, "Calendar"):</label></dt>
                        <dd>@Html.TextAreaFor(m => m.Calender)</dd>
                        <dd>@Html.ValidationMessageFor(m => m.Calender)</dd>
                        <dd>&nbsp;</dd>*@

                        <dt> <label for="image_title_hires">@Html.LabelFor(m => m.SetUpRequirements, "Set Up Requirements"):</label></dt>
                        <dd>@Html.TextAreaFor(m => m.SetUpRequirements)</dd>
                        <dd>@Html.ValidationMessageFor(m => m.SetUpRequirements)</dd>
                        <dd>&nbsp;</dd>

                        <dt> <label for="image_title_hires">@Html.LabelFor(m => m.Tesimonials, "Tesimonials"):</label></dt>
                        <dd>@Html.TextAreaFor(m => m.Tesimonials)</dd>
                        <dd>@Html.ValidationMessageFor(m => m.Tesimonials)</dd>
                        <dd>&nbsp;</dd>

                        <dt> <label for="image_title_hires">@Html.LabelFor(m => m.Personal, "Personal"):</label></dt>
                        <dd>@Html.TextAreaFor(m => m.Personal)</dd>
                        <dd>@Html.ValidationMessageFor(m => m.Personal)</dd>
                        <dd>&nbsp;</dd>
                    </dl>
                </div>
            </div>

            <div class="upload" style="text-align:right;">
                <input type="submit" id="btnUpdate" name="infobutton" value="Update Details" />
            </div>
            <div class="clear"></div>
        </div>
    </div>


}
