﻿@model IEnumerable<ArtistWala.Repository.tblArtistCategoryMapping>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlArtistType').change(function () {
            var CatType = $('#ddlArtistType').val();
            $("#ddlCategory").html('');
            $("#ddlCategory").append($("<option></option>").val('0').html('--Select Category--'));
            $.ajax({
                type: "POST",
                url: "/Services/GetCategory.ashx?catType=" + CatType,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (college) {
                    var result = JSON.parse(JSON.stringify(college));
                    $.each(result, function () {
                        $("#ddlCategory").append($("<option></option>").val(this['CategoryId']).html(this['CategoryName']));
                    });
                }
            });
        });

        $('#ddlCategory').change(function () {
            var CatType = $('#ddlCategory').val();
            $("#dvsubcategory").html('');
            $.ajax({
                type: "POST",
                url: "/Services/GetSubcategory.ashx?catType=" + CatType,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (college) {
                    
                    var result = JSON.parse(JSON.stringify(college));
                    //alert(result);
                    var i = 1;
                    $.each(result, function () {
                        $("#dvsubcategory").append('<input type="checkbox" class="chkSubs" name="chkSubCat' + i + '" value="' + this['SubCategoryId'] + '" />' + this['SubCategoryName']);
                        i++;
                    });

                    $('#hidSubcatCount').val(i);
                }
            });
        });

        $('#btnUpdate').click(function () {
            if ($('#ddlArtistType').val() == '0') {
                $('#dlcatType').show();
                return false;
            }
            else if ($('#ddlCategory').val() == '0') {
                $('#dlcat').show();
                return false;
            }
            else if ($('.chkSubs').is(':checked') == false) {
                $('#dlSubcat').show();
                return false;
            }
            else {
                return true;
            }
        });
    });
</script>

@using (Html.BeginForm("Categories", "MyProfile", FormMethod.Post))
{
    <input type="hidden" name="hidSubcatCount" id="hidSubcatCount" />
    <div class="totalContentdashboard">
        <div class="wrapper">
            <div style="color:green;">
                @ViewBag.Message
            </div>
            <div class="dashboard_white">
                <div class="orannge_b"></div>
                <div class="orannge_heading"> You are here: </div>
                <div class="pagenatn">
                    <ul>
                        <li> Account Control Panel › </li>
                        <li style="color:#09577b"> @ViewBag.Title</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <h1><strong>Select your category</strong> </h1>
                <div class="profile_pic_grey">
                    <dl>
                        <dt> <label for="image_title_hires">Artist Type:</label></dt>
                        <dd>
                            <select name="ddlArtistType" id="ddlArtistType">
                                <option value="0">--Select Artist Type--</option>
                                <option value="1">Musical Acts</option>
                                <option value="2">Entertainers</option>
                                <option value="3">Speakers</option>
                                <option value="4"> Other Services</option>
                            </select>
                        </dd>
                        <dd id="dlcatType" style="display:none;color:red;">Please select artist type</dd>

                        <dt><label for="image_title_hires">Category :</label></dt>
                        <dd>
                            <select name="ddlCategory" id="ddlCategory">
                                <option value="0">--Select Category--</option>
                            </select>
                        </dd>
                        <dd id="dlcat" style="display:none;color:red;">Please select category</dd>

                        <dt> <label for="image_title_hires">Subcategory:</label></dt>
                        <dd>
                            <div id="dvsubcategory">
                            </div>
							<div class="clear"></div>
                        </dd>
                        <dd id="dlSubcat" style="display:none;color:red;">Please select subcategory</dd>
						
						<dd>
							<div class="upload" style="margin-top:10px;float:right;">
								<input type="submit" id="btnUpdate" name="infobutton" value="Save" />
							</div>
						</dd>
						
                    </dl>

                    
                    <div class="clear"></div>
                    @ViewBag.Message
                    <div class="clear"></div>
                </div>
                <table cellspacing="0" cellpadding="10" border="0" class="my-table">
                    <tr class="tr-head" style="font-weight:600;">
                        <td>
                            Atrist Type
                        </td>
                        <td>Atrist Category</td>
                        <td>Subcategory</td>
                        <td>Action</td>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.tblArtistSubCategory.tblArtistCategory.tblArtistCategoryType.TypeName</td>
                                <td>@item.tblArtistSubCategory.tblArtistCategory.CategoryName</td>
                                <td>@item.tblArtistSubCategory.SubCategoryName</td>
                                <td><a href="@Url.Action("DeleteCategoryMapping", "MyProfile", new { id = item.ArtistCategoryMappingId })">Delete</a></td>
                            </tr>
                        }
                    }
                </table>
            </div>
            <div class="clear"></div>
        </div>
    </div>
}
