﻿@model IEnumerable<ArtistWala.Models.ArtistRating>
@{
    ViewBag.Title = "Edit Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="totalContentdashboard">
    <div class="wrapper">
        <div class="dashboard_white">
            <div class="orannge_b"></div>
            <div class="orannge_heading"> You are here: </div>
            <div class="pagenatn">
                <ul>
                    <li> Account Control Panel  &gt; </li>
                    <li style="color:#09577b">@ViewBag.Title</li>
                </ul>
            </div>
            <div class="clear"></div>

            <h1><strong>Update given review</strong> </h1>
            <div class="profile_pic_grey">
                <div class="clear"></div>
                <div class="name_dash_bg" id="abc" style="font-weight:600;font-weight:400;">
                    @foreach (var item in Model)
                    {
                        var star = item.Rating;
                        <div>
                            <div class="chat-sec">

                                @if (item.ProfileImage != null)
                                {
                                    <div class="chat-pro-img">
                                        <img style="height:70px;" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + item.ProfileImage)" alt="" />
                                        <div class="clear"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="chat-pro-img">
                                        <img src="~/images/dashbord_pic.jpg" alt="" />
                                        <div class="clear"></div>
                                    </div>
                                }

                                <div class="chat-content">
                                    <div class="msg-u-name">
                                        Artist Name :  @Html.DisplayFor(modelItem => item.ArtistName)
                                    </div>
                                    <div class="name">
                                        Comment : @Html.DisplayFor(modelItem => item.Comment)
                                    </div>
                                    <div class="msg-title">
                                        Rated :
                                        @for (int i = 1; i <= star; i++)
                                        {
                                            <strong title='@i'>*</strong>
                                        }
                                    </div>

                                    <div class="clear"></div>

                                </div>
                                <input type="hidden" id="quoteid" value="@item.ArtistRatingId">
                            </div>
                        </div>
                    }
                </div>
                <div class="clear"></div>
                <div class="name_dash_bg" id="abc" style="font-weight:600;font-weight:400;">
                    <div>
                        <div class="chat-sec">
                            <div class="chat-content">
                                <div id="showhidetarget" class="pop-up-rply">
                                    <div id="showhidetarget">
                                        <fieldset class="rating">
                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Excellent">5 stars</label>
                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Well Done">4 stars</label>
                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Good">3 stars</label>
                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Okay">2 stars</label>
                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Unhappy">1 star</label>
                                        </fieldset>

                                        @Html.TextArea("Comment", null, new { @class = "form-control", style = "height: 46px;width: 75%;", placeholder = "Share your experience. " })

                                    </div>
                                </div>
                                <div class="clear"></div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                @ViewBag.Message
                <div class="clear"></div>
            </div>
            <div class="upload" style="width:96%; margin-bottom:-41px; text-align:left;">
                <input type="submit" onclick="location.href = '../Reviews';" id="btnUpdate" name="infobutton" value="back" />
            </div>
            <div class="upload" style="width:96%; margin:0 auto; text-align:right;">
                <input type="submit" id="btnUpdate" name="infobutton" onclick="UpdateReview()" value="Update" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function UpdateReview() {
        var id = $("#quoteid").val();
        var Review = $('input[name=rating]:checked').val();
        var Comment = $("#Comment").val();
        //alert(id);
        //alert(Comment);
        $.ajax({
            type: "POST",
            url: "/MyProfile/UpdateReview?ArtistRatingId=" + id + "&Review=" + Review + "&Comment=" + Comment,
            dataType: "JSON",
            async: false,
            success: function (result) {
                alert("Thank you for updating your review");
                $("#" + id).val("");
                window.location.href = '@Url.Action("Reviews", "MyProfile")';
            }
        });
    }
</script>