﻿@model IEnumerable<ArtistWala.Areas.Admin.Models.MessageModel>
@{
    ViewBag.Title = "Leads";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string[] NameArr = null;
    string SendByName = Convert.ToString(ViewBag.SendByName);
    if (!string.IsNullOrEmpty(SendByName))
    {
        NameArr = SendByName.Split(',');
    }
    string[] ReplyArr = null;
    string ReplayByNmae = Convert.ToString(ViewBag.ReplayByNmae);
    if (!string.IsNullOrEmpty(ReplayByNmae))
    {
        ReplyArr = ReplayByNmae.Split(',');
    }

}
<div class="totalContentdashboard">
    <div class="wrapper">
        <div class="dashboard_white">
            <div class="orannge_b"></div>
            <div class="orannge_heading"> You are here: </div>
            <div class="pagenatn">
                <ul>
                    <li> Account Control Panel  &gt; </li>
                    <li style="color:#09577b">@ViewBag.Title</li>
                </ul>
            </div>
            <div class="clear"></div>
            @if (Model != null)
            {
                <div class="dashboard_sky">
                    <div class="dashboard_rept"> </div>
                    <div class="dashboard_cnt">
                        <div class="das_bg">
                            <select class="dropdwn">
                                <option selected=selected id="spCount"></option>
                            </select>
                            <div class="paging">
                                <ul>
                                    <li><a href="javascript:void(0);">1</a></li>
                                    @*<li><a href="javascript:void(0);">2</a></li>*@
                                    <li><a href="javascript:void(0);">Next </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                        @{ int i = 0;
                         int count = 0;
                         foreach (var item in Model)
                         {

                             string dvName = "divUserMessage" + (i + 1);
                             string SendReplay = "replayMessage" + (i + 1);
                             string ApproveTo = "tobook" + (i + 1);
                             string dvReplay = "divReplayMessage" + (i + 1);
                             string dvname_dash_bg = "name_dash_bg" + (i + 1);
                             string Messagebody = item.MessageBody;

                            <div class="name_dash_bg" id="@dvname_dash_bg" style="@(item.IsUnread == true ? "font-weight:600;" : "font-weight:400;")">
                                <div>
                                    <div class="chat-sec">
                                        @if (item.SendByPic != null)
                                        {
                                            <div class="chat-pro-img">
                                                <img style="height:70px;" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + item.SendByPic)" alt="" />
                                                <div class="clear"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="chat-pro-img">
                                                <img src="~/images/dashbord_pic.jpg" alt="" />
                                                <div class="clear"></div>
                                            </div>
                                        }

                                        <div class="chat-content">
                                            <div class="name">
                                                @if (item.SendBy == 1)
                                                {
                                                    Html.Raw("Artistwala");
                                                }
                                            </div>
                                            <div class="msg-u-name">
                                                @if (!string.IsNullOrEmpty(Convert.ToString(NameArr[count])))
                                                {
                                                    @NameArr[count]
                                                }
                                            </div>
                                            <div class="msg-title">@item.MessageSubject</div>
                                            @if (item.MessageBody.Length > 24)
                                            {
                                                Messagebody = item.MessageBody.Substring(0, 25) + "..";
                                            }
                                            <div class="msg-bdy">@Messagebody</div>
                                            <div class="button">
                                                <a class="fancybox" onclick="getReadMessage(@item.MessageId);" href="#@dvName">Details</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>

                                    <div class="rply-div">
                                        @if (item.ReplayList.Count > 0)
                                        {
                                            int RCount = 0;
                                            int j = 1;
                                            foreach (var messa in item.ReplayList)
                                            {
                                                <div class="rply-sec">

                                                    @if (item.ReplyByPic != null)
                                                    {
                                                        <div class="chat-pro-img">
                                                            <img style="height:70px;" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + item.ReplyByPic)" alt="" />

                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="chat-pro-img">
                                                            <img src="~/images/dashbord_pic.jpg" alt="" />

                                                        </div>
                                                    }

                                                    <div class="rply-content reply-content">
                                                        <div class="name" style="display:inline">
                                                            @if (messa.SendBy == 1)
                                                            {
                                                                Html.Raw("Artistwala");
                                                            }
                                                        </div>
                                                        <div class=" msg-u-name">
                                                            @if (!string.IsNullOrEmpty(Convert.ToString(ReplyArr[RCount])))
                                                            {
                                                                @ReplyArr[RCount]
                                                            }
                                                        </div>
                                                        <div class="txt msg-bdy">
                                                            <h3>@messa.MessageBody</h3>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>

                                                    <div class="clear"></div>
                                                </div>
                                                            j++;
                                                            RCount++;
                                            }
                                        }
                                        <div class="clear"></div>
                                    </div>
                                    <div>                                        
                                        <div style="padding-top: 1%; text-align:right;">
                                            <a class="fancybox" href="#@dvReplay">Reply</a>
                                        </div>
                                        
                                        <div class="upload" style="padding-top: 1%; text-align:left;">
                                            <input type="hidden" id="quoteid"value="@item.Fk_QuoteId">
                                            <a class="button" href="javascript:void()" id="@ApproveTo" onclick="ApproveToBook(@item.MessageId)">Approve To Book</a>
                                        </div>
                                        <div id="@dvReplay" class="pop-up-rply" style="display:none;">
                                            <textarea id="@item.MessageId" name="ReplayArea"></textarea>
                                            <a class="button" href="javascript:void()" id="@SendReplay" onclick="SendReplayMessage(@item.MessageId)">Send</a>
                                        </div>
                                    </div>
                                    <div id="@dvName" style="display:none;">
                                        <h1>Subject: @item.MessageSubject </h1>
                                        <br />
                                        @item.MessageBody
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>





                                        i++;
                                        count++;
                         }
                        }
                        <div class="clear"></div>
                    </div>
                </div>
            }
            <div class="clear"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.fancybox').fancybox({
            'autoSize': true,
            'closeClick': false,
            'autoPlay': false,
            padding: 1,
            helpers: { overlay: { closeClick: false } }
        });

        $('#spCount').html('All messages [' + '@Convert.ToInt32(Model.Where(x => x.IsUnread == true).Count())]');
        $('#aMesageCount').html('@Convert.ToInt32(Model.Where(x => x.IsUnread == true).Count())');
    });

    function getReadMessage(id) {
        $.ajax({
            type: "POST",
            url: "/Services/UpdateReadMessage.ashx?id=" + id,
            dataType: "text",
            async: false,
            success: function (result) {
                if (result == 'success') {
                    $('#spCount').html('');
                    $('#spCount').html('All messages [' + '@Convert.ToInt32(Model.Where(x => x.IsUnread == true).Count() - 1)]');
                    $('#aMesageCount').html('@Convert.ToInt32(Model.Where(x => x.IsUnread == true).Count() - 1)');
                    $('#name_dash_bg' + id).css('font-weight', "400");
                }
            }
        });
    }

    function SendReplayMessage(id) {
        var MessageBody = $("#" + id).val();
        $.ajax({
            type: "POST",
            url: "/MyProfile/SendReplayMessage?id=" + id + "&MessageBody=" + MessageBody,
            dataType: "JSON",
            async: false,
            success: function (result) {
                alert("Message has been sent.");
                $("#" + id).val("");
                window.location.href = '@Url.Action("Leads", "MyProfile")';
            }
        });
    }



    function ApproveToBook(id) {
        var btnvalue = $("True" + id).val();
        var Fk_QuoteId = $("#quoteid").val();        
        $.ajax({
            type: "POST",
            url: "/MyProfile/ApproveToBook?id=" + id + "&Fk_QuoteId="+Fk_QuoteId,
            dataType: "JSON",
            async: false,
            success: function (result) {
                alert("Lead successfully approved");
                $("#" + id).val("");
                window.location.href = '@Url.Action("Leads", "MyProfile")';
            }
        });
    }



</script>
