﻿@{
    ViewBag.Title = "Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(function () {
        var lat = -33.8688,
            lng = 151.2195,
            latlng = new google.maps.LatLng(lat, lng),
            image = 'http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png';

        var mapOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        },
            map = new google.maps.Map(document.getElementById('map'), mapOptions),
            marker = new google.maps.Marker({
                position: latlng,
                map: map,
                icon: image
            });

        var input = document.getElementById('Address');
        var autocomplete = new google.maps.places.Autocomplete(input, {
            types: ["geocode"]
        });

        autocomplete.bindTo('bounds', map);
        var infowindow = new google.maps.InfoWindow();

        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            infowindow.close();
            var place = autocomplete.getPlace();
            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            } else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }

            moveMarker(place.name, place.geometry.location);
        });

        $("#location").focusin(function () {
            $(document).keypress(function (e) {
                if (e.which == 13) {
                    infowindow.close();
                    var firstResult = $(".pac-container .pac-item:first").text();
                    var geocoder = new google.maps.Geocoder();
                    geocoder.geocode({ "address": firstResult }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            var lat = results[0].geometry.location.lat(),
                                lng = results[0].geometry.location.lng(),
                                placeName = results[0].address_components[0].long_name,
                                latlng = new google.maps.LatLng(lat, lng);

                            moveMarker(placeName, latlng);
                            $("#location").val(firstResult);
                            BindAddess($('#location').val());
                        }
                    });
                    return false;
                }
            });
        });

        function moveMarker(placeName, latlng) {
            marker.setIcon(image);
            marker.setPosition(latlng);
            infowindow.setContent(placeName);
            infowindow.open(map, marker);
        }

        $('#location').blur(function () {
            BindAddess($('#location').val());
        });

        BindAddess($('#Address').val());
    });

    function BindAddess(value) {
        var arr = value.split(',');
        if (value.indexOf(',') != -1) {
            $('#location').val(arr[arr.length - 2]);
            //$('#City').val(arr[arr.length - 3]);
            //$('#Country').val(arr[arr.length - 1]);
        }
    }
</script>

<div class="totalContentdashboard">
    <div class="wrapper">
        <div class="dashboard_white">
            <div class="orannge_b"></div>
            <div class="orannge_heading"> You are here: </div>
            <div class="pagenatn">
                <ul>
                    <li> Account Control Panel › </li>
                    <li style="color:#09577b"> @ViewBag.Title</li>
                </ul>
            </div>
            <div class="clear"></div>


            <div class="location">
                <h1>Your PromoKit Location</h1>
                <p> Your PromoKit appears in search results in the location you set below.</p>

                <div class="location_bg">
                    <div class="location_newyk">
                        <h2> New York City, New York <span>(<a href="javascript:void(0);">change</a>)</span></h2>
                        <h3>
                            This is your primary location.<span>
                                The central location where you
                                are based.
                            </span>
                        </h3>
                    </div>
                    <!--  ---hidden div-----    -->

                    <p>
                        <input type="text" name="search_city" class="hiddn_txt_bx" id="location" value="" placeholder="City, zip, or postal code…" maxlength="50" autocomplete="off">
                        <div class="upload2"><a href="javascript:void(0);">set new location</a></div>
                        <div class="change"> <a class="fLeft" href="javascript:void(0);">Cancel</a></div>
                    </p>
                    <!--  ---hidden div-----    -->

                    <div class="location_newyk_r">
                        @*<h3> Added April 30, 2014</h3>*@
                    </div>
                    <div class="clear"></div>
                </div>


                <div class="location_sky">

                    <h2> List yourself in another location!</h2>
                    <h4>
                        Only paid members are able to list themselves in multiple locations.<br />
                        Before you can purchase another location<span> you must choose a pre-paid </span>membership. <a href="javascript:void(0);">Learn about upgrading</a>
                    </h4>

                    <div class="clear"></div>
                </div>



            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>

