﻿@model IEnumerable<ArtistWala.Models.ArtistRating>
@{
    Layout = null;
}


<div class="dashboard_cnt">
    <div class="pagenatn">
        <ul>
            <li> Review Recived :</li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="name_dash_bg" id="abc" style="font-weight:600;font-weight:400;">
        @if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                var star = item.Rating;
                <div>
                    <div class="chat-sec">
                        @if (item.ClientImage != null)
                        {
                            <div class="chat-pro-img">
                                <img style="height:70px;" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + item.ClientImage)" alt="" />
                                <div class="clear"></div>
                            </div>
                        }
                        else
                        {
                            <div class="chat-pro-img">
                                <img src="~/images/dashbord_pic.jpg" alt="" />
                                <div class="clear"></div>
                            </div>
                        }

                        <div class="chat-content">
                            <div class="msg-u-name">
                                Client Name :  @Html.DisplayFor(modelItem => item.ClientName)
                            </div>
                            <div class="name">
                                Comments : @Html.DisplayFor(modelItem => item.Comment)
                            </div>
                            <div class="msg-title">
                                @for (int i = 1; i <= star; i++)
                                {
                                    <strong title='@i'>*</strong>
                                }
                            </div>
                            <input type="hidden" id="quoteid" value="@item.ArtistRatingId">

                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

            }
        }
        else
        {
            <h2 style="text-align: center;"> Nothing to show !</h2>
        }

    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript">

    function SendReplayMessage(id) {
        var MessageBody = $("#" + id).val();
        $.ajax({
            type: "POST",
            url: "/MyProfile/SendReplayMessage?id=" + id + "&MessageBody=" + MessageBody,
            dataType: "JSON",
            async: false,
            success: function (result) {
                alert("Message has been sent.");
                $("#" + id).val("");
                window.location.href = '@Url.Action("Reviews", "MyProfile")';
            }
        });
    }
</script>

