﻿@model ArtistWala.Models.MyProfileModel
@{
    Layout = null;
}

@if (Model != null)
{

    <h2><strong>Maanage your notification settings.</strong> </h2>
    if (Model.Notification == true)
    {
        <div class="view_p" style="width:96%; margin:0 auto; text-align:left;">
            @Html.CheckBox("IsNotify", true) Send me all notification via e-mail and text message.
            <a style="background:#09577b" href="javascript:void()" onclick="Notify(@Model.FK_UserId)">Save</a>
        </div>
    }
    else
    {
        <div class="view_p" style="width:96%; margin:0 auto; text-align:left;">
            @Html.CheckBox("IsNotify", false) Send me all notification via e-mail and text message.
            <a style="background:#09577b" href="javascript:void()" onclick="Notify(@Model.FK_UserId)">Save</a>
        </div>
    }
    <h5>Note : Uncheck to stop e-mail and text message notification.</h5>

}


<script type="text/javascript">
    function Notify(id) {
        var status = $('#IsNotify:checked').val() ? true : false
        $.ajax({
            type: "POST",
            url: "/MyProfile/Notify?id=" + id + "&Notify=" + status,
            dataType: "JSON",
            async: false,
            success: function (result) {
                alert("Notification settings changed successfully");
                window.location.href = '@Url.Action("Tools", "MyProfile")';
            }
        });
    }
</script>