﻿@model IEnumerable<ArtistWala.Repository.tblQuote>
@{
    ViewBag.Title = "Your Quotes Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="totalContentdashboard">
    <div class="wrapper">
        <div class="dashboard_white">
            <div class="orannge_b"></div>
            <div class="orannge_heading"> You are here: </div>
            <div class="pagenatn">
                <ul>
                    <li> Account Control Panel › </li>
                    <li style="color:#09577b"> @ViewBag.Title</li>
                </ul>
            </div>
            <div class="clear"></div>

            <h1><strong>Your Quotes Lists</strong> </h1>

            <div class="profile_pic_grey">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Client Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Event Date</th>
                            <th>No Of guest</th>
                            <th>Event Duration</th>
                            <th>Event Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                            foreach (var item in Model)
                            {
                                if (i % 2 == 0)
                                {
                                    <tr class="odd gradeX">
                                        <td>@item.tblClient.ClientName</td>
                                        <td>@item.tblClient.ContactNo</td>
                                        <td>@item.tblClient.Email</td>
                                        <td class="center">@string.Format("{0:dd/MM/yyyy}", item.EventDate)</td>
                                        <td>@item.NoOfGuest</td>
                                        <td>@item.EventDuration</td>
                                        <td>@item.EventDetails</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="even gradeC">
                                        <td>@item.tblClient.ClientName</td>
                                        <td>@item.tblClient.ContactNo</td>
                                        <td>@item.tblClient.Email</td>
                                        <td class="center">@string.Format("{0:dd/MM/yyyy}", item.EventDate)</td>
                                        <td>@item.NoOfGuest</td>
                                        <td>@item.EventDuration</td>
                                        <td>@item.EventDetails</td>
                                    </tr>
                                }
                                i++;
                            }
                        }
                    </tbody>
                </table>

                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

