﻿@model IEnumerable<ArtistWala.Models.ArtistRating>
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string[] NameArr = null;
    string AssignedName = Convert.ToString(ViewBag.AssignedName);
    if (!string.IsNullOrEmpty(AssignedName))
    {
        NameArr = AssignedName.Split(',');
    }
    string[] ReplyArr = null;
    string ReplayByNmae = Convert.ToString(ViewBag.ReplayByNmae);
    if (!string.IsNullOrEmpty(ReplayByNmae))
    {
        ReplyArr = ReplayByNmae.Split(',');
    }

}
<div class="totalContentdashboard">
    <div class="wrapper">
        <div class="dashboard_white">
            <div class="orannge_b"></div>
            <div class="orannge_heading"> You are here: </div>
            <div class="pagenatn">
                <ul>
                    <li> Account Control Panel  &gt; </li>
                    <li style="color:#09577b">@ViewBag.Title</li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="dashboard_sky">
                <div class="dashboard_rept"> </div>
                <div class="dashboard_cnt">
                    <div class="pagenatn">
                        <ul>
                            <li> Give Review :</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="name_dash_bg" id="abc" style="font-weight:600;font-weight:400;">
                        <div>
                            @if (Model.Count() != 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="chat-sec">
                                        @if (item.ProfileImage != null)
                                        {
                                            <div class="chat-pro-img">
                                                <img style="height:70px;" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + item.ProfileImage)" alt="" />
                                                <div class="clear"></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="chat-pro-img">
                                                <img src="~/images/dashbord_pic.jpg" alt="" />
                                                <div class="clear"></div>
                                            </div>
                                        }

                                        <div class="chat-content">
                                            <div class="msg-u-name">
                                                Artist Name : @Html.DisplayFor(modelItem => item.ArtistName)
                                            </div>
                                            <div class="clear"></div>
                                            @*<div class="msg-u-name">
                                                    Event Details : @Html.DisplayFor(modelItem => item.EventDetails)
                                                    <input type="hidden" id="quoteid" value="@item.QuoteId">
                                                </div>*@
                                            @*<div class="msg-title">Place : @Html.DisplayFor(modelItem => item.City)</div>*@
                                            <fieldset class="rating">
                                                <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Excellent">5 stars</label>
                                                <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Well Done">4 stars</label>
                                                <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Good">3 stars</label>
                                                <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Okay">2 stars</label>
                                                <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Unhappy">1 star</label>
                                            </fieldset>
                                            @Html.TextArea("Comment", null, new { @class = "form-control", style = "height: 46px;width: 74%;", placeholder = "Share your experience. " })

                                            <div style="text-align:right;margin-top: -40px;">
                                                <a class="fancybox" href="javascript:void()" onclick="SaveReview(@item.ArtistRatingId)">Save</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h2 style="text-align: center;"> Nothing to show !</h2>
                            }
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                @{
                    Html.RenderAction("GivenReview", "MyProfile");
                }

                @{
                    Html.RenderAction("MyReviews", "MyProfile");
                }

                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    function SaveReview(id) {
        var Review = $('input[name=rating]:checked').val();
        var Comment = $("#Comment").val();
        $.ajax({
            type: "POST",
            url: "/MyProfile/SaveReview?ArtistRatingId=" + id + "&Review=" + Review + "&Comment=" + Comment,
            dataType: "JSON",
            async: false,
            success: function (result) {
                alert("Thank you for submiting your review");
                $("#" + id).val("");
                window.location.href = '@Url.Action("Reviews", "MyProfile")';
            }
        });
    }
</script>
