﻿@model ArtistWala.Models.MyProfileModel
@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery.ui.js"></script>
<script src="http://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=false"></script>
<script type="text/javascript">
    var CalenderControl = new function () {
        this.ControlId = '';
        this.Show = function () {
            $("#" + this.ControlId).datepicker({
                showOn: "focus",
                buttonImageOnly: false,
                dateFormat: "mm/dd/yy",
                showAnim: "show",
                autoSize: true,
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                yearRange: '1960:2050'
            });
        };
    }

    $(document).ready(function () {
        CalenderControl.ControlId = 'DateOfBirth';
        CalenderControl.Show();
    });

</script>
<div class="totalContentdashboard">
    <div class="wrapper">
        <div class="dashboard_white">
            <div class="orannge_b"></div>
            <div class="orannge_heading"> You are here: </div>
            <div class="pagenatn">
                <ul>
                    <li> Account Control Panel › </li>
                    <li style="color:#09577b"> @ViewBag.Title</li>
                </ul>
            </div>
            <div class="clear"></div>

            @{
                Html.RenderAction("Notification", "MyProfile");
            }

            <div class="clear"></div>
            <h2><strong>Manage your account's visibility .</strong> </h2>
            <div class="view_p" style="width:96%; margin:0 auto; text-align:left;">
                @if (Model.IsActive == true)
                {
                    <p>Your account is currently visible to clients.</p>
                    <a style="background:#be3030" href="javascript:void()" onclick="Deactive(@Model.FK_UserId)">Invisible</a> 
                }
                else
                {
                    <p>Your account is currently invisible to clients.</p>
                    <a style="background:#349620" href="javascript:void()" onclick="Active(@Model.FK_UserId)">Visible</a> 
                }                
                
            </div>
            <h5>Note : You can manage your account invisible from all the clients by clicking " Invisible " button. / You can manage your account visible for all the clients by clicking " Visible " button. </h5>


            <div class="clear"></div>
            <h2><strong>Want to delete your account ?</strong> </h2>
            <div class="view_p" style="width:96%; margin:0 auto; text-align:left;">
                <a id="setdel" href="#del" style="background:#ef3a3a">Delete Permanently</a>
                @*<a style="background:#ef3a3a" href="javascript:void()" onclick="DeletePermanently(@Model.FK_UserId)">Delete Permanently</a>*@
            </div>
            <h5>Note : After clicking " Delete Permanently " button your all data will be removed.</h5>




            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div id="map"></div>

<div id="del" style="display: none;margin:20px;">
   
        <div id="divReplayMessage1" class="pop-up-rply" style="">
            Clicking " Yes " button your all data will be removed from Artistwala.
        </div>
        <div>
            <div class="wrapper">
                <div style="margin-bottom:0px;" class="join_box_btn"><a href="javascript:void()" onclick="DeletePermanently(@Model.FK_UserId)">Yes</a></div>
            </div>
        </div>
   
</div>



<script type="text/javascript">
    function Deactive(id) {
        var Deactive = $("#TypeId").val();
        $.ajax({
            type: "POST",
            url: "/MyProfile/Deactive?Deactive=" + id,
            dataType: "JSON",
            async: false,
            success: function (result) {
                alert("Your account is invisible to others");
                $("#" + id).val("");
                window.location.href = '@Url.Action("Tools", "MyProfile")';
            }
        });
    }
</script>

<script type="text/javascript">
    $(function () {
        $('#setdel').fancybox({
            'autoSize': false,
            'width': 550,
            'height': 200,
            padding: 5,
            helpers: { overlay: { closeClick: false } }
        });
    });
</script>

<script type="text/javascript">
    function Active(id) {
        var Active = $("#TypeId").val();
        $.ajax({
            type: "POST",
            url: "/MyProfile/Active?Active=" + id,
            dataType: "JSON",
            async: false,
            success: function (result) {
                alert("Your account is visible to others");
                $("#" + id).val("");
                window.location.href = '@Url.Action("Tools", "MyProfile")';
            }
        });
    }
</script>

<script type="text/javascript">
    function DeletePermanently(id) {
        var DeletePermanently = $("#TypeId").val();
        $.ajax({
            type: "POST",
            url: "/MyProfile/DeletePermanently?DeletePermanently=" + id,
            dataType: "JSON",
            async: false,
            success: function (result) {
                //alert("Your account will be Deleted soon .");
                $("#" + id).val("");
                window.location.href = '@Url.Action("Index", "Home")';
            }
        });
    }
</script>