﻿@model ArtistWala.Models.UserProfileModel
@{
    ViewBag.Title = "Your Personal Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery.ui.js"></script>
<script src="http://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=false"></script>
<script type="text/javascript">
    $(function () {
        $('.alpnum').keypress(function (e) {
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }

            e.preventDefault();
            return false;
        });
    });
</script>

@using (Html.BeginForm("UserInfo", "MyProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="totalContentdashboard">
        <div class="wrapper">
            <div class="dashboard_white">
                <div class="orannge_b"></div>
                <div class="orannge_heading"> You are here: </div>
                <div class="pagenatn">
                    <ul>
                        <li> Account Control Panel › </li>
                        <li style="color:#09577b"> @ViewBag.Title</li>
                    </ul>
                </div>
                <div class="clear"></div>

                <h1><strong>Update your profile</strong> </h1>

                <div class="profile_pic_grey">

                    <dl>
                        <dt> <label for="image_title_hires">@Html.LabelFor(m => m.UserName):</label></dt>
                        <dd>@Html.TextBoxFor(m => m.UserName, null, new { @class = "alpnum" ,maxlength=20})</dd>
                        <dd>@Html.ValidationMessageFor(m => m.UserName)</dd>

                        <dt> <label for="image_title_hires">@Html.LabelFor(m => m.ClientName):</label></dt>
                        <dd>@Html.TextBoxFor(m => m.ClientName)</dd>
                        <dd>@Html.ValidationMessageFor(m => m.ClientName)</dd>

                        <dt> <label for="image_title_hires">@Html.LabelFor(m => m.Email):</label></dt>
                        <dd>@Html.TextBoxFor(m => m.Email)</dd>

                        <dt> <label for="image_title_hires">Mobile Number :</label></dt>
                        <dd>@Html.TextBoxFor(m => m.ContactNo, new { onkeypress = "return checkOnlyNumber(this,event);" })</dd>
                        <dd>@Html.ValidationMessageFor(m => m.ContactNo)</dd>
                        <dd>&nbsp;</dd>
                        
                    </dl>

                    <div class="clear"></div>

                    @ViewBag.Message
                    <div class="clear"></div>
                </div>
                <div class="upload" style="width:96%; margin:0 auto; text-align:right;">
                    <input type="submit" id="btnUpdate" name="infobutton" value="Update" />
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
}
<div id="map"></div>
