﻿@{
    ViewBag.Title = "Videos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $('#btnSave').click(function () {
        if ($('#image_title_hires').val() == '') {
            $('#reqImageTitle').show();
            return false;
        }
        else if ($('#image_title_url').val() == '') {
            $('#reqImageUrl').show();
            return false;
        }
        else {
            return true;
        }
    });
</script>

@using (Html.BeginForm("Videos", "MyProfile", FormMethod.Post))
{
    <div class="totalContentdashboard">
        <div class="wrapper">
            <div class="dashboard_white">
                <div class="orannge_b"></div>
                <div class="orannge_heading"> You are here: </div>
                <div class="pagenatn">
                    <ul>
                        <li> Account Control Panel › </li>
                        <li style="color:#09577b"> @ViewBag.Title</li>
                    </ul>
                </div>
                <div class="clear"></div>


                <div class="location">
                    <h1><strong> Add youtube Video link </strong> </h1>
                    @*<div class="profile_pic_y box_mrgn_b">
                            <div class="dashboard_rept"></div>
                            <div class="dashboard_cnt"> <strong> Note</strong>: High resolution press photos are only available to Pro and Featured members.<br /><a href="javascript:void(0);">Upgrade Today!</a></div>
                        </div>*@

                    <h1><strong> </strong> </h1>
                    <div class="profile_pic_grey box_mrgn_b">
                        <!--For best results, we recommend uploading your videos to sites like YouTube or Vimeo, then embedding them in your Gig Salad PromoKit. They'll load faster, can be longer, and can be universally viewed on mobile devices.<br /><br />

                        We allow videos from YouTube and Vimeo.<br /><br />

                        Simply copy the Link/URL from your browser address bar and paste that link here to add it to your PromoKit.<br /><br />

                        For example, if you have uploaded a video to YouTube then you will paste a link which looks similar to:<br />
                        <span style="font-size:1em;">http://youtube.com/watch?v=XXXXXXXXXXX –or– http://youtu.be/XXXXXXXXXXX</span>-->
                        <dl>
                            <dt> <label for="image_title_hires">Video Title:</label></dt>
                            <dd><input type="text" name="video_title" id="image_title_hires" class="paid_disabled" value="" maxlength="255"> </dd>
                            <span id="reqImageTitle" style="display:none;color:red;">
                                Please enter your video title
                            </span>
                            <dt><label for="press_image_file">Video Link/URL:</label></dt>
                            <dd><input type="text" name="video_url" id="image_title_url" class="paid_disabled" value="" maxlength="255"> </dd>
                            <span id="reqImageUrl" style="display:none;color:red;">
                                Please enter your video link
                            </span>
                            <dd><div class="upload" style="text-align:right;"><input type="submit" id="btnSave" value="Save" /></div></dd>
                            <dd>@ViewBag.Message</dd>
                        </dl>
                    </div>
                </div>
                <br />
                @{
    int i = 1;
    <table cellspacing="0" cellpadding="10" border="0" class="my-table thumb-icon">
                    <tr class="tr-head" style="font-weight:600;">
            <td>
                Video Title
            </td>
            <td>Video</td>
            <td>Action</td>
        </tr>
        @foreach (var item in Model)
        {
            if (item.FileType == "video")
            {
                string dvName = "dvImage" + i;
                string aName = "aImage" + i;
                string img = item.Url;
                string [] arr= img.Split('/');
                string thumb = "http://img.youtube.com/vi/" + arr[arr.Length - 1] + "/0.jpg";
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        <a id="@aName" href="#@dvName" title="@item.Title"> 
                            @*@item.Title*@
                            @*<img src='@thumb' alt="" border="0" />*@
                            <img src="@thumb" alt="" border="0" />
                        </a>
                        <div id="@dvName" style="display:none;">
                            Video Title : @item.Title
                            <br />
                            @if (!string.IsNullOrEmpty(item.Url))
                            {
                                <script type="text/javascript">
                                    $(function () {
                                        $('#@aName').fancybox({
                                            'autoSize': true,
                                            href: '@item.Url',
                                            type: 'iframe',
                                            padding: 5,
                                            helpers: { overlay: { closeClick: false } }
                                        });
                                    });
                                </script>
                            }
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td>
                        <a href="@Url.Action("DeleteVideo", "MyProfile", new { id = item.PortfolioId })" title="Delete">Delete</a>
                    </td>
                </tr>
                            i++;
            }
        }
    </table>
                }
                <div class="clear"></div>
            </div>
        </div>
    </div>
}
