﻿@{
    ViewBag.Title = "Artist Calender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/js/calender/css/paragridma.css">
<!-- Core CSS File. The CSS code needed to make eventCalendar works -->
<link rel="stylesheet" href="/js/calender/css/eventCalendar.css">
<!-- Theme CSS file: it makes eventCalendar nicer -->
<link rel="stylesheet" href="/js/calender/css/eventCalendar_theme_responsive.css">
<link href="/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#ddlArtist").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Services/GetArtists.ashx?name=' + $("#ddlArtist").val(),
                    dataType: "json",
                    success: function (data) {
                        var result = JSON.parse(JSON.stringify(data));
                        response($.map(result, function (item) {
                            return {
                                label: item['ArtistName'],
                                val: item['ArtistId']
                            }
                        }));
                    },
                    error: function (result) {
                        // alert("Error");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $('#ddlArtist').val(ui.item.label);                
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Services/GetScheduleCalender.ashx?ArtistId=' + ui.item.val,
                    dataType: "json",
                    success: function (data) {
                        var result = JSON.parse(JSON.stringify(data));                        
                        if (result != '') {
                            $("#eventCalendarInline").eventCalendar({
                                jsonData: result
                            });
                        } else {
                           // alert('No Event Schedule');
                        }
                    },
                    error: function (result) {
                        // alert("Error");
                    }
                });
                return false;
            }
        });
    });

</script>
@using (Html.BeginForm("YourCalender", "MyProfile", FormMethod.Post))
{
    <div class="totalContentdashboard">
        <div class="wrapper">
            <div class="dashboard_white">
                <div class="orannge_b"></div>
                <div class="orannge_heading"> You are here: </div>
                <div class="pagenatn">
                    <ul>
                        <li> Account Control Panel › </li>
                        <li style="color:#09577b"> @ViewBag.Title</li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="location">
                    <h1><strong>Artist Calendar</strong></h1>
                    <h2><strong></strong></h2>
                    <div class="singleFormqq single-form-left">
                        Select Artist * (Please enter atleast 2 charecters to search artist):<br />
                        <input type="text" name="ddlArtist" id="ddlArtist" class="form-control" />
                        <span id="reqArtist" style="display:none;color:red;">
                            Please select artist
                        </span>
                    </div>
                    <div class="clear"></div>
                    <div class="profile_bg">
                        <div id="eventCalendarInline"></div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script src="/js/calender/js/moment.js" type="text/javascript"></script>
<script src="/js/calender/js/jquery.eventCalendar.min.js" type="text/javascript"></script>

