﻿@model ArtistWala.Models.LoginModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Artistwala Admin - Login</title>
    <link href="/Themes/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Themes/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="/Themes/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Themes/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Themes/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="/Themes/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Themes/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Themes/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="/Themes/bower_components/raphael/raphael-min.js"></script>
    <link href="/Themes/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="/Themes/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
    <!-- Custom Theme JavaScript -->
    <script src="/Themes/dist/js/sb-admin-2.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    @using (Html.BeginForm("AdminLogin", "Dashboard", FormMethod.Post, new { Area = "Admin", enctype = "multipart/form-data" }))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="login-panel panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign In</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form">
                                <fieldset>
                                    <div class="form-group" style="color:red;">
                                        @ViewBag.Message
                                    </div>
                                    <div class="form-group">
                                        <label>User Name *</label>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", maxlength = "100", style = "width:100%", placeholder = "User Name" })
                                        <p class="help-block">
                                            @Html.ValidationMessageFor(m => m.UserName)
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label>Password *</label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", maxlength = "50", style = "width:100%", placeholder = "Password" })
                                        <p class="help-block">
                                            @Html.ValidationMessageFor(m => m.Password)
                                        </p>
                                    </div>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" id="btnSave" class="btn btn-lg btn-success btn-block">Login</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
