﻿@model ArtistWala.Repository.tblArtist
@{
    ViewBag.Title = Model.ArtistName;
    ViewBag.MetaDescription = Model.AboutMe;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{RouteData rd = RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current)); }

<link href="/js/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.bxslider/jquery.bxslider.js"></script>
<link rel="stylesheet" href="/js/calender/css/paragridma.css">
<!-- Core CSS File. The CSS code needed to make eventCalendar works -->
<link rel="stylesheet" href="/js/calender/css/eventCalendar.css">
<!-- Theme CSS file: it makes eventCalendar nicer -->
<link rel="stylesheet" href="/js/calender/css/eventCalendar_theme_responsive.css">
<link href="/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/js/jquery.ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/Services/GetScheduleCalender.ashx?Profile=' + '@rd.Values["Profile"]',
            dataType: "json",
            success: function (data) {
                var result = JSON.parse(JSON.stringify(data));
                if (result != '') {
                    $("#eventCalendarInline").eventCalendar({
                        jsonData: result
                    });
                } else {
                    // alert('No Event Schedule');
                }
            },
            error: function (result) {
                // alert("Error");
            }
        });
    });
    @*$(document).ready(function () {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/Services/GetScheduleCalender.ashx?Profile=' + '@rd.Values["Profile"]',
            dataType: "json",
            success: function (data) {
                var result = JSON.parse(JSON.stringify(data));
                if (result != '') {
                    $("#eventCalendarInline").eventCalendar({
                        jsonData: result
                    });
                } else {
                   // alert('No Event Schedule');
                }
            },
            error: function (result) {
                // alert("Error");
            }
        });
    });*@
</script>
<script type="text/javascript">

    //$("#cntct").onclick(function () {
    //    alert();
    //        $('#cntct').fancybox({
    //            'autoSize': false,
    //            'width': 550,
    //            'height': 465,
    //            padding: 5,
    //            helpers: { overlay: { closeClick: false } }
    //        });       
    //});
    function contact () {
        $('#cntct').fancybox({
            'autoSize': false,
            'width': 550,
            'height': 465,
            padding: 5,
            helpers: { overlay: { closeClick: false } }
        });
    };
    $(function () {
        $('#signUp').fancybox({
            'autoSize': false,
            'width': 500,
            'height': 450,
            padding: 5,
            helpers: { overlay: { closeClick: false } }
        });
    });
    $(function () {
        $('#quote').fancybox({
            'autoSize': false,
            'width': 500,
            'height': 450,
            padding: 5,
            helpers: { overlay: { closeClick: false } }
        });
    });
</script>
<script>
    $(document).ready(function () {
        ArtistOverviewDetails();

        //$('.contactAreaBanner').fancybox({
        //        'width': '800',
        //        'height': '350',
        //        'autoScale': true,
        //        'transitionIn': 'none',
        //        'transitionOut': 'none',
        //        'type': 'iframe',
        //        //'href': '/Common/Lead/GetEnquiry?Id=' + id()
        //    });
    });
    function ArtistOverviewDetails() {
        $("#WhatToExpect").on('click', function (event) { FetchValueW() });

        $("#Influence").on('click', function (event) { FetchValueI() });

        $("#Calender").on('click', function (event) { FetchValueC() });

        $("#Personal").on('click', function (event) { FetchValueP() });

        $("#Tesimonials").on('click', function (event) { FetchValueT() });

        $("#SetUpRequirements").on('click', function (event) { FetchValueS() });






        //$("#cntct").on('click', function (event) { manish() });

    }
    function FetchValueW() {
        var ArtistId = $("#ArtistId").val();
        $.ajax({
            url: '/Users/GetOverviewDetails?ArtistId=' + ArtistId,
            type: 'POST',
            datatype: 'JOSN',
            async: false,
            success: function (data) {
                $("#dvOverview").show();
                $("#dvOverview").html("<b>" + data.WhatToExpect + "</b>");
            }

        });
    }

    function FetchValueI() {
        var ArtistId = $("#ArtistId").val();
        $.ajax({
            url: '/Users/GetOverviewDetails?ArtistId=' + ArtistId,
            type: 'POST',
            datatype: 'JOSN',
            async: false,
            success: function (data) {
                $("#dvOverview").show();
                $("#dvOverview").html("<b>" + data.Influence + "</b>");
            }

        });
    }

    function FetchValueC() {
        var ArtistId = $("#ArtistId").val();
        $.ajax({
            url: '/Users/GetOverviewDetails?ArtistId=' + ArtistId,
            type: 'POST',
            datatype: 'JOSN',
            async: false,
            success: function (data) {
                $("#dvOverview").show();
                $("#dvOverview").html("<b>" + data.Calender + "</b>");
            }

        });
    }

    function FetchValueP() {
        var ArtistId = $("#ArtistId").val();
        $.ajax({
            url: '/Users/GetOverviewDetails?ArtistId=' + ArtistId,
            type: 'POST',
            datatype: 'JOSN',
            async: false,
            success: function (data) {
                $("#dvOverview").show();
                $("#dvOverview").html("<b>" + data.Personal + "</b>");
            }

        });
    }

    function FetchValueT() {
        var ArtistId = $("#ArtistId").val();
        $.ajax({
            url: '/Users/GetOverviewDetails?ArtistId=' + ArtistId,
            type: 'POST',
            datatype: 'JOSN',
            async: false,
            success: function (data) {
                $("#dvOverview").show();
                $("#dvOverview").html("<b>" + data.Tesimonials + "</b>");
            }

        });
    }

    function FetchValueS() {
        var ArtistId = $("#ArtistId").val();
        $.ajax({
            url: '/Users/GetOverviewDetails?ArtistId=' + ArtistId,
            type: 'POST',
            datatype: 'JOSN',
            async: false,
            success: function (data) {
                $("#dvOverview").show();
                $("#dvOverview").html("<b>" + data.SetUpRequirements + "</b>");
            }

        });
    }


    //$('#MessageSubject').prop('required', true);
    //$('#MessageBody').prop('required', true);

    jQuery(document).ready(function ($) {
        $('#bxslider1').bxSlider({
            onSliderLoad: function () {
                $(".bxslider-wrap").css("visibility", "visible");
            }
        });
    });


    $(function () {
        setTimeout(function () {
            //$('#bxslider1').bxSlider({
            //    mode: 'horizontal',
            //    autoControls: true,
            //    captions: true,
            //    auto: true,
            //    adaptiveHeight: true
            //});
            $('#bxslider2').bxSlider({
                mode: 'fade',
                captions: true,
                auto: false,
                autoControls: false,
                adaptiveHeight: true
            });
            $('#bxslider3').bxSlider({
                mode: 'fade',
                captions: true,
                auto: false,
                autoControls: false,
                adaptiveHeight: true
            });
        }, 3000);
    });
</script>

<!--banner-->
<!--<div class="inpageThreeBanner">-->
<div>
    <div class="inpageThreeBannerWrapper">
        <div class="bannerPhotoArea">
            <div class="bannerThreeImg">
                @if (Model != null)
                {
                    if (Model.tblUser != null)
                    {
                        if (!string.IsNullOrEmpty(Model.tblUser.ProfileImage))
                        {
                            <img width="100%" class="radious" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + Model.tblUser.ProfileImage)" alt="" border="0" />
                        }
                        else
                        {
                            <img width="100%" class="radious" src="~/images/no-image.png" alt="no image" border="0" />
                        }
                    }
                    else
                    {
                        <img width="100%" class="radious" src="~/images/no-image.png" alt="no image" border="0" />
                    }
                }
                else
                {
                    <img width="100%" class="radious" src="~/images/no-image.png" alt="no image" border="0" />
                }
            </div>
            <div class="bannerThreeStar">
                @{
                    int Count = Model.tblArtistRatings.Where(x => x.IsRated == true).Count();
                    int Rating = Model.tblArtistRatings.Where(x => x.IsRated == true).Sum(x => x.Rating).Value;
                    int avg = default(int);
                    if (Count > 0 && Rating > 0)
                    {
                        avg = Rating / Count;

                        for (int i = 1; i <= avg; i++)
                        {
                            <a href='#'><img src='~/images/banner-star-1.png' alt='Artist' title='@i' border='0' /></a>;
                        }
                    }
                }
            </div>
            <div class="bannerThreeName">
                    <h1> @Model.ArtistName </h1>
            </div>
        </div>
    </div>


    <div class="inpageThreeBanner">

        @if (Model.tblUser != null)
        {
            if (!string.IsNullOrEmpty(Model.tblUser.CoverImage))
            {
                <img class="inpageThreeBannerImage" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + Model.tblUser.CoverImage)" alt="coverphoto" border="0" />
            }
            else
            {
                <img class="inpageThreeBannerImage" src="~/images/no_background.jpg" alt="no image" border="0" />
            }
        }
        else
        {
            <img class="inpageThreeBannerImage" src="~/images/no_background.jpg" alt="no image" border="0" />
        }

    </div>
</div>
<div class="bannerThreeWhiteArea">
    <script type="text/javascript">
        $(".openPop").click(function () {
            $(".phNo").slideToggle("fast");
        });
    </script>
    <div class="bannerThreeWhiteAreaWrapper">
        <img src="~/images/i-address.png" alt="" border="0" align="absmiddle" /> <a href="javascript:void(0);">@Model.Address , @Model.City </a>
        <img src="~/images/i-flight.png" alt="" border="0" align="absmiddle" /> <a href="javascript:void(0);">@Model.State, @Model.Country, @Model.Pin</a>
        <img src="~/images/i-price.png" alt="" border="0" align="absmiddle" /> <a href="javascript:void(0);">@string.Format("{0:C}", Model.MinmumRates).Replace("$", "") (Minimum Rate)</a>
        @if (Request.IsAuthenticated)
        {
            <img src="~/images/i-quote.png" alt="" border="0" align="absmiddle" /> <a href="javascript:void(0);">@Model.Email</a>
            <img src="~/images/i-ph.png" alt="" border="0" align="absmiddle" /> <a href="javascript:void(0);">@Model.Mobile</a>
        }
        <div class="view_p">
            <a id="cntct" href="#QuickContact" onclick='contact()'>Contact Now</a>
            @if (Request.IsAuthenticated)
            {
                <div id="QuickContact" style="display: none;margin:20px;">
                    <div style="min-height: 60px;" class="singleFormqq single-form-left">
                        CONTACT NUMBER :<br /> @Model.Phone , @Model.Mobile
                    </div>
                    <div style="min-height: 60px;" class="singleFormqq single-form-right">
                        EMAIL :<br /> @Model.Email
                    </div>
                    <div class="singleFormqq single-form-left" style="width:100%;min-height: 57px;">
                        <input type="radio" id="IsSendMessage" checked="checked" name="IsSendMessage" value="Yes" /> Do you want to contact with Artist/Vendor directly ?
                        <br />
                        <input type="radio" id="IsSendMessage" name="IsSendMessage" value="No" /> Do you want Artistwala to contact with Artist/Vendor ?
                    </div>
                    <div id="divReplayMessage1" class="pop-up-rply" style="">
                        @Html.TextBox("MessageSubject", null, new { @class = "qqSearch", placeholder = "Subject - Required", required="required"})
                        @*@Html.TextBoxFor(m => m.MessageSubject, new { @id = "MessageSubject", @class = "searchBox", placeholder = "Subject - Required", required = "required" })*@
                        @Html.TextArea("MessageBody", null, new { @class = "qqSearch", style = "height: 115px", placeholder = "Message - Required", required = "required" })
                        @*@Html.TextBoxFor(m => m.MessageBody, new { @id = "MessageBody", @class = "searchBox", style = "height: 115px", placeholder = "Message - Required", required = "required" })*@
                        
                    </div>
                    <div>
                        <div class="wrapper">
                            <div style="margin-bottom:0px;" class="join_box_btn"><a href="javascript:void()" onclick="SendMessage()">Contact</a></div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                Session["ReturnUrl"] = Request.Url.PathAndQuery;
                <div id="QuickContact" style="display: none;margin:20px;">
                    @{
                    Html.RenderAction("LoginPopUp", "Users");
                    }
                </div>
            }
            <a href="@Url.Action("QuickQuote", "Users", new { Profile = HttpUtility.UrlEncode(Model.tblUser.UserName) })">Free Quote</a>
        </div>



        <p></p>
        <p class="boldFont textAlignCenter"> About @Model.ArtistName</p>
        <div class="wrapper first_content_au">@Model.AboutMe</div>
    </div>
</div>




<div id="quickquote" style="display: none;margin:20px;">

    <div class="singleFormqq single-form-left" style="width:100%;min-height: 57px;">
        <input type="radio" id="IsFreeQuote" checked="checked" name="IsFreeQuote" value="Yes" /> Requesting free quote to @Model.ArtistName
    </div>
    <div class="singleFormqq single-form-left" style="width: 100%;min-height: 57px;">
        <input type="radio" id="IsFreeQuote" name="IsFreeQuote" value="No" /> Do you like to request quote to 5 similar Artist/Vendor?
    </div>
    <div id="divReplayMessage1" class="pop-up-rply" style="">
        @Html.TextArea("QuoteMessage", null, new { @class = "qqSearch", style = "height: 115px", placeholder = "Type Your Contact Details with Message" })
       
    </div>
    <div style="width: 100%;min-height: 57px;" class="signBtn">
        <div class="join_box_btn">
            <a href="javascript:void()" onclick="FreeQuote()">Send</a>
        </div>
    </div>
    <script type="text/javascript">
        function FreeQuote() {
            var SendTo = $('input[name=IsFreeQuote]:checked').val();
            var QuoteMessage = $("#QuoteMessage").val();
            $.ajax({
                type: "POST",
                url: "/Users/FreeQuote?SendTo=" + SendTo + "&QuoteMessage=" + QuoteMessage,
                dataType: "JSON",
                async: false,
                success: function (result) {
                    alert("Message has been sent.");
                    window.location.href = '@Url.Action("Index", "Home")';
                }
            });
        }
    </script>
</div>



<!--ContentAreaTwo-->
<div class="contentAreaTwo borderBottom10">
    <div class="wrapper">
        @if (Model.tblArtistPortfolios.Any(x => x.FileType == "image"))
        {
            var imageList = Model.tblArtistPortfolios.Where(x => x.FileType == "image").ToList();
            <div class="contentZonePart">
                <div class="iconZoneArea">
                    <div class="iconZone">
                        <img src="~/images/i-one-z.png" alt="gallery" border="0" />
                    </div>
                    Photos
                </div>
                <div class="arrowZone">&nbsp;</div>
                <div class="contentZone">
                    <div class="sliderContentZone">
                        <ul id="bxslider1">
                            @foreach (var image in imageList)
                            {
                                <li><img class="sliderImg" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + image.FileName)" alt="" title="@image.Title" border="0" /></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        }
        @if (Model.tblArtistPortfolios.Any(x => x.FileType == "video"))
        {
            var videoList = Model.tblArtistPortfolios.Where(x => x.FileType == "video").ToList();
            <div class="contentZonePart">
                <div class="iconZoneArea">
                    <div class="iconZone">
                        <img src="~/images/i-video.png" alt="videos" border="0" />
                    </div>
                    Videos
                </div>
                <div class="arrowZone">&nbsp;</div>
                <div class="contentZone">
                    <div class="sliderContentZone">
                        <ul id="bxslider2">
                            @foreach (var video in videoList)
                            {
                                <li><iframe src="@video.Url" height="400" width="100%" allowfullscreen="" frameborder="0"></iframe></li>
                            }

                        </ul>
                    </div>
                </div>
            </div>
        }

        <div class="contentZonePart">
            <div class="iconZoneArea">
                <div class="iconZone">
                    <img src="~/images/i-booking.png" alt="booking" border="0" />
                </div>
                Booking Info
            </div>
            <div class="arrowZone">&nbsp;</div>
            <div class="contentZone">
                <div class="bgGray">
                    <div class="middleBtnArea">
                        <a href="javascript:void(0);" id="WhatToExpect">What To Expect</a>
                        <a href="javascript:void(0);" id="Influence">Influence</a>
                        <a href="javascript:void(0);" id="Calender">Calender</a>
                        <a href="javascript:void(0);" id="Personal">Personal</a>
                        <a href="javascript:void(0);" id="Tesimonials">Testimonials</a>
                        <!--<div class="clear marTop16 noDisplayRes">&nbsp;</div>-->
                        <a href="javascript:void(0);" id="SetUpRequirements">Set Up Requirments</a>
                    </div>
                    @*<div class="middleBtnArea" id="dvOverview" style="display:none;">

                    </div>*@
                </div>

                <div class="middleBtnArea" id="dvOverview" >

                </div>
                @*<p class="textAlignCenter">
                    @if (Request.IsAuthenticated)
                    {
                        <strong>Fee:</strong> string.Format("{0:C}", Model.MinmumRates);
                    }
                    <br />
                </p>
                <p class="boldFont textAlignCenter">Professional Details </p>*@
               
            </div>
        </div>
        <div class="contentZonePart">
            <div class="iconZoneArea">
                <div class="iconZone">
                    <img src="~/images/i-services.png" alt="" border="0" />
                </div>
                My Services
            </div>
            <div class="arrowZone">&nbsp;</div>
            <div class="contentZone">
                <div class="middleBtnArea">
                    @foreach (var item in Model.tblArtistCategoryMappings)
                    {
                        <a href="javascript:void(0);">@item.tblArtistSubCategory.SubCategoryName</a>
                    }

                </div>
            </div>
        </div>
        @if (Model.IsGroup == true)
        {
            <div class="contentZonePart">
                <div class="iconZoneArea">
                    <div class="iconZone">
                        <img src="~/images/i-one-z.png" alt="" border="0" />
                    </div>
                    Members
                </div>
                <div class="arrowZone">&nbsp;</div>
                <div class="contentZone">
                    <h1>Group Member Details</h1>
                    <ul>
                        @foreach (var item in Model.tblArtistGroupMembers)
                        {
                            <li class="groupMember">
                                <div class="groupMemberImage">
                                    <div class="groupMemberCrop">
                                        <img id="clip" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"]+item.ImagePath)" />
                                    </div>
                                </div>
                                <br />
                                @item.MemberName
                                <br />
                                @item.MemberDescription
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
        @if (Model.tblArtistPortfolios.Any(x => x.FileType == "audio"))
        {

            var audioList = Model.tblArtistPortfolios.Where(x => x.FileType == "audio").ToList();

            if (audioList.Count > 0)
            {
                <div class="contentZonePart">
                    <div class="iconZoneArea">
                        <div class="iconZone">
                            <img src="~/images/music.png" alt="" border="0" />
                        </div>
                        Audio
                    </div>
                    <div class="arrowZone">&nbsp;</div>
                    <div class="contentZone">
                        <ul id="bxslider3">
                            @foreach (var audio in audioList)
                            {
                                <li>
                                    <audio controls=controls>
                                        <source src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + audio.FileName)" type="audio/mpeg" />
                                        <source src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + audio.FileName)" type="audio/ogg" />
                                        <embed height="50" width="100" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + audio.FileName)" />
                                    </audio>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        }


        <div class="contentZonePart">
            <div class="iconZoneArea">
                <div class="iconZone">
                    <img src="~/images/i-review.png" alt="reviews" border="0" />
                </div>
                Reviews
            </div>
            <div class="arrowZone">&nbsp;</div>
            <div class="contentZone">
                @if (Model.tblArtistRatings.Any(x => x.Rating != null))
                {
                    var ReviewList = Model.tblArtistRatings.Where(x => x.Rating != null).ToList();
                    if (ReviewList.Count > 0)
                    {

                        {
                            Html.RenderAction("fetchReview", "Users");
                        }
                    }
                }

                <div style="text-align:center">
                    @{
                        Html.RenderAction("WriteARview", "Users");
                    }
                </div>


            </div>
        </div>

        <div class="contentZonePart">
            <div class="iconZoneArea">
                <div class="iconZone">
                    <img src="~/images/i-social.png" alt="" border="0" />
                </div>
                Socialise
            </div>
            <div class="arrowZone">&nbsp;</div>
            <div class="contentZone">
                <div class="middleBtnArea">
                    <a target="_blank" href='http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri'><img src='~/images/facebook-share.png' alt='' title='@Model.ArtistName' border='0' /></a>
                    <a target="_blank" href='https://plus.google.com/share?url=@Request.Url.AbsoluteUri'><img src='~/images/google-plus-share.png' alt='' title='@Model.ArtistName' border='0' /></a>
                    <a target="_blank" href='https://twitter.com/share?url=@Request.Url.AbsoluteUri&amp;text=Get%20Your%20Party%20Started&amp;hashtags=#Artistwala'><img src='~/images/twitter-share.png' alt='' title='@Model.ArtistName' border='0' /></a>
                    <a target="_blank" href="whatsapp://send" data-text="Take a look at this " data-href="" class="wa_btn wa_btn_m" style="display:none;">Whatsapp<i class="fa fa-whatsapp"></i></a>
                </div>
                @Html.HiddenFor(x => x.ArtistId)
            </div>
        </div>
    </div>
</div>


<script src="/js/calender/js/moment.js" type="text/javascript"></script>
<script src="/js/calender/js/jquery.eventCalendar.min.js" type="text/javascript"></script>

<script type="text/javascript">
    function SendMessage() {
        var SendTo = $('input[name=IsSendMessage]:checked').val();
        var MessageBody = $("#MessageBody").val();
        var MessageSubject = $("#MessageSubject").val();
        if (MessageBody == "" || MessageSubject=="") {
            alert("MessageBody and MessageSubject cannot be blank !");
        }
        else
        {
            $.ajax({
                type: "POST",
                url: "/Users/SendMessage?SendTo=" + SendTo + "&MessageSubject=" + MessageSubject + "&MessageBody=" + MessageBody,
                dataType: "JSON",
                async: false,
                success: function (result) {
                    alert("Message has been sent.");
                    window.location.href = '@Url.Action("Index", "Home")';
                }
            });
        }
        
    }
</script>