﻿@model ArtistWala.Repository.tblArtist
@{
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {

        //$('#EventStartTime').timepicker();

        //$('#ddlArtistType').change(function () {
        //    var CatType = $('#ddlArtistType').val();
        //    $("#ddlCategory").html('');
        //    $("#ddlCategory").append($("<option></option>").val('0').html('--Select Category--'));
        //    $.ajax({
        //        type: "POST",
        //        url: "/Services/GetCategory.ashx?catType=" + CatType,
        //        contentType: "application/json; charset=utf-8",
        //        dataType: "json",
        //        async: false,
        //        success: function (college) {
        //            var result = JSON.parse(JSON.stringify(college));
        //            $.each(result, function () {
        //                $("#ddlCategory").append($("<option></option>").val(this['CategoryId']).html(this['CategoryName']));
        //            });
        //        }
        //    });
        //});

        //$('#ddlCategory')(function () {
            //var CatType = $('#ddlCategory').val();
            @*var CatType = '@Request.QueryString["Profile"]';

            $("#ddlSubCategory").html('');
            $("#ddlSubCategory").append($("<option></option>").val('0').html('--Select Subcategory--'));
            $.ajax({
                type: "POST",
                url: "/Users/SubCat?Profile="+CatType,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (college) {
                    var result = JSON.parse(JSON.stringify(college));
                    $.each(result, function () {
                        $("#ddlSubCategory").append($("<option></option>").val(this['ArtistSubCategoryId']).html(this['SubCategoryName']));
                    });
                }
            });*@
        //});

        //$('#login_first_qq').click(function () {
        //    var type = false;
        //    var cat = false;
        //    var subcat = false;
        //    if ($('#ddlArtistType').val() == '0') {
        //        $('#dlcatType').show();
        //        type = false;
        //    }
        //    else {
        //        $('#dlcatType').hide();
        //        type = true;
        //    }

        //    if ($('#ddlCategory').val() == '0') {
        //        $('#dlcat').show();
        //        cat = false;
        //    }
        //    else {
        //        $('#dlcat').hide();
        //        cat = true;
        //    }

        //    if ($('#ddlSubCategory').val() == '0') {
        //        $('#dlSubcat').show();
        //        subcat = false;
        //    }
        //    else {
        //        $('#dlSubcat').hide();
        //        subcat = true;
        //    }

        //    if (type == true && cat == true && subcat == true) {
        //        MoveFirstTab();
        //        return true;
        //    } else {
        //        return false;
        //    }

        //});

        //$('#second_next_qq').click(function () {
        //    var eventtype = false;
        //    var city = false;
        //    var state = false;
        //    if ($('#FK_EventType').val() == '0') {
        //        $('#sneventtype').show();
        //        type = false;
        //    }
        //    else {
        //        $('#sneventtype').hide();
        //        type = true;
        //    }

        //    if ($('#City').val() == '0') {
        //        $('#sncity').show();
        //        cat = false;
        //    }
        //    else {
        //        $('#sncity').hide();
        //        cat = true;
        //    }

        //    if ($('#State').val() == '0') {
        //        $('#snstate').show();
        //        subcat = false;
        //    }
        //    else {
        //        $('#snstate').hide();
        //        subcat = true;
        //    }

        //    if (eventtype == true && city == true && state == true) {
        //        MoveFirstTab();
        //        return true;
        //    } else {
        //        return false;
        //    }

        //});

        //$('#login_qq').click(function () {
        //    var Name = false;
        //    var Phone = false;
        //    var Email = false;
        //    var EventDetails = false;
        //    if ($('#Name').val() == '') {
        //        $('#snName').show();
        //        type = false;
        //    }
        //    else {
        //        $('#snName').hide();
        //        type = true;
        //    }

        //    if ($('#Phone').val() == '') {
        //        $('#snPhone').show();
        //        cat = false;
        //    }
        //    else {
        //        $('#snPhone').hide();
        //        cat = true;
        //    }

        //    if ($('#Email').val() == '') {
        //        $('#snEmail').show();
        //        subcat = false;
        //    }
        //    else {
        //        $('#snEmail').hide();
        //        subcat = true;
        //    }
        //    if ($('#EventDetails').val() == '') {
        //        $('#snEventDetails').show();
        //        subcat = false;
        //    }
        //    else {
        //        $('#snEventDetails').hide();
        //        subcat = true;
        //    }

        //    if (Name == true && Email == true && Phone == true && EventDetails) {
        //        MoveFirstTab();
        //        return true;
        //    } else {
        //        return false;
        //    }

        //});
    });
</script>

@*<div class="middleBtnArea">
   
    <div class="singleFormqq single-form-left">
        
        <select name="ddlSubCategory" id="ddlSubCategory" class="qqSearch_select">
            <option value="0">--Select Category--</option>
        </select>
        <span id="dlcat" style="display:none;color:red;">Please select category</span>
    </div>
</div>
@Html.HiddenFor(x => x.ArtistId)*@





<div class="middleBtnArea">
    @foreach (var item in Model.tblArtistCategoryMappings)
    {
        <a href="javascript:void(0);">@item.tblArtistSubCategory.SubCategoryName</a>
    }
</div>
@Html.HiddenFor(x => x.ArtistId)
