﻿@model ArtistWala.Repository.tblArtist
@{
    Layout = null;
}

<div class="middleBtnArea">
    @foreach (var item in Model.tblArtistCategoryMappings)
    {
        <a href="javascript:void(0);">@item.tblArtistSubCategory.SubCategoryName</a>
    }
</div>
@Html.HiddenFor(x => x.ArtistId)
    