﻿@model ArtistWala.Models.RegistrationModel
@{
    ViewBag.Title = "Join Us";
    ViewBag.MetaDescription = "Artistwala gives event planners a fast and easy way to browse, contact, and hire the entertainers and services they need to make any event a success. Whether you're a first-timer or professional event planner, follow these 3 simple steps and you'll be on your way to event planning paradise!";
    ViewBag.MetaKeywords = "gigs, booking, bands, shows, hire, entertainment, events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('#signUp').fancybox({
            'autoSize': false,
            'width': 500,
            'height': 450,
            padding: 5,
            helpers: { overlay: { closeClick: false } }
        });
    });
</script>

<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '@System.Configuration.ConfigurationManager.AppSettings["FBAppId"]', // App ID
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true,  // parse XFBML
            oauth: true
        });
    };

    function fb_login() {
        // Additional initialization code here


        FB.login(function (response) {
            //  alert('Response is ' + response);
            if (response != null) {
                FB.api('/me?locale=en_US&fields=name,email', function (me) {

                    //alert(JSON.stringify(me));

                    var Email = me.email;

                    var accessToken = response.authResponse.accessToken;

                    if (Email != null && accessToken != null) {

                        var form = document.createElement("form");
                        form.setAttribute("method", 'post');

                        form.setAttribute("action", '/Users/LoginWithFb');

                        var field = document.createElement("input");
                        field.setAttribute("type", "hidden");
                        field.setAttribute("name", 'name');
                        field.setAttribute("value", me.name);
                        form.appendChild(field);

                        var Id = document.createElement("input");
                        Id.setAttribute("type", "hidden");
                        Id.setAttribute("name", 'Email');
                        Id.setAttribute("value", Email);
                        form.appendChild(Id);
                        document.body.appendChild(form);
                        form.submit();
                    }
                });
            }
            else {
                FB.Event.subscribe('auth.authResponseChange', function (response) {
                    if (response.status === 'connected') {
                        var accessToken = response.authResponse.accessToken;
                        FB.api('/me?locale=en_US&fields=name,email', function (me) {

                            var Email = me.email;

                            var form = document.createElement("form");
                            form.setAttribute("method", 'post');

                            form.setAttribute("action", '/Users/LoginWithFb');

                            var field = document.createElement("input");
                            field.setAttribute("type", "hidden");
                            field.setAttribute("name", 'fbaccessToken');
                            field.setAttribute("value", accessToken);
                            form.appendChild(field);

                            var Id = document.createElement("input");
                            Id.setAttribute("type", "hidden");
                            Id.setAttribute("name", 'Email');
                            Id.setAttribute("value", Email);
                            form.appendChild(Id);
                            document.body.appendChild(form);
                            form.submit();

                        });

                        // TODO: Handle the access token

                    }
                    else if (response.status === 'not_authorized') {

                    }
                    else {

                        // the user isn't logged in to Facebook.
                    }
                });
            }
        }, {
            scope: 'email,user_birthday,public_profile'
        });
    }

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

</script>

<script>
    $(document).ready(function () {
        var UserName;
        var Email;
        var PhoneNo;
        GenerateOPT();
        CHeckOTP();
        Fn_RegenerateOTP();
    });
    function Fn_RegenerateOTP() {
        $("#RegenerateOTP").on('click', function () {
            $.ajax({
                type: "POST",
                url: "/Users/GenerateOPT?UserName=" + UserName + "&Email=" + Email + "&PhoneNo=" + PhoneNo,
                dataType: "JSON",
                async: false,
                success: function (result) {
                    if (result == true) {
                        alert('OTP Generated');
                    }
                    else {
                        alert("Error!");
                    }
                }
            });
        });
    }
    function CHeckOTP() {
        $("#btnOTPSubmit").on('click', function (event) {
            $.ajax({
                type: "POST",
                url: "/Users/CheckOTP?UserName=" + UserName + "&Email=" + Email + "&PhoneNo=" + PhoneNo + "&OTPText=" + $("#OPTText").val(),
                dataType: "JSON",
                async: false,
                success: function (result) {
                    if (result == true) {
                        alert("Successfully Registered");
                        $("#Name").val("");
                        $("#Email").val("");
                        $("#Phone").val("");
                        window.location.href = '@Url.Action("Dashboard", "MyProfile")';
                    }
                    else {
                        alert("Error");
                        $("#Name").val("");
                        $("#Email").val("");
                        $("#Phone").val("");
                    }
                }
            });
        });
    }
    function GenerateOPT() {
        $("#btnJoinUs").on('click', function (event) {
            var IsValidForm = true;
            UserName = $("#Name").val();
            Email = $("#Email").val();
            PhoneNo = $("#Phone").val();
            var ValidEmail = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (UserName == null || UserName == "") {
                alert("Please enter user name");
                $("#Name").focus();
                IsValidForm = false;
            }
            else if (Email == null || Email == "") {
                alert("Please enter email address");
                $("#Email").focus();
                IsValidForm = false;
            }
            else if (!ValidEmail.test(Email)) {
                alert("Please enter valid email address");
                $("#Email").focus();
                IsValidForm = false;
            }
            else if (PhoneNo == null || PhoneNo == "") {
                alert("Please enter phone no");
                $("#Phone").focus();
                IsValidForm = false;
            }
            if (IsValidForm == true) {
                $.ajax({
                    type: "POST",
                    url: "/Users/GenerateOPT?UserName=" + UserName + "&Email=" + Email + "&PhoneNo=" + PhoneNo,
                    dataType: "JSON",
                    async: false,
                    success: function (result) {
                        if (result == true) {
                            $(function () {
                                $('#btnJoinUs').fancybox({
                                    'autoSize': false,
                                    'width': 500,
                                    'height': 450,
                                    padding: 5,
                                    helpers: { overlay: { closeClick: false } }
                                });
                            });
                        }
                        else {
                            alert("Email or Contact Number already exist! Login with your Username and Password.");
                            parent.jQuery.fancybox.close();
                            window.location.href = '@Url.Action("Login", "Users")';
                            @*$.ajax({
                                type: "POST",
                                url: "/Users/RegistrationWithoutOTP?UserName=" + UserName + "&Email=" + Email + "&PhoneNo=" + PhoneNo,
                                dataType: "JSON",
                                async: false,
                                success: function (result) {
                                    if (result == true) {
                                        alert("Successfully Registered");
                                        window.location.href = '@Url.Action("Dashboard", "MyProfile")';
                                    }
                                    else {
                                        alert("Error");
                                    }
                                }
                            });*@
                        }
                    }
                });
            }
        });
    }

</script>

<div class="totalContentArea pdBtmNone">
    <div class="wrapper">
        <div id="dvRegistration" style="display: none;margin:20px;">
            @using (Html.BeginForm("JoinUs", "Users", FormMethod.Post))
            {
                <div class="singleFormqq single-form-left" style="width:100%;">

                    @Html.TextBoxFor(m => m.Name, new { @class = "qqSearch", placeholder = "Name - Required", required = "required" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="singleFormqq single-form-left" style="width: 100%;">

                    @Html.TextBoxFor(m => m.Email, new { @class = "qqSearch", placeholder = "Email  - Required", required = "required" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div style="width: 100%;" class="singleFormqq single-form-left">

                    @Html.TextBoxFor(m => m.Phone, new { @class = "qqSearch", placeholder = "Mobile No - Required", required = "required" })
                    @Html.ValidationMessageFor(m => m.Phone)
                </div>
                <div style="width: 100%;" class="signBtn">

                    @*<input type="button" id="btnJoinUs" name="btnJoinUs" value="Sign up" />*@

                    <div class="join_box_btn">
                        <a id="btnJoinUs" href="#dvOPTForm">Sign up</a>
                    </div>

                </div>
                      <hr />
               
                <div class="join_box_btn"> Or</div>              

                    @*<a class="singleFormqq single-form-left" onclick="javascript:fb_login();" style="cursor:pointer; margin-top: 15px; text-align: left;">
                        <img src="~/images/facebook-login-blue.png" alt="fb_login" />
                    </a>*@


                <div class="single_content_cu"  onclick="javascript:fb_login();" style="cursor:pointer;">
                    <img src="~/images/facebook-login-blue.png" alt="fb_login" />
                </div>
            }
        </div>
        <div id="dvOPTForm" style="display: none;margin:20px;">
            <div class="singleformqq single-form-left" style="width:100%;">
                Please enter the OTP sent to your mobile number:<br>
                <input type="text" id="OPTText" name="OPTText" class="qqSearch" />
                <div class="join_box_btn">
                    <input type="button" value="Submit" id="btnOTPSubmit" />
                </div>
                <div class="join_box_btn">
                    <input type="button" value="Resend OTP" id="RegenerateOTP" />
                </div>
            </div>
        </div>
        <div style="color:red;">
            @ViewBag.Message
        </div>
        <div class="join_heading">Signing up for a Artistwala account is quick and easy.</div>
        <div class="join_sub_heading">Which describes you best?</div>
        <div class="join_total_box_area">
            <div class="maiin_box_join">
                <div class="box_one_join">
                    <div class="join_box_heading">
                        I'm a performer, band, speaker or offer event services.
                    </div>
                    <div class="join_box_btn">
                        <a id="signUp" href="#dvRegistration">Sign up now</a>
                    </div>
                    <div class="imgArea_join">
                        <div class="single_img_join">
                            <img src="~/images/join-i-1.png" alt="" align="middle" />
                        </div>
                        <div class="single_img_join">
                            <img src="~/images/join-i-2.png" alt="" align="middle" />
                        </div>
                        <div class="single_img_join">
                            <img src="~/images/join-i-3.png" alt="" align="middle" />
                        </div>
                        <div class="single_img_join">
                            <img src="~/images/join-i-4.png" alt="" align="middle" />
                        </div>
                        <div class="single_img_join">
                            <img src="~/images/join-i-5.png" alt="" align="middle" />
                        </div>
                    </div>
                </div>
                <!--                <div class="join_compare"><a href="javascript:void(0);">Compare our membership levels</a></div>
                -->
            </div>
            <div class="maiin_box_join">
                <div class="box_two_join">
                    <div class="join_box_heading">
                        I'm planning an event and want to hire talent or services.
                    </div>
                    <div class="join_box_btn">
                        <a href="@Url.Action("QuickQuote", "Users")">Get a free quote</a>
                    </div>
                    <div class="imgArea_join">
                        <div class="single_img_join">
                            <img src="~/images/join-i-6.png" alt="" align="middle" />
                        </div>
                        <div class="single_img_join">
                            <img src="~/images/join-i-7.png" alt="" align="middle" />
                        </div>
                        <div class="single_img_join">
                            <img src="~/images/join-i-8.png" alt="" align="middle" />
                        </div>
                        <div class="single_img_join">
                            <img src="~/images/join-i-9.png" alt="" align="middle" />
                        </div>
                        <div class="single_img_join">
                            <img src="~/images/join-i-10.png" alt="" align="middle" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="join_cartoon_area">
            <img src="~/images/chars-trio-login.png" alt="" />
        </div>
    </div>
</div>



<!-- Google Code for Artistwala - Google Conversion Pixel Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 860607930;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Rs5NCJLdr24QuquvmgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/860607930/?label=Rs5NCJLdr24QuquvmgM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>

