﻿@model ArtistWala.Models.LoginModel
@{
    ViewBag.Title = "Login";
    ViewBag.MetaDescription = "Artistwala gives event planners a fast and easy way to browse, contact, and hire the entertainers and services they need to make any event a success. Whether you're a first-timer or professional event planner, follow these 3 simple steps and you'll be on your way to event planning paradise!";
    ViewBag.MetaKeywords = "gigs, booking, bands, shows, hire, entertainment, events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    window.fbAsyncInit = function () {
        FB.init({
            appId: '@System.Configuration.ConfigurationManager.AppSettings["FBAppId"]', // App ID
            status: true, // check login status
            cookie: true, // enable cookies to allow the server to access the session
            xfbml: true,  // parse XFBML
            oauth: true
        });
    };

    function fb_login() {
        // Additional initialization code here


        FB.login(function (response) {
            //  alert('Response is ' + response);
            if (response != null) {
                FB.api('/me?locale=en_US&fields=name,email', function (me) {
                    
                    //alert(JSON.stringify(me));

                    var Email = me.email;

                    var accessToken = response.authResponse.accessToken;
                   
                    if (Email != null && accessToken != null) {
                        
                        var form = document.createElement("form");
                        form.setAttribute("method", 'post');
                        
                        form.setAttribute("action", '/Users/LoginWithFb');

                        var field = document.createElement("input");
                        field.setAttribute("type", "hidden");
                        field.setAttribute("name", 'name');
                        field.setAttribute("value", me.name);
                        form.appendChild(field);

                        var Id = document.createElement("input");
                        Id.setAttribute("type", "hidden");
                        Id.setAttribute("name", 'Email');
                        Id.setAttribute("value", Email);
                        form.appendChild(Id);
                        document.body.appendChild(form);
                        form.submit();
                    }
                });
            }
            else
            {
                FB.Event.subscribe('auth.authResponseChange', function (response) {
                    if (response.status === 'connected') {
                        var accessToken = response.authResponse.accessToken;
                        FB.api('/me?locale=en_US&fields=name,email', function (me) {
                            
                            var Email = me.email;

                            var form = document.createElement("form");
                            form.setAttribute("method", 'post');
                            
                            form.setAttribute("action", '/Users/LoginWithFb');

                            var field = document.createElement("input");
                            field.setAttribute("type", "hidden");
                            field.setAttribute("name", 'fbaccessToken');
                            field.setAttribute("value", accessToken);
                            form.appendChild(field);

                            var Id = document.createElement("input");
                            Id.setAttribute("type", "hidden");
                            Id.setAttribute("name", 'Email');
                            Id.setAttribute("value", Email);
                            form.appendChild(Id);
                            document.body.appendChild(form);
                            form.submit();

                        });

                        // TODO: Handle the access token

                    }
                    else if (response.status === 'not_authorized')
                    {
                        
                    }
                    else
                    {
                        
                        // the user isn't logged in to Facebook.
                    }
                });
            }
        }, {
            scope: 'email,user_birthday,public_profile'
        });
    }

    // Load the SDK Asynchronously
    (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));

</script>

<script>
    $(document).ready(function () {
        var Email;
        ForgotPasswordClick();
        Fn_RegenerateOTP();
        fn_OTPSubmit();
    });
    function ForgotPasswordClick() {
        $("#aforgotPassword").on('click', function () {
            Email = $("#txtEmail").val();
            $.ajax({
                type: "POST",
                url: "/Users/GenerateForgotPasswordOTP?Email=" + Email,
                dataType: "JSON",
                async: false,
                success: function (result) {
                    if (result != "") {
                        $(function () {
                            $('#aforgotPassword').fancybox({
                                'autoSize': false,
                                'width': 500,
                                'height': 300,
                                padding: 1,
                                helpers: { overlay: { closeClick: false } }
                            });
                        });
                        $("#PhoneNo").html(PhoneNo);
                    }
                    else {
                        alert("Something wrong into the process. Please try later");
                    }
                }
            });
        });
    }

    function Fn_RegenerateOTP() {
        $("#RegenerateOTP").on('click', function () {
            $.ajax({
                type: "POST",
                url: "/Users/GenerateForgotPasswordOTP?Email=" + Email,
                dataType: "JSON",
                async: false,
                success: function (result) {
                    if (result != "") {
                        alert('OTP Generated');
                    }
                    else {
                        alert("Error!");
                    }
                }
            });
        });
    }
    function fn_OTPSubmit() {
        $("#btnOTPSubmit").on('click', function () {
            $.ajax({
                type: "POST",
                url: "/Users/CheckForgotPasswordOTP?OTP=" + $("#OPTText").val(),
                dataType: "JSON",
                async: false,
                success: function (result) {
                    if (result == true) {
                        window.location.href = '@Url.Action("ForgotPassword", "Users", new { Email = "Emailid" })'.replace("Emailid", Email);
                    }
                    else {
                        alert("Error!");
                    }
                }
            });

        });
    }


</script>

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{

    <div class="totalContentArea pdBtmNone">
        <div class="mainContentArea">
            <div class="contentLeftFaq">
                <div class="loginHeading">
                    <h2>Signin to your Artistwala account.</h2>
                </div>
                <div style="color:red;">
                    @ViewBag.Message
                </div>
                <div class="loginFormArea">
                    <div class="singleForm">
                        Your email:<br />
                        @Html.TextBoxFor(m => m.UserName, new { @class = "faqSearch" })
                    </div>
                    <div class="singleForm">
                        Password:<br />
                        @Html.PasswordFor(m => m.Password, new { @class = "faqSearch" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <input name="" type="submit" class="login_login" value="Login" />

                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#col1").css("display", "none");
                        $("#col2").css("display", "none");

                        $(".forgot_heading").click(function () {
                            $("#col1").slideToggle('fast');
                        });

                        $("#head2").click(function () {
                            $("#col2").slideToggle('fast');
                        });
                    });
                </script>
                <div class="forgot_login">
                    <a href="javascript:void(0);" class="forgot_heading">Forgot your password?</a>
                    <div class="loginFormArea" id="col1">
                        <strong>Don’t sweat it!</strong> Just type your email address below to reset your password.<br />
                        @*<script type="text/javascript">
                                $(function () {
                                    $('#aforgotPassword').click(function () {
                                        var form = document.createElement("form");
                                        form.setAttribute("method", 'post');
                                        form.setAttribute("action", '@Url.Action("ForgotPassword", "Users", new { Email = "Emailid" })'.replace("Emailid", $('#txtEmail').val()));
                                        document.body.appendChild(form);
                                        form.submit();
                                    });
                                });
                            </script>*@
                        @Html.TextBox("txtEmail", "", new { @class = "faqSearch" })
                        <div class="join_box_btn">
                            <a id="aforgotPassword" href="#dvForgotForm">Send password reset email</a>
                        </div>
                        @*<input name="" id="aforgotPassword" type="button" class="login_login" value="Send password reset email" />*@
                    </div>
                </div>

                <div id="dvForgotForm" style="display: none;margin:20px;">
                    <div class=" singleformqq single-form-left" style="width:100%;">
                        <div id="PhoneNo">
                        </div>
                        <div>
                            Please enter the One Time Password sent to your registered mobile number.
                            <br>
                            <input type="text" id="OPTText" name="OPTText" class="qqSearch" />
                        </div>
                        <div class="join_box_btn">
                            <input type="button" value="Submit" id="btnOTPSubmit" />
                        </div>
                        <div class="join_box_btn">
                            <input type="button" value="Regenerate OTP" id="RegenerateOTP" />
                        </div>
                    </div>
                </div>


                <div class="forgot_login">
                    <a href="javascript:void(0)" id="head2">Having trouble logging in?</a>
                    <div class="loginFormArea" id="col2">
                        It’s likely one of these things:
                        <ul>
                            <li>
                                1. Cookies. Be sure that cookies are enabled and allowed for artistwala.com
                                Try deleting your browser’s cookies and make sure you don’t have other software or a firewall blocking them.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="forgot_login">
                    <a class="singleFormqq single-form-left" onclick="javascript:fb_login();" style="width: 10%; cursor:pointer; margin-top: 15px; text-align: left;">
                        <img src="~/images/facebook-login-blue.png" alt="fb_login" />
                    </a>
                </div>

                @*<div class="forgot_login">
                    <div class="social-wrap a">
                        <button onclick="javascript:fb_login();" id="facebook">Sign in with Facebook</button>
                    </div>

                </div>*@

            </div>



            <div class="contentRightFaq rightLogin">
                <div class="login-right-details">
                    <ul>
                        <li>Manage your events</li>
                        <li>Update your profile</li>
                        <li>Manage your membership</li>
                        <li>Access tools</li>
                        <li>Create contracts</li>
                    </ul>
                </div>
                <div class="login-right-arrow"><img src="~/images/login-right-arrow.png" alt="" /></div>
                <div class="login-right-arrow"><img src="~/images/chars-trio-login.png" align="bottom" /></div>

            </div>
        </div>
    </div>
    <div class="login_signup_area">
        <div class="wrapper">
            <h2>Don't have an account yet?</h2>
            Promote your act or business, start getting artistwala.
            <div class="login_signUp"><a href="@Url.Action("JoinUs", "Users")">Free Sign up</a></div>
        </div>
    </div>

}
