﻿@model ArtistWala.Models.QuotesModel
@{
    ViewBag.Title = "Quick Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery.ui.js"></script>

<script type="text/javascript" src="/js/timepicker/jquery.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/js/timepicker/jquery.timepicker.css" />

<script type="text/javascript">
    function MoveFirstTab() {
        $(".circle_two_qq, .strate_one_qq").css("background", "#3399cc");
        $(".circle_three_qq, .strate_two_qq").css("background", "#ccc");
        $(".formPartOne_qq").hide("100");
        $(".formPartThree_qq").hide("100");
        $(".formPartTwo_qq").show("100");
    }
    $(document).ready(function () {
        $("#preSecond_qq").click(function () {
            MoveFirstTab();
        });
        $(".circle_three_qq, #second_next_qq").click(function () {
            $(".circle_two_qq, .strate_one_qq, .circle_three_qq, .strate_two_qq").css("background", "#3399cc");
            $(".formPartOne_qq").hide("100");
            $(".formPartThree_qq").show("100");
            $(".formPartTwo_qq").hide("100");
        });

        $(".circle_one_qq, #preFirst_qq").click(function () {
            $(".circle_two_qq, .strate_one_qq, .circle_three_qq, .strate_two_qq").css("background", "#ccc");
            $(".formPartOne_qq").show("100");
            $(".formPartThree_qq").hide("100");
            $(".formPartTwo_qq").hide("100");
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        //$('#EventStartTime').timepicker();

        $('#ddlArtistType').change(function () {
            var CatType = $('#ddlArtistType').val();
            $("#ddlCategory").html('');
            $("#ddlCategory").append($("<option></option>").val('0').html('--Select Category--'));
            $.ajax({
                type: "POST",
                url: "/Services/GetCategory.ashx?catType=" + CatType,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (college) {
                    var result = JSON.parse(JSON.stringify(college));
                    $.each(result, function () {
                        $("#ddlCategory").append($("<option></option>").val(this['CategoryId']).html(this['CategoryName']));
                    });
                }
            });
        });

        $('#ddlCategory').change(function () {
            var CatType = $('#ddlCategory').val();
            $("#ddlSubCategory").html('');
            $("#ddlSubCategory").append($("<option></option>").val('0').html('--Select Subcategory--'));
            $.ajax({
                type: "POST",
                url: "/Services/GetSubcategory.ashx?catType=" + CatType,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (college) {
                    var result = JSON.parse(JSON.stringify(college));
                    $.each(result, function () {
                        $("#ddlSubCategory").append($("<option></option>").val(this['SubCategoryId']).html(this['SubCategoryName']));
                    });
                }
            });
        });

        $('#login_first_qq').click(function () {
            var type = false;
            var cat = false;
            var subcat = false;
            if ($('#ddlArtistType').val() == '0') {
                $('#dlcatType').show();
                type = false;
            }
            else {
                $('#dlcatType').hide();
                type = true;
            }

            if ($('#ddlCategory').val() == '0') {
                $('#dlcat').show();
                cat = false;
            }
            else {
                $('#dlcat').hide();
                cat = true;
            }

            if ($('#ddlSubCategory').val() == '0') {
                $('#dlSubcat').show();
                subcat = false;
            }
            else {
                $('#dlSubcat').hide();
                subcat = true;
            }

            if (type == true && cat == true && subcat == true) {
                MoveFirstTab();
                return true;
            } else {
                return false;
            }

        });

        $('#second_next_qq').click(function () {
            var eventtype = false;
            var city = false;
            var state = false;
            if ($('#FK_EventType').val() == '0') {
                $('#sneventtype').show();
                type = false;
            }
            else {
                $('#sneventtype').hide();
                type = true;
            }

            if ($('#City').val() == '0') {
                $('#sncity').show();
                cat = false;
            }
            else {
                $('#sncity').hide();
                cat = true;
            }

            if ($('#State').val() == '0') {
                $('#snstate').show();
                subcat = false;
            }
            else {
                $('#snstate').hide();
                subcat = true;
            }

            if (eventtype == true && city == true && state == true) {
                MoveFirstTab();
                return true;
            } else {
                return false;
            }

        });

        $('#login_qq').click(function () {
            var Name = false;
            var Phone = false;
            var Email = false;
            var EventDetails = false;
            if ($('#Name').val() == '') {
                $('#snName').show();
                type = false;
            }
            else {
                $('#snName').hide();
                type = true;
            }

            if ($('#Phone').val() == '') {
                $('#snPhone').show();
                cat = false;
            }
            else {
                $('#snPhone').hide();
                cat = true;
            }

            if ($('#Email').val() == '') {
                $('#snEmail').show();
                subcat = false;
            }
            else {
                $('#snEmail').hide();
                subcat = true;
            }
            if ($('#EventDetails').val() == '') {
                $('#snEventDetails').show();
                subcat = false;
            }
            else {
                $('#snEventDetails').hide();
                subcat = true;
            }

            if (Name == true && Email == true && Phone == true && EventDetails) {
                MoveFirstTab();
                return true;
            } else {
                return false;
            }

        });
    });
</script>
<script type="text/javascript">
    var CalenderControl = new function () {
        this.ControlId = '';
        this.Show = function () {
            $("#" + this.ControlId).datepicker({
                showOn: "focus",
                buttonImageOnly: false,
                dateFormat: "dd/mm/yy",
                showAnim: "show",
                autoSize: true,
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                yearRange: '1960:2050'
            });
        };
    }

    $(document).ready(function () {
        CalenderControl.ControlId = 'EventDate';
        CalenderControl.Show();
    });

</script>

@using (Html.BeginForm("QuickQuote", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="totalContentArea pdBtmNone">
        <div class="wrapper">
            <div class="qq_heading">You're on your way to an epic event.</div>
            <div class="qq_sub_heading">Tell us about your event and we'll send you free quotes from performers and vendors who can make it unforgettable.</div>
            <div class="change_circle_area">
                <div class="circle_one_qq"></div>
                <div class="strate_one_qq"></div>
                <div class="circle_two_qq"></div>
                <div class="strate_two_qq"></div>
                <div class="circle_three_qq"></div>
                <div class="bannerPhotoArea"></div>
                <div class="bannerThreeImg">
                    @{
                    Html.RenderAction("UserImage", "Users");
                    }
                </div>

            </div>

        </div>
       


    </div>
    <div class="panel-heading">
        <label class="control-label" style="color:green;">@ViewBag.Message</label>
        <p class="help-block">@ViewBag.ErrorMessage</p>
    </div>
    <div class="contentAreaTwo_qq">
        <div class="wrapper">
            <div class="formPartOne_qq">
                <p style="color:#000">Artist is related with : </p>
                    @{
                        Html.RenderAction("ArtistSubCat", "Users");
                    }
                
                <div class="contentZone">
                    @Html.CheckBoxFor(m => m.IsSendFreeQuote) Want to send free quote to 5 related artist ?
                </div>              
                
                 
                 @*<div class="singleFormqq single-form-left">
                Please select artist category type you would like to book:<br />
                <select name="ddlArtistType" id="ddlArtistType" class="qqSearch_select">
                    <option value="0">--Select Artist Type--</option>
                    <option value="1">Musical Acts</option>
                    <option value="2">Entertainers</option>
                    <option value="3">Speakers</option>
                    <option value="4">Other Services</option>
                </select>
                <span id="dlcatType" style="display:none;color:red;">Please select artist type</span>
            </div>
            <div class="singleFormqq single-form-left">
                Category you would like to book:<br />
                <select name="ddlCategory" id="ddlCategory" class="qqSearch_select">
                    <option value="0">--Select Category--</option>
                </select>
                <span id="dlcat" style="display:none;color:red;">Please select category</span>
            </div>
            <div class="singleFormqq single-form-left">
                Subcategory you would like to book:<br />
                <select name="ddlSubCategory" id="ddlSubCategory" class="qqSearch_select">
                    <option value="0">--Select Subcategory--</option>
                </select>
                <span id="dlSubcat" style="display:none;color:red;">Please select subcategory</span>
            </div>*@
                <div class="qq_login_area">
                    <input name="" type="button" class="login_qq" id="login_first_qq" value="Next" />
                </div>
            </div>
            <div class="formPartTwo_qq">
                <div class="singleFormqq single-form-left">
                    Type of event you are planning:<br />
                    @Html.DropDownListFor(m => m.FK_EventType, Model.EventsType, new { @class = "qqSearch valid" })
                    <span id="sneventtype" style="display:none;">@Html.ValidationMessageFor(m => m.FK_EventType)</span>
                </div>
                <div class="singleFormqq single-form-right">
                    Expected # of guests: <span>(approximate)</span>:<br />
                    @Html.TextBoxFor(m => m.NoOfGuest, new { @class = "qqSearch" })
                    @Html.ValidationMessageFor(m => m.NoOfGuest)
                </div>
                <div class="singleFormqq single-form-left">
                    Event city:<br />
                    @Html.TextBoxFor(m => m.City, new { @class = "qqSearch" })
                    <span id="sncity" style="display:none;">@Html.ValidationMessageFor(m => m.City)</span>
                </div>
                <div class="singleFormqq single-form-right">
                    Event state:<br />
                    @Html.TextBoxFor(m => m.State, new { @readonly = "true", @class = "qqSearch" })
                    <span id="snstate" style="display:none;">@Html.ValidationMessageFor(m => m.State)</span>
                </div>
                <div class="singleFormqq radio single-form-right">
                    Do you know the address/venue name for your event?<br />
                    @Html.RadioButtonFor(m => m.IsEventDateKnown, true, new { id = "ga" }) Yes
                    @Html.RadioButtonFor(m => m.IsEventDateKnown, false, new { id = "ind" }) No
                </div>
                <div class="singleFormqq radio single-form-left">
                    Do you know the exact event date?<br />
                    @Html.RadioButtonFor(m => m.IsVenueKnown, true, new { id = "ga" }) Yes
                    @Html.RadioButtonFor(m => m.IsVenueKnown, false, new { id = "ind" }) No
                </div>
                <div class="singleFormqq single-form-left">
                    Event date:<br />
                    @Html.TextBoxFor(m => m.EventDate, "{0:dd/MM/yyyy}", new { @class = "qqSearch" })
                </div>
                <!--<div class="fullWidth_qq">-->
                <div class="singleFormqq single-form-right">
                    How long will your event be?:<br />
                    @Html.TextBoxFor(m => m.EventDuration, new { @class = "qqSearch" })
                </div>
                <div class="singleFormqq single-form-left">
                    Event start time:<br />
                    @Html.DropDownListFor(m => m.EventStartTime, Model.EventTime, new { @class = "qqSearch" })
                </div>
                <!--</div>-->
                <div class="qq_login_area">
                    <input name="" type="button" class="back_qq" id="preFirst_qq" value="Back" />
                    <input name="" type="button" class="login_qq" id="second_next_qq" value="Next" />
                </div>
            </div>
            <div class="formPartThree_qq">
                <div class="singleFormqq single-form-left">
                    Your first &amp; last name:<br />
                    @Html.TextBoxFor(m => m.Name, new { @class = "qqSearch" })
                    <span id="snName" style="display:none;">@Html.ValidationMessageFor(m => m.Name)</span>
                </div>
                <div class="singleFormqq single-form-right">
                    Your phone no:<br />
                    @Html.TextBoxFor(m => m.Phone, new { @class = "qqSearch" })
                    <span id="snPhone" style="display:none;">@Html.ValidationMessageFor(m => m.Phone)</span>
                </div>
                <div class="singleFormqq single-form-left">
                    Your email:<br />
                    @Html.TextBoxFor(m => m.Email, new { @class = "qqSearch" })
                    <span id="snEmail" style="display:none;">@Html.ValidationMessageFor(m => m.Email)</span>
                </div>
                @*<div class="singleFormqq single-form-right">
                        Create a login password:<br />
                        @Html.Recaptcha(theme: CaptchaTheme.Light, type: CaptchaType.Image)
                        @Html.ValidationMessage("ReCaptcha")
                    </div>*@
                <div class="fullWidth_qq">
                    <span class="tB_qq">Event details:</span><br />
                    @Html.TextAreaFor(m => m.EventDetails, new { @class = "qqSearch" })
                    <span id="snEventDetails" style="display:none;">@Html.ValidationMessageFor(m => m.EventDetails)</span>
                </div>
                <div class="qq_login_area">
                    <input name="" type="button" class="back_qq" id="preSecond_qq" value="Back" />
                    <input name="" type="submit" class="login_qq" value="Submit" />
                </div>
            </div>
        </div>
    </div>
    <div class="contentAreaOne">
        <div class="wrapper">
            <div class="contentOneHeading">
                <h1>Easily book bands, entertainers, speakers and event services.</h1>
            </div>
            <div class="contentOnePart marRight44">
                <div class="imgArea">
                    <img src="~/images/how-its-done-discover.svg" alt="" border="0" />
                    <!--<img src="~/images/msg-img.png" alt="" border="0" />-->
                </div>
                <h2>EXPLORE YOUR OPTIONS</h2>
                Browse through a variety of vendors in your area. See photos, videos and verified reviews from real clients.
            </div>
            <div class="contentOnePart marRight44">
                <div class="imgArea">
                    <!--<img src="~/images/online-booking.png" alt="" border="0" />-->
                    <img src="~/images/how-its-done-compare.svg" alt="" border="0" />
                </div>
                <h2>COMPARE YOUR QUOTES</h2>
                Review customised quotes and evaluate your options. Then talk with the vendors right here on Artistwala.
            </div>
            <div class="contentOnePart">
                <div class="imgArea">
                    <img src="~/images/how-its-done-book.svg" alt="" border="0" />
                    <!--<img src="~/images/enjoy.png" alt="" border="0" />-->
                </div>
                <h2>BOOK WITH CONFIDENCE</h2>
                Choose who best fits your event and book with us to receive the best services.
            </div>
        </div>
    </div>
}

