﻿@model ArtistWala.Models.QuotesModel
@{
    ViewBag.Title = Model.profile;
    ViewBag.MetaDescription = "Artistwala gives event planners a fast and easy way to browse, contact, and hire the entertainers and services they need to make any event a success. Whether you're a first-timer or professional event planner, follow these 3 simple steps and you'll be on your way to event planning paradise!";
    ViewBag.MetaKeywords ="gigs, booking, bands, shows, hire, entertainment, events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery.ui.js"></script>

<script type="text/javascript" src="/js/timepicker/jquery.timepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/js/timepicker/jquery.timepicker.css" />



<script type="text/javascript">
    function MoveFirstTab() {
        $(".circle_two_qq, .strate_one_qq").css("background", "#3399cc");
        $(".circle_three_qq, .strate_two_qq").css("background", "#ccc");
        $(".formPartOne_qq").hide("100");
        $(".formPartThree_qq").hide("100");
        $(".formPartTwo_qq").show("100");
    }
    $(document).ready(function () {
        $("#preSecond_qq").click(function () {
            MoveFirstTab();
        });
        $(".circle_three_qq, #second_next_qq").click(function () {
            $(".circle_two_qq, .strate_one_qq, .circle_three_qq, .strate_two_qq").css("background", "#3399cc");
            $(".formPartOne_qq").hide("100");
            $(".formPartThree_qq").show("100");
            $(".formPartTwo_qq").hide("100");
        });

        $(".circle_one_qq, #preFirst_qq").click(function () {
            $(".circle_two_qq, .strate_one_qq, .circle_three_qq, .strate_two_qq").css("background", "#ccc");
            $(".formPartOne_qq").show("100");
            $(".formPartThree_qq").hide("100");
            $(".formPartTwo_qq").hide("100");
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        //$('#EventStartTime').timepicker();

        $('#ddlArtistType').change(function () {
            var CatType = $('#ddlArtistType').val();
            $("#ddlCategory").html('');
            $("#ddlCategory").append($("<option></option>").val('0').html('--Select Category--'));
            $.ajax({
                type: "POST",
                url: "/Services/GetCategory.ashx?catType=" + CatType,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (college) {
                    var result = JSON.parse(JSON.stringify(college));
                    $.each(result, function () {
                        $("#ddlCategory").append($("<option></option>").val(this['CategoryId']).html(this['CategoryName']));
                    });
                }
            });
        });

        $('#ddlCategory').change(function () {
            var CatType = $('#ddlCategory').val();
            $("#ddlSubCategory").html('');
            $("#ddlSubCategory").append($("<option></option>").val('0').html('--Select Subcategory--'));
            $.ajax({
                type: "POST",
                url: "/Services/GetSubcategory.ashx?catType=" + CatType,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (college) {
                    var result = JSON.parse(JSON.stringify(college));
                    $.each(result, function () {
                        $("#ddlSubCategory").append($("<option></option>").val(this['SubCategoryId']).html(this['SubCategoryName']));
                    });
                }
            });
        });

        $('#login_first_qq').click(function () {
            var type = false;
            var cat = false;
            var subcat = false;
            if ($('#ddlArtistType').val() == '0') {
                $('#dlcatType').show();
                type = false;
            }
            else {
                $('#dlcatType').hide();
                type = true;
            }

            if ($('#ddlCategory').val() == '0') {
                $('#dlcat').show();
                cat = false;
            }
            else {
                $('#dlcat').hide();
                cat = true;
            }

            if ($('#ddlSubCategory').val() == '0') {
                $('#dlSubcat').show();
                subcat = false;
            }
            else {
                $('#dlSubcat').hide();
                subcat = true;
            }

            if (type == true && cat == true && subcat == true) {
                MoveFirstTab();
                return true;
            } else {
                return false;
            }

        });

        $('#second_next_qq').click(function () {
            var eventtype = false;
            var city = false;
            var state = false;
            if ($('#FK_EventType').val() == '0') {
                $('#sneventtype').show();
                type = false;
            }
            else {
                $('#sneventtype').hide();
                type = true;
            }

            if ($('#City').val() == '0') {
                $('#sncity').show();
                cat = false;
            }
            else {
                $('#sncity').hide();
                cat = true;
            }

            if ($('#State').val() == '0') {
                $('#snstate').show();
                subcat = false;
            }
            else {
                $('#snstate').hide();
                subcat = true;
            }

            if (eventtype == true && city == true && state == true) {
                MoveFirstTab();
                return true;
            } else {
                return false;
            }

        });

        $('#login_qq').click(function () {
            var Name = false;
            var Phone = false;
            var Email = false;
            var EventDetails = false;
            if ($('#Name').val() == '') {
                $('#snName').show();
                type = false;
            }
            else {
                $('#snName').hide();
                type = true;
            }

            if ($('#Phone').val() == '') {
                $('#snPhone').show();
                cat = false;
            }
            else {
                $('#snPhone').hide();
                cat = true;
            }

            if ($('#Email').val() == '') {
                $('#snEmail').show();
                subcat = false;
            }
            else {
                $('#snEmail').hide();
                subcat = true;
            }
            if ($('#EventDetails').val() == '') {
                $('#snEventDetails').show();
                subcat = false;
            }
            else {
                $('#snEventDetails').hide();
                subcat = true;
            }

            if (Name == true && Email == true && Phone == true && EventDetails) {
                MoveFirstTab();
                return true;
            } else {
                return false;
            }

        });
    });
</script>
<script type="text/javascript">
    var currentDate = new Date();
    var CalenderControl = new function () {
        this.ControlId = '';
        this.Show = function () {
            $("#" + this.ControlId).datepicker({
                showOn: "focus",
                buttonImageOnly: false,
                dateFormat: "mm/dd/yy",
                showAnim: "show",
                autoSize: true,
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                yearRange: '1960:2070'
            });            
        };


    }

    $(document).ready(function () {
        CalenderControl.ControlId = 'EventDate';
        CalenderControl.Show();
    });

</script>





<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript">
    $.getJSON('https://freegeoip.net/json/')
         .done(function (location) {
             // $('#country').html(location.country_name);
             // $('#Location').html(location.city);
             //$('#Location').val(location.city);
             // alert(location.city);
             //$('#latitude').html(location.latitude);
             //$('#longitude').html(location.longitude);

             if ($.cookie("ArtistwalaLocation") == "") {
                 //no cookie
                 $.cookie("ArtistwalaLocation", location.city, { expires: 365 });
                 $('#Location1').val(location.city);
             }
             else {
                 $('#Location1').val($.cookie("ArtistwalaLocation"));
             }

         });
</script>




<script>
    $(document).ready(function () {


        $('#Location1').val($.cookie("ArtistwalaLocation"));


        $("#SearchText1").autocomplete({
            source: function (request, response) {

                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Services/GetSearchResult.ashx?name=' + $("#SearchText1").val(),
                    dataType: "json",
                    success: function (data) {
                        var result = JSON.parse(JSON.stringify(data));
                        response($.map(result, function (item) {
                            return {
                                label: item['Name'],
                                val: item['UserId']
                            }
                        }));
                    },
                    error: function (result) {
                        // alert("Error");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {

                $('#SearchText1').val(ui.item.label);
                $('#SearchId').val(ui.item.val);
                //window.location.href = '/Admin/Messages/ArtistMessage?id=' + ui.item.val + '&Name=' + ui.item.label;
            }
        });




        $("#Location1").autocomplete({
            source: function (request, response) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: '/Services/GetSearchLocation.ashx?Location=' + $("#Location1").val(),
                    dataType: "json",
                    success: function (data) {
                        var result = JSON.parse(JSON.stringify(data));
                        response($.map(result, function (item) {
                            return {
                                label: item['Name']
                            }
                        }));
                    },
                    error: function (result) {
                        // alert("Error");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                $('#Location1').val(ui.item.label);
                $.cookie("ArtistwalaLocation", ui.item.label, { expires: 365 });
                //window.location.href = '/Admin/Messages/ArtistMessage?id=' + ui.item.val + '&Name=' + ui.item.label;
            }
        });



    });
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhi4arreTx7SJhsx51gCMCk4AKKxunU90&libraries=places"></script>
@*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>*@
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function () {
        var options = {
            types: ['(cities)'],
            componentRestrictions: { country: "in" }
        };

        var input = document.getElementById('City');
        var places = new google.maps.places.Autocomplete(input, options);


    });
</script>





@using (Html.BeginForm("QuickQuote", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="totalContentArea pdBtmNone">
        <div class="wrapper">
            <div class="qq_heading">You're on your way to an epic event.</div>
            <div class="qq_sub_heading">Tell us about your event and we'll send you free quotes from performers and vendors who can make it unforgettable.</div>
            <div class="change_circle_area">
                <div class="circle_one_qq"></div>
                <div class="strate_one_qq"></div>
                <div class="circle_two_qq"></div>
                <div class="strate_two_qq"></div>
                <div class="circle_three_qq"></div>
                <div class="quickQuoteImage">
                    @{
    Html.RenderAction("UserImage", "Users");
                    }
                </div>
            </div>

        </div>



    </div>
    <div class="panel-heading">
        <label class="control-label" style="color:green;">@ViewBag.Message</label>
        <p class="help-block">@ViewBag.ErrorMessage</p>
    </div>
    <div class="contentAreaTwo_qq">
        <div class="wrapper">
            <div class="formPartOne_qq">
                @Html.HiddenFor(m => m.profile)
                @if (@Model.profile != null)
                {
                    <p style="color:#000">Artist is related with category : </p>

                    { Html.RenderAction("ArtistSubCat", "Users"); }


                    <div class="QuickcontentZone">
                        @Html.CheckBoxFor(m => m.IsSendFreeQuote) Do you also like to request quotes to other 5 similar artists?
                    </div>
                }
                else
                {
                    //Html.RenderAction("QuickArtist", "Users");
                    <div class="banner" style="height:100px;">
                        <div class="bannerSearchArea" style="margin-top:-15px;">
                            <div class="searchBoxArea">
                                <form action="#" method="get">
                                    <div>
                                        @*<span>What would you like to book?</span>*@
                                        @Html.TextBoxFor(m => m.SearchText1, new { @class = "searchBox", placeholder = "Ex: Band, Singer, Dancer, Photographer & more.", maxlength = 100 })
                                    </div>
                                    <div>
                                        @*<span>Where will your event be?</span>*@
                                        @Html.TextBoxFor(m => m.Location1, new { @class = "searchBox news", placeholder = "Ex: Mumbai, Delhi, Kolkata ...", maxlenth = 100 })
                                    </div>
                                    @*<input name="" type="submit" class="submitBtnSearch" value="Search" />*@
                                </form>
                            </div>
                        </div>
                    </div>

                }

                <div class="qq_login_area">
                    <input name="" type="button" class="login_qq" id="login_first_qq" value="Next" />
                </div>
            </div>

            <div class="formPartTwo_qq">
                <div class="singleFormqq single-form-left">
                    Type of event you are planning:<br />
                    @Html.DropDownListFor(m => m.FK_EventType, Model.EventsType, new { @class = "qqSearch valid" })
                    @Html.HiddenFor(x => x.TypeText)
                    <span id="sneventtype" style="display:none;">@Html.ValidationMessageFor(m => m.FK_EventType)</span>
                </div>
                <div class="singleFormqq single-form-right">
                    Expected No. of guests: <span>(approximate)</span>:<br />
                    @Html.TextBoxFor(m => m.NoOfGuest, new { @class = "qqSearch" })
                    @Html.ValidationMessageFor(m => m.NoOfGuest)
                </div>
                <div class="fullWidth_qq">
                    <span class="tB_qq"> Event city:</span><br />
                    @Html.TextBoxFor(m => m.City, new { @class = "qqSearch" })
                    <span id="sncity" style="display:none;">@Html.ValidationMessageFor(m => m.City)</span>
                </div>
                <div class="singleFormqq radio single-form-left">
                    Do you know the address/venue name for your event?<br />
                    @Html.RadioButtonFor(m => m.IsVenueKnown, true, "Yes") Yes
                    @Html.RadioButtonFor(m => m.IsVenueKnown, false, "No") No
                </div>
                <div class="singleFormqq radio single-form-right">
                    Do you know the exact event date?<br />
                    @Html.RadioButtonFor(m => m.IsEventDateKnown, true, "Yes") Yes
                    @Html.RadioButtonFor(m => m.IsEventDateKnown, false, "No") No
                </div>
                <div id="dvvenue" class="singleFormqq single-form-left">
                    Event venue:<br />
                    @Html.TextBoxFor(m => m.Venue, new { @class = "qqSearch" })
                    <span id="snstate" style="display:none;">@Html.ValidationMessageFor(m => m.Venue)</span>
                </div>
                <div id="date-div" style="" class="singleFormqq single-form-right">
                    Event date:<br />
                    @Html.TextBoxFor(m => m.EventDate, "{0:MM/dd/yyyy}", new { @class = "qqSearch" })
                    @*@Html.TextBoxFor(m => m.EventDate, "{0:dd/MM/yyyy}", new { @class = "qqSearch", })*@
                </div>
                <!--<div class="fullWidth_qq">-->
                <div class="singleFormqq single-form-left">
                    Event start time:<br />
                    @Html.DropDownListFor(m => m.EventStartTime, Model.EventTime, new { @class = "qqSearch" })
                    @Html.HiddenFor(x => x.StartTimeText)
                </div>
                <div class="singleFormqq single-form-right">
                    How long will your event be?:<br />
                    @Html.DropDownListFor(m => m.EventDuration, Model.EvntDuration, new { @class = "qqSearch" })
                    @Html.HiddenFor(x => x.DurationText)
                    @*@Html.TextBoxFor(m => m.EventDuration, new { @class = "qqSearch" })*@
                </div>
                <!--</div>-->
                <div class="qq_login_area">
                    <input name="" type="button" class="back_qq" id="preFirst_qq" value="Back" />
                    <input name="" type="button" class="login_qq" id="second_next_qq" value="Next" />
                </div>
            </div>
            <div class="formPartThree_qq">
                <div class="fullWidth_qq">
                    <span class="tB_qq">Event details:</span><br />
                    @Html.TextAreaFor(m => m.EventDetails, new { @class = "qqSearch", style = "height: 98px;" })
                    <span id="snEventDetails" style="display:none;">@Html.ValidationMessageFor(m => m.EventDetails)</span>
                </div>

                <div class="qq_login_area">
                    @if (Request.IsAuthenticated)
                    {
                        <input name="" type="button" class="back_qq" id="preSecond_qq" value="Back" />
                        <input name="" type="submit" class="login_qq" value="Submit" />
                    }
                    else
                    {

                        <input name="" type="button" class="back_qq" id="preSecond_qq" value="Back" />
                        <input id="cntct" name="" type="button" class="login_qq" href="#QuickLogin" value="Submit" />
                        Session["ReturnUrl"] = Request.Url;
                        <div id="QuickLogin" style="display: none;margin:20px;">
                            @{
                                Html.RenderAction("LoginPopUp", "Users");
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="contentAreaOne">
        <div class="wrapper">
            <div class="contentOneHeading">
                <h1>Easily book bands, entertainers, speakers and event services.</h1>
            </div>
            <div class="contentOnePart marRight44">
                <div class="imgArea">
                    <img src="~/images/how-its-done-discover.svg" alt="" border="0" />
                    <!--<img src="~/images/msg-img.png" alt="" border="0" />-->
                </div>
                <h2>EXPLORE YOUR OPTIONS</h2>
                Browse through a variety of vendors in your area. See photos, videos and verified reviews from real clients.
            </div>
            <div class="contentOnePart marRight44">
                <div class="imgArea">
                    <!--<img src="~/images/online-booking.png" alt="" border="0" />-->
                    <img src="~/images/how-its-done-compare.svg" alt="" border="0" />
                </div>
                <h2>COMPARE YOUR QUOTES</h2>
                Review customised quotes and evaluate your options. Then talk with the vendors right here on Artistwala.
            </div>
            <div class="contentOnePart">
                <div class="imgArea">
                    <img src="~/images/how-its-done-book.svg" alt="" border="0" />
                    <!--<img src="~/images/enjoy.png" alt="" border="0" />-->
                </div>
                <h2>BOOK WITH CONFIDENCE</h2>
                Choose who best fits your event and book with us to receive the best services.
            </div>
        </div>
    </div>
}

<script>
    $("#dvvenue").hide();
    $("input[name='IsVenueKnown']").change(function () {
        $("#dvvenue").toggle();
    });

    $("#date-div").hide();
    $("input[name='IsEventDateKnown']").change(function () {
        $("#date-div").toggle();
    });


    $(function () {
        $("form").submit(function () {
            var selTypeText = $("#EventStartTime option:selected").text();
            $("#StartTimeText").val(selTypeText);
        });
    });

    $(function () {
        $("form").submit(function () {
            var selText = $("#EventDuration option:selected").text();
            $("#DurationText").val(selText);
        });
    });

    $(function () {
        $("form").submit(function () {
            var SelectTypeText = $("#FK_EventType option:selected").text();
            $("#TypeText").val(SelectTypeText);
        });
    });


    $(function () {
        $('#cntct').fancybox({
            'autoSize': false,
            'width': 550,
            'height': 465,
            padding: 5,
            helpers: { overlay: { closeClick: false } }
        });
    });



</script>

<!-- Google Code for Artistwala - Google Conversion Pixel Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 860607930;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Rs5NCJLdr24QuquvmgM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/860607930/?label=Rs5NCJLdr24QuquvmgM&amp;guid=ON&amp;script=0" />
    </div>
</noscript>