﻿@model ArtistWala.Repository.tblArtist

@{
    Layout = null;
}
<style>
    .element {
        color: rgb(51, 153, 204);
        text-align: center;
        font-size: 20px;
    }
</style>
@if (Model != null)
{
    if (Model.tblUser != null)
    {
        if (!string.IsNullOrEmpty(Model.tblUser.ProfileImage))
        {
            <img width="100%" src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"] + Model.tblUser.ProfileImage)" alt="" border="0" />
        }
        else
        {
            <img width="100%" src="~/images/no-image.png" alt="no image" border="0" />
        }
    }
    else
    {
        <img width="100%" src="~/images/no-image.png" alt="no image" border="0" />
    }
}
else
{
    <img width="100%" src="~/images/no-image.png" alt="no image" border="0" />
}
<div>
    <p class="element">@Model.ArtistName</p>
</div>

@*<div class="contentAreaTwo">
    <div class="wrapper">
        @{
            Html.RenderAction("FeatureArtist", "Home");
        }
    </div>
</div>*@