﻿@model ArtistWala.Areas.Admin.Models.ArtistModel
@{
    ViewBag.Title = "Add New Artist";
}
@{RouteData rd = RouteTable.Routes.GetRouteData(new HttpContextWrapper(HttpContext.Current)); }

<link href="/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery.ui.js"></script>
@*<script src="http://maps.google.com/maps/api/js?libraries=places&region=uk&language=en&sensor=false"></script>*@
<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
<script type="text/javascript">
    var CalenderControl = new function () {
        this.ControlId = '';
        this.Show = function () {
            $("#" + this.ControlId).datepicker({
                showOn: "focus",
                buttonImageOnly: false,
                dateFormat: "mm/dd/yy",
                showAnim: "show",
                autoSize: true,
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                yearRange: '1960:2050'
            });
        };
    }

    $(document).ready(function () {
        CalenderControl.ControlId = 'DateOfBirth';
        CalenderControl.Show();
    });

</script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($('#ga').is(':checked') == true) {
            $('#dvGropuMember').slideDown('slow');
        } else {
            $('#dvGropuMember').slideUp('slow');
        }

        $('#ga').click(function () {
            $('#dvGropuMember').slideDown('slow');
        });
        $('#ind').click(function () {
            $('#dvGropuMember').slideUp('slow');
        });
    });

    function AddGroupMember() {
        var maxGroupMember = 10;
        var currentRow = parseInt($('#hidGroupMember').val());

        if (maxGroupMember < parseInt(currentRow)) {
            return false;
        }

        currentRow += 1;

        var newRow = "<tr id='trgroup" + currentRow + "'>" +
                    "<td><input type='text' id='txtGrMemberName" + currentRow + "' name='txtGrMemberName" + currentRow + "' maxlength='100' /></td>" +
                    "<td><input type='file' name='txtGrMemberImg" + currentRow + "' id='txtGrMemberImg" + currentRow + "' /></td>" +
                    "<td><textarea name='txtGrDescription" + currentRow + "' id='txtGrDescription" + currentRow + "' maxlength='400'></textarea></td>" +
                    "<td><img id='imgremove" + currentRow + "' src='~/images/minus.png' onclick='return removeMember(" + currentRow + ");' /></td></tr>";

        $('#dvGropuMember tbody').append(newRow);
        $('#hidGroupMember').val(currentRow);

        var totalChilddiv = $("#dvGropuMember tbody tr").length;

        $("#dvGropuMember tbody tr").each(function (event) {
            if (totalChilddiv == maxGroupMember) {
                $(".imgAddTS").hide();
            }
            else
                $(".imgAddTS").show();
        });
        $("#imgremove" + (currentRow - 1)).hide();
    }

    function removeMember(position) {
        var counter = parseInt($('#hidGroupMember').val());
        if (counter == 1) {
            alert("No more list avalibale to remove");
            return false;
        }

        $("#trgroup" + position).remove();
        position--;

        var totalChilddiv = $("#dvGropuMember tbody tr").length;
        $("#dvGropuMember tbody tr").each(function (event) {
            if (totalChilddiv == 10) {
                $(".imgAddTS").hide();
            }
            else
                $(".imgAddTS").show();
        });
        $("#imgremove" + position).show();
        $('#hidGroupMember').val(counter - 1);
    }
</script>

<script type="text/javascript">
    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('Address')),
            { types: ['geocode'] });

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
    }

    // [START region_fillform]
    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

    $(function () {

        $("#Address").focusin(function () {
            geolocate();
        });

        function moveMarker(placeName, latlng) {
            marker.setIcon(image);
            marker.setPosition(latlng);
            infowindow.setContent(placeName);
            infowindow.open(map, marker);
        }

        $('#Address').blur(function () {
            BindAddess($('#Address').val());
        });

        BindAddess($('#Address').val());
    });

    function BindAddess(value) {
        var arr = value.split(',');
        if (value.indexOf(',') != -1) {
            $('#State').val(arr[arr.length - 2]);
            $('#City').val(arr[arr.length - 3]);
            $('#Country').val(arr[arr.length - 1]);
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#dataTables-group').DataTable({
            responsive: true
        });
    });

    //check user ID exist or not
    $(document).ready(function () { 

        $('#UserName').on('focusout', function (event) {
           
               //alert("success");
                $.ajax({
                    type: "GET",
                    url: "/Admin/Artist/CheckUserId",
                    dataType: "JSON", 
                    success: function (result) {
                        alert("success");
                    }
                }); 
        });
         
    });

</script>
<script type="text/javascript">
    $(function () {
        $('.alpnum').keypress(function (e) {
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }

            e.preventDefault();
            return false;
        });
    });
</script>

@using (Html.BeginForm("AddArtist", "Artist", FormMethod.Post, new { Area = "Admin", enctype = "multipart/form-data" }))
{
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.UserName) *</label>
                                @Html.HiddenFor(m => m.FK_UserId)
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control alpnum", maxlength = 20 })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.UserName)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.ArtistName) *</label>
                                @Html.TextBoxFor(m => m.ArtistName, new { @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.ArtistName)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.DateOfBirth) *</label>
                                @Html.TextBoxFor(m => m.DateOfBirth, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.DateOfBirth)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Sex) *</label>
                                @Html.DropDownListFor(m => m.Sex, new List<SelectListItem>()
                                        {
                                            new SelectListItem() { Text= "Male", Value = "Male" },
                                            new SelectListItem() { Text= "Female", Value = "Female" }
                                        }, "Select Sex", new { @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.Sex)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.HouseNumber)</label>
                                @Html.TextBoxFor(m => m.HouseNumber, new { id = "street_number", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Address) *</label>
                                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.Address)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.City) *</label>
                                @Html.TextBoxFor(m => m.City, new { @readonly = "true", id = "locality", style = "background-color:#EEE", @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.City)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.State) *</label>
                                @Html.TextBoxFor(m => m.State, new { @readonly = "true", id = "administrative_area_level_1", style = "background-color:#EEE", @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.State)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Country) *</label>
                                @Html.TextBoxFor(m => m.Country, new { @readonly = "true", id = "country", style = "background-color:#EEE", @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.Country)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Pin)</label>
                                @Html.TextBoxFor(m => m.Pin, new { id = "postal_code", @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Email)</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.Email)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Website)</label>
                                @Html.TextBoxFor(m => m.Website, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Phone)</label>
                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", onkeypress = "return checkOnlyNumber(this,event);" })
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.Mobile)</label>
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", onkeypress = "return checkOnlyNumber(this,event);" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.Mobile)</p>
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.AboutMe) *</label>
                                @Html.TextAreaFor(m => m.AboutMe, new { @class = "form-control" })
                                <p class="help-block">@Html.ValidationMessageFor(m => m.AboutMe)</p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.IsActive)  @Html.CheckBoxFor(m => m.IsActive)
                                <p class="help-block">@Html.ValidationMessageFor(m => m.IsActive)</p>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.IsFeatured)  @Html.CheckBoxFor(m => m.IsFeatured)
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.MinmumRates)</label>
                                @Html.TextBoxFor(m => m.MinmumRates, new { @class = "form-control", onkeypress = "return checkTwoDecimalNumber(this,event);" })
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.FB_FanLink)</label>
                                @Html.TextBoxFor(m => m.FB_FanLink, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@Html.LabelFor(m => m.IsGroup)</label>
                                @Html.RadioButtonFor(m => m.IsGroup, true, new { id = "ga" }) Group Artist
                                @Html.RadioButtonFor(m => m.IsGroup, false, new { id = "ind" }) Individual
                            </div>

                            <input type="hidden" value="1" id="hidGroupMember" name="hidGroupMember" />
                            <table id="dvGropuMember" style="display:none">
                                <thead>
                                    <tr>
                                        <td>Member Name</td>
                                        <td>Member Image</td>
                                        <td>Short Description</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="trgroup1">
                                        <td><input type="text" id="txtGrMemberName1" name="txtGrMemberName1" maxlength="100" /></td>
                                        <td><input type="file" name="txtGrMemberImg1" id="txtGrMemberImg1" /></td>
                                        <td><textarea name="txtGrDescription1" id="txtGrDescription1" maxlength="400"></textarea></td>
                                        <td><img id="imgadd" src="~/images/plus.png" onclick="return AddGroupMember();" class="imgAddTS" /></td>
                                    </tr>
                                </tbody>
                            </table>

                            <button type="submit" class="btn btn-default">Submit &amp; Continue</button>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Group Member List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-group">
                        <thead>
                            <tr>
                                <td>Member Name</td>
                                <td>About Member</td>
                                <td>Member Photo</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.IsGroup == true)
                            {
                                int i = 0;
                                foreach (var item in Model.groupMember)
                                {
                                    if (i % 2 == 0)
                                    {
                                        <tr class="odd gradeX">
                                            <td>
                                                @item.MemberName
                                            </td>
                                            <td>
                                                @item.MemberDescription
                                            </td>
                                            <td>
                                                <img src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"]+item.ImagePath)" style="width: 150px; height: 130px;" />
                                            </td>
                                            <td>
                                                <a href="@Url.Action("DeleteGroupMember", "Artist", new { id = item.GroupMemberId })">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="even gradeC">
                                            <td>
                                                @item.MemberName
                                            </td>
                                            <td>
                                                @item.MemberDescription
                                            </td>
                                            <td>
                                                <img src="@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["ArtistImagePath"]+item.ImagePath)" style="width: 150px; height: 130px;" />
                                            </td>
                                            <td>
                                                <a href="@Url.Action("DeleteGroupMember", "Artist", new { id = item.GroupMemberId })">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                    i++;
                                }
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
}
<div id="map"></div>