﻿<link href="/js/slim/slim.min.css" rel="stylesheet">
<script src="/js/slim/slim.kickstart.min.js"></script>

<script>
    function cropimagecover(data, ready) {
        // get the drawing context for the output image
        var ctx = data.output.image.getContext('2d');

        // continue saving the data
        ready(data);
        var x = data.actions.crop.x.toString().split(".")[0];
        var y = data.actions.crop.y.toString().split(".")[0];
        var width = data.actions.crop.width.toString().split(".")[0];
        var height = data.actions.crop.height.toString().split(".")[0];
        $('#hidCoordinates1').val(x + '|' + y + '|' + width + '|' + height);        
    }
</script>

@using (Html.BeginForm("AddCoverPicture", "Artist", FormMethod.Post, new { Area = "Admin", enctype = "multipart/form-data" }))
{
    <input type="hidden" id="hidCoordinates1" name="hidCoordinates1" />
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Select Cover Picture</label>
                                <input name="FILE2" type="file" id="FILE2" class="choose" />
                            </div>
                            <button type="submit" id="btnSaveCoverPic" class="btn btn-default">Upload</button>
                            <div class="form-group">
                                <div class="slim"
                                     data-ratio="16:6"
                                     @*data-size="1200,370"*@
                                     data-will-transform="cropimagecover">

                                    @*<img style="margin-top:10px;" src="@ViewBag.Image" id="imgCrop">*@

                                    @if (!string.IsNullOrEmpty(Convert.ToString(Session[ArtistWala.Models.SessionConstants.CoverImage])))
                                    {
                                        <img style="margin-top:10px;" src="@Convert.ToString(Session[ArtistWala.Models.SessionConstants.CoverImage])" id="imgCrop">

                                    }
                                </div>
                                <div class="upload"> <input type="submit" value="Save" class="btn btn-default" /></div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
}
