﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error Page</title>
</head>
<body style="background-color:gray;">
    <div style="text-align:center; background-image:url()"> </div>
    <div style="font-size:50px; color: goldenrod; text-align:center; margin-top:20%;">
    Oops there is nothing here. Please return back.
    </div>
</body>
</html>
