﻿@model ArtistWala.Repository.tblQuote
@{
    ViewBag.Title = "Quotes Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Details", "Quotes", FormMethod.Get, new { Area = "Admin" }))
{
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@ViewBag.Title</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    @*<div class="form-group">
                                            <label>Artist Category Type :</label>
                                            @Html.DisplayFor(m => m.tblArtistSubCategory.tblArtistCategory.tblArtistCategoryType.TypeName)
                                        </div>
                                        <div class="form-group">
                                            <label>Artist Category :</label>
                                            @Html.DisplayFor(m => m.tblArtistSubCategory.tblArtistCategory.CategoryName)
                                        </div>*@
                                    <div class="form-group">
                                        <label>Artist Related with :</label>
                                        @*@foreach (var item in Model.tblArtist.tblArtistCategoryMappings)
                                        {
                                            <a href="javascript:void(0);">@item.tblArtistSubCategory.SubCategoryName</a>
                                        }*@
                                        @foreach (var item in Model.SubCategoryName)
                                        {
                                             @*@Html.Display(item.SubCategoryName)*@
                                            @item.SubCategoryName; 
                                            <label>,</label>
                                        }
                                    </div>
                                    <div class="form-group">
                                        <label>Type of event :</label>
                                        @Html.DisplayFor(m => m.tblStaticContent.EventType)
                                    </div>
                                    <div class="form-group">
                                        <label>Expected No. of guests :</label>
                                        @Html.DisplayFor(m => m.NoOfGuest)
                                    </div>
                                    <div class="form-group">
                                        <label>Event City :</label>
                                        @Html.DisplayFor(m => m.City)
                                    </div>
                                    @*<div class="form-group">
                                            <label>Event State :</label>
                                            @Html.DisplayFor(m => m.Venue)
                                        </div>*@
                                    <div class="form-group">
                                        <label>Do you know the address/venue name for your event?</label>
                                        @Html.Raw(Convert.ToString(Model.IsVenueKnown == true ? "Yes" : "No"))
                                    </div>
                                    <div class="form-group">
                                        <label>Event address/venue :</label>
                                        @Html.DisplayFor(m => m.Venue)
                                    </div>
                                    <div class="form-group">
                                        <label>Do you know the exact event date?</label>
                                        @Html.Raw(Convert.ToString(Model.IsEventDateKnown == true ? "Yes" : "No"))
                                    </div>
                                    <div class="form-group">
                                        <label>Event date :</label>
                                        @string.Format("{0:dd/MM/yyyy}", Model.EventDate)
                                        @*@Html.DisplayFor(m => m.EventDate, "{0:MM/dd/yyyy}")*@
                                    </div>
                                    <div class="form-group">
                                        <label>How long will your event be?</label>
                                        @Html.DisplayFor(m => m.EventDuration)
                                    </div>
                                    <div class="form-group">
                                        <label>Event start time :</label>
                                        @Html.DisplayFor(m => m.EventStartTime)
                                    </div>
                                    <div class="form-group">
                                        <label>Name :</label>
                                        @Html.DisplayFor(m => m.tblClient.ClientName)
                                    </div>
                                    <div class="form-group">
                                        <label>Phone :</label>
                                        @Html.DisplayFor(m => m.tblClient.ContactNo)
                                    </div>
                                    <div class="form-group">
                                        <label>Email :</label>
                                        @Html.DisplayFor(m => m.tblClient.Email)
                                    </div>
                                    <div class="form-group">
                                        <label>Event Details :</label>
                                        @Html.DisplayFor(m => m.EventDetails)
                                    </div>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
}

