﻿@model ArtistWala.Areas.Admin.Models.SubcategoryModel
@{
    ViewBag.Title = "Add Subcategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#dataTables-category').DataTable({
            responsive: true
        });
    });
</script>

@using (Html.BeginForm("AddSubCategory", "Category", FormMethod.Post, new { Area = "Admin" }))
{

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Subcategory</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="panel-heading">
                <label class="control-label" style="color:green;">@ViewBag.Message </label>
                <p class="help-block">@ViewBag.ErrorMessage</p>
            </div>
            <div class="form-group">
                <label>All (*) fields are mandatory</label>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Category *</label>
                                        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.objCategory, "ArtistCategoryId", "CategoryName"), "Select Category", new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.CategoryId)</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Subcategory Name *</label>
                                        @Html.TextBoxFor(m => m.SubCategoryName, new { @class = "form-control" })
                                        <p class="help-block">
                                            @Html.ValidationMessageFor(m => m.SubCategoryName)
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <label>Is Active</label>
                                        @Html.CheckBoxFor(m => m.IsActive)
                                    </div>
                                    <button type="submit" id="btnSave" class="btn btn-default">Save</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Subcategory List
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-category">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Subcategory Name</th>
                                        <th>Is Active</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.objSubCategory)
                                        {
                                            if (i % 2 == 0)
                                            {
                                                <tr class="odd gradeX">
                                                    <td>@item.tblArtistCategory.CategoryName</td>
                                                    <td class="center">
                                                        @item.SubCategoryName
                                                    </td>
                                                    <td class="center">
                                                        @Convert.ToString(item.IsActive == true ? "Yes" : "No")
                                                    </td>
                                                    <td class="center">
                                                        <a href="@Url.Action("AddSubCategory", "Category", new { Area = "Admin", id = item.ArtistSubCategoryId})">Edit</a>
                                                        <a onclick="return confirm('Are you sure you want to delete?');" href="@Url.Action("DeleteSubCategory", "Category", new { Area = "Admin", id = item.ArtistSubCategoryId})">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="even gradeC">
                                                    <td>@item.tblArtistCategory.CategoryName</td>
                                                    <td class="center">
                                                        @item.SubCategoryName
                                                    </td>
                                                    <td class="center">
                                                        @Convert.ToString(item.IsActive == true ? "Yes" : "No")
                                                    </td>
                                                    <td class="center">
                                                        <a href="@Url.Action("AddSubCategory", "Category", new { Area = "Admin", id = item.ArtistSubCategoryId})">Edit</a>
                                                        <a onclick="return confirm('Are you sure you want to delete?');" href="@Url.Action("DeleteSubCategory", "Category", new { Area = "Admin", id = item.ArtistSubCategoryId})">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
}
