.header_top {
  background:#bdbcbc;
}

.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: #696763;
  font-family: 'Roboto', sans-serif;
}


.contactinfo ul li a:hover{
	background:inherit;
}


.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #696763;
  padding:0px;
}


.social-icons ul li{
	display:inline-block;
}

.social-icons ul li a i {
  padding: 14px 15px;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
  color: #fff;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}


.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover  {
	background:#5BBCEC;
}

.fa-linkedin:hover  {
	background:#FF4518;
}

.fa-dribbble:hover  {
	background:#90C9DC;
}

.fa-google-plus:hover  {
	background:#CE3C2D;
}

.bottom-menu{
    width: 100%;
    float: left;
    padding: 20px 0px;
    background:#3c3d40;
}




.services {
  width: 100%;
  float: left;
  color: #fff;
  padding: 30px 0;
  background: url(../images/service-bg2.png) no-repeat;
  background-size:cover;
  /*background: #000;*/
}
.center {
    text-align: center;
    margin: 9px 0;
}


.we-offer {
    width: 100%;
    float: left;
    padding: 20px 0;
    background: #e4e4e4;
}
.heading p{
  margin: 0px;
}
.offer-section{
  list-style: none;display: block; padding: 0px; margin: 0px;
}

.offer-section li{
  display: inline-block; padding: 0px; margin: 0px;
}
.icon{
          float: left;
    display: block;
        padding-right: 2%;
}
.offer-text h4{
      margin: 0;
}
.offer-text{
  display: block;
    float: left;
    width: 90%;
}
.offer-text p{
  font-size: 14px;
    margin: 0;
    margin: 6px 0 10px;
}

.development{
    background: rgba(0, 0, 0, 0) url("../images/process-bg.png") no-repeat scroll 0 0;
    background-size:cover;
    float: left;
    padding: 5%;
    width: 100%;
    /*background:#cccccc;*/
}
.heading-W {
    width: 100%;
    text-align: center;
    color: #fff;
}

.save-icon-style {
    border: 2px solid #adadad;
    border-radius: 50%;
    left: 1px;
    margin: 16% 0;
    position: absolute;
    z-index: 1;
    width: 82px;
    height: 82px;
    background: #fff;
}
.text-box {
    background-color: #fff;
    padding: 5% 0;
    left: 40px;
    margin: 10px 0;
    position: relative;
    width: 86%;
    float: left;
}
.text-style1 {
    color: #000;
    font-size: 16px;
    margin: 2% 19%;
}
.text-style {
    color: #000;
    font-size: 14px;
    margin: 2% 19%;
}

.team {
    width: 100%;
    float: left;
    background: url(../images/team.jpg);
    padding: 30px 0;
    padding-bottom: 0;
    background-size:cover;
}
.team-imagse {
    display: block;
    text-align: center;
   /* padding: 0 220px;*/
}
.team-member {
    width: 130px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    float: left;
}

.width {
    width: 100%;
}
.blog{
width:100%;
float:left;
background:#fff;
}
.Portfolio-section{
    width: 100%;
    float: left;
    padding: 40px 0;
    /*background: url(../images/project_bg.jpg) repeat-x;*/
    background: url(../images/team.jpg);
}
.heading-B {
    width: 100%;
    text-align: center;
    color: #000;
}

#wonderplugincarousel-2 .amazingcarousel-next, #wonderplugincarousel-2 .amazingcarousel-prev, 
.amazingcarousel-bullet-0, .amazingcarousel-bullet-1{
  display: none !important;
}
.tslider blockquote p{
  padding: 0px 20px;
}

.ei-title h2, .ei-title h3{
  float: left !important;
}
.ei-slider .ei-slider-large .ei-title h2{
  background-color: transparent !important;
      font-size: 40px;
    line-height: 50px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: #b5b5b5;
}
.ei-slider-large .ei-title .wp-eslider-caption{
  background-color: transparent !important;
      font-size: 70px !important;
    line-height: 70px !important;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    color: #000 !important;
}


/*************************
******* Contact CSS ********
**************************/

.contact-map {
  width: 100%;
  height: 385px;
  margin-bottom: 70px
}

.contact-info .heading, 
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page 
.form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact-page .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow:inherit;
}

#contact-page #message {
  height:160px;
  resize:none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 20px;
}


#contact-page .form-control:focus, 
#contact-page .form-control:hover {
  box-shadow: inherit;
  border-color: #36eaff;
}

#contact-page .contact-info {
  padding: 0 20px;
}

#contact-page .contact-info address {
  /*margin-bottom: 40px;*/
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

.social-networks{
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child{
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i{
  background: none;
}

.contact-info .social-networks ul li a:hover{
  color: #19AF09;
}

/*---plugins !important---*/
.menu a{
color:#fff !important;
}
.menu a:hover{
color:#2a8fff !important;
}
#logo {
    float: left;
    margin: 8px 0 !important;
}



.me {
  width: 400px;
  margin: 90px auto;
}
.me p,
.me h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
.me p {
  font-weight: 200;
}
.me span {
  font-weight: bold;
}
.social {
    position: fixed;
    top: 25%;
    z-index: 99;
    float: right;
    width: 20px;
}
.social ul {
  padding: 0px;
  -webkit-transform: translate(-248px, 0);
  -moz-transform: translate(-248px, 0);
  -ms-transform: translate(-248px, 0);
  -o-transform: translate(-248px, 0);
  transform: translate(-248px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
 /* -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;*/
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(110px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a .fa-facebook {
  color:#fff;
  background:#3B5998;
}
.social ul li:hover a .fa-twitter {
  color:#fff;
  background:#4099FF;
}
.social ul li:hover a .fa-google-plus {
  color:#fff;
  background:#D14836;
}
.social ul li:hover a .fa-linkedin {
  color:#fff;
  background:#4875B4;
}
/*.fa-facebook{
	color:red;
	background:#039;
}*/
.social ul li:hover i {
  color: #fff;
  background: rgba(0, 0, 0, 0.36);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  background: #ffffff none repeat scroll 0 0;
  color: #000;
  font-size: 20px;
  margin-left: 5%;
  padding: 15px;
  width: 17%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.logo-img {
   padding: 0 20px;
   width: 200px;
   height:198px;
}
#client-logo{
width:100%;
float:left;
padding:20px;
}
#main-sliderpjc.frs-slideshow-container{
margin:0px !important;
}
#career{
	width: 100%;
	float: left;
	}
.ca-box{
	/*width: 100%;*/
	float: left;
	/*background: #cccccc;*/
	margin-bottom: 20px;
  border:1px solid #cccccc;

	}
.img-sty {
    text-align: center;
    width: 70%;
}
.wpcf7-form-control.wpcf7-captchar{
width:100px;
float: left !important;
}
.wpcf7-form-control.wpcf7-captchac.wpcf7-captcha-captcha-861{
float:left;
}
.amazingcarousel-image > div > a{
display:none;
}
@media only screen and (max-width: 400px) {
    .save-icon-style {
    border: 2px solid #adadad;
    border-radius: 50%;
    left: 1px;
    margin: 16% 17px;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    background: #fff;
}
}
@media only screen and (max-width: 639px) {
.logo-img {
    height: 198px;
    padding: 0 20px;
    width: 100% !important;
    text-align: center;
}
}