﻿@charset "utf-8";
/* CSS Document */

.marTop16{margin-top:16px;}
.marRight44{margin-right:44px;}
.marRight8{margin-right:6px;}
.marRight10{margin-right:10px;}
.borderBottom10{border-bottom: 10px solid #FFFFFF;}
.marTop60{margin-top:60px;}
.paddingLeft60{padding-left:60px;}
.fLeft{float:left;}
.clear{clear:both;}
.textAlignCenter{text-align:center;}
.boldFont{font-weight:bold;}
.italicFont{font-style:italic;}
.noDisplayRes{display:block;}
.overhid{overflow:hidden;}
.marBtmNone{margin-bottom:0px !important}
.pdBtmNone{padding-bottom:0px !important}
.wid50per{width:50% !important;}
.marTop30{margin-top:30px !important;}
.padBtm60{padding-bottom:60px;}
.padTop60{padding-top:60px;}
.widfull{width:100%; float:left;}
.marTopBottom{margin:10px 0;}
.marTop50{margin-top:50px;}
.widfullPad{width:100%; float:left; padding:20px 0;}






