@media screen and (max-width:1024px) and (min-width:768px) {

    .wrapper {
        width: 748px !important;
        max-width: 100%;
    }

    .marBtn20Res {
        margin-bottom: 20px !important;
    }

    .contentOnePart {
        width: 220px !important;
    }

    .contentTwoPart {
        width: 179px !important;
        /*height: 410px !important;*/
    }

        .contentTwoPart .contentbtn {
            width: 162px !important;
        }

        .contentTwoPart .imageArea .loveSign {
            margin-top: 85px !important;
            margin-left: 130px !important;
        }

    .footerMenuArea a {
        margin: 0 16px !important;
    }

    .charecter {
        display: none !important;
    }

    .arrowImgOne {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 693px;
        display: block;
    }

    .arrowImgTwo {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 575px;
        display: block;
    }

    .arrowImgThree {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 465px;
        display: block;
    }

    .arrowImgFour {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 354px;
        display: block;
    }

    .paddingLeft60 {
        padding-left: 0px !important;
    }

    .headerSearchAreaPart {
        width: 204px !important;
    }

    .headerSearchArea .headerSearchAreaPart .inputArea {
        width: 175px !important;
    }

    .bannerTxtAreaLeft {
        font-size: 30px !important;
    }

    .bannerTxtAreaRight {
        width: 48% !important;
        font-size: 13px !important;
    }

    .contentZonePart {
        width: 100% !important;
    }

    .iconZoneArea {
        width: 100% !important;
    }

    .iconZone {
        width: 13% !important;
        margin: 0 auto !important;
        float: none !important;
    }

    .arrowZone {
        width: 100% !important;
        background: url(../images/arrow-zone2.png) no-repeat center bottom !important;
        min-height: 30px !important;
    }

    .contentZone {
        width: 90% !important;
    }

    .middleBtnArea a {
        margin: 5px !important;
    }


    .bannerTxtFAQLeft {
        width: 50% !important;
    }

    .mainContentArea {
        width: 748px !important;
        max-width: 100%;
    }

    .contentLeftFaq {
        width: 100% !important;
    }

    .contentRightFaq {
        width: 100% !important;
        float: left !important;
        margin-top: 50px;
    }

    .footerMenuArea {
        padding-top: 30px;
    }

    .first_ct_cu {
        width: 100%;
    }

    .first_ct_cu_btn {
        width: 100%;
    }

    .mainAddress_cu img {
        width: 30% !important;
    }

    .banner_heading_contact_main {
        font-size: 20px !important;
    }

    .contentRightFaq h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    .contentRightFaq {
        text-align: center;
    }

    .contact_us_btn a {
        float: none !important;
        display: inline-block;
    }

    .qqSearch_textbox {
        width: 89.8% !important;
    }

    .hiw_part_img {
        width: 100% !important;
        float: left;
        text-align: center;
    }

        .hiw_part_img img {
            border-bottom: 1px solid #555 !important;
            width: auto !important;
        }

    .hiw_part_txt {
        width: 100% !important;
        text-align: center;
    }

    .hiw_part {
        border-bottom: none !important;
    }
	.dashboard_white .orannge_b {
		margin-left: -15px; 
	}
    .headerdashboard{margin-left: 0; width: 100%; margin-bottom: 20px;} 
    .headerdashboard .dashboard_l{margin-left: 0; width: 100%;}
    .headerdashboard .dashboard_r{margin-top: -283px; margin-left:12px; text-align: center;}
    .headerdashboard .dashboard_r img{margin-left: 0;}    
    .headerdashboard .dashboard_r .login_d, .headerdashboard .dashboard_r .login_d ul{width: 100%; margin: auto;}
    .headerdashboard .dashboard_r .login_d li{display: inline-block;}
    .headerdashboard .dashboard_r .login_d li a{float: none;}


	.headerdashboard strong {margin-top: -48px; margin-right: 47px;}

















}



@media screen and (max-width:767px) and (min-width:480px) {

    .wrapper {
        width: 460px !important;
        max-width: 100%;
    }

    .marBtn20Res {
        margin-bottom: 20px !important;
    }

    .memberLoginAreaMain span {
        display: none !important;
    }

    .memberLoginAreaMain {
        width: 52% !important;
        float: none !important;
        margin: 0 auto !important;
    }

    .signBtn a {
        margin: 0 8px 0 0 !important;
    }

    .logoTxtArea {
        height: auto !important;
        margin-bottom: 20px;
    }

    .logo {
        float: none !important;
        margin: 0 auto !important;
    }

    .menuArea .wrapper ul li .dpPart ul li {
        margin: 0 !important;
    }

    .headerTxtArea {
        float: none !important;
        font-size: 16px !important;
        line-height: 23px !important;
        margin: 20px auto !important;
        width: 80% !important;
        text-align: center !important;
    }

    .menuArea .wrapper ul li {
        float: left !important;
        margin: 0 0 0 20px !important;
    }

    .contentOnePart {
        float: none !important;
        margin: 0 auto 40px !important;
    }

    .contentAreaTwo h3 {
        font-size: 23px !important;
    }

    .contentTwoPart {
        float: none !important;
        margin: 0 auto 25px !important;
       /* width: 100% !important;*/
    }

        .contentTwoPart .imageArea img {
            height: auto !important;
        }

        .contentTwoPart .imageArea {
            height: 200px !important;
            overflow: hidden !important;
        }

    .performersArea .btnAreaPerformers {
        width: 300px !important;
    }

        .performersArea .btnAreaPerformers .singleBtn a {
            margin-right: 7px !important;
            margin-bottom: 10px !important;
        }

    .footerMenuArea a {
        margin: 0 7px !important;
        font-size: 15px !important;
    }

    .charecter {
        display: none !important;
    }

    .arrowImgOne {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 70px;
        display: block;
    }

    .arrowImgTwo {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 175px;
        display: block;
    }

    .arrowImgThree {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 269px;
        display: block;
    }

    .arrowImgFour {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 383px;
        display: block;
    }

    .paddingLeft60 {
        padding-left: 0px !important;
    }

    .headerSearchAreaPart {
        width: 100% !important;
        padding: 0 !important;
        text-align: left !important;
        margin-bottom: 20px !important;
    }

    .headerSearchArea .headerSearchAreaPart .inputArea {
        width: 95% !important;
    }

    .headerSearchArea .searchBtn {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    .innerBanner {
        height: auto !important;
    }

    .bannerTxtAreaLeft {
        width: 100% !important;
        font-size: 35px !important;
        text-align: center;
    }

    .bannerTxtAreaLeftBtn {
        margin-top: 20px;
    }

        .bannerTxtAreaLeftBtn a {
            float: none !important;
            padding: 8px !important;
            margin-top: 15px !important;
            clear: both;
        }

    .bannerTxtAreaRight {
        margin: 40px 0 !important;
        width: 100% !important;
        text-align: center;
    }

        .bannerTxtAreaRight .tuneArea {
            width: 100% !important;
            background-position: center center !important;
            margin-bottom: 10px;
        }

    .contentZonePart {
        width: 100% !important;
    }

    .iconZoneArea {
        width: 100% !important;
    }

    .iconZone {
        width: 21% !important;
        margin: 0 auto !important;
        float: none !important;
    }

    .arrowZone {
        width: 100% !important;
        background: url(../images/arrow-zone2.png) no-repeat center bottom !important;
        min-height: 30px !important;
    }

    .contentZone {
        width: 90% !important;
    }

    .part1, .part2, .part3, .part4 {
        width: 100% !important;
        text-align: center !important;
    }

    .rowPart {
        margin-bottom: 15px !important;
    }

    .middleBtnArea a {
        float: left !important;
        width: 88% !important;
    }

    .noDisplayRes {
        display: none !important;
    }

    audio {
        width: 300px;
        height: 30px;
    }

    .menuArea {
        display: none;
    }

    .resMenu {
        width: 50px;
        height: 28px;
        cursor: pointer;
        transition: opacity 0.5s ease 0s;
        display: block;
        position: absolute;
        z-index: 9999;
        top: 16px;
        left: 10px;
    }

        .resMenu:hover {
            opacity: 0.5;
        }

    .searchRight {
        width: 50px;
        height: 28px;
        cursor: pointer;
        transition: opacity 0.5s ease 0s;
        display: block;
        position: absolute;
        z-index: 9999;
        top: 16px;
        right: 10px;
        display: block !important;
    }

        .searchRight:hover {
            opacity: 0.5;
        }

    .signBtn, .myList, .memberLoginArea {
        display: none;
    }

    .memberLoginAreaMain {
        display: none;
    }

    .logo {
        width: 130px !important;
        height: 28px !important;
        float: none !important;
        text-align: center !important;
    }

        .logo a {
            background: url(../images/logo-responsive.png) no-repeat !important;
            width: 100% !important;
            /*height: 28px !important;*/
            margin: 0 0 20px;
        }

            /*.logo a:hover {
                background: url(../images/logo-responsive.png) no-repeat !important;
            }*/

    .headerTxtArea {
        display: none;
    }
    /*.responsiveInputBoxHeader{display:block !important}*/



    .bannerTxtFAQLeft {
        width: 50% !important;
    }

    .mainContentArea {
        width: 460px !important;
        max-width: 100%;
    }

    .contentLeftFaq {
        width: 100% !important;
    }

    .contentRightFaq {
        width: 100% !important;
        float: left !important;
        margin-top: 50px;
    }

    .footerMenuArea {
        padding-top: 30px;
    }

    .bannerTxtAreaRight {
       /* width: 50% !important;*/
    }

        .bannerTxtAreaRight img {
            width: 100% !important;
            vertical-align: bottom;
        }

    .maiin_box_join {
        width: 100% !important;
		padding-top:16px
    }

    .box_one_join, .box_two_join {
        width: 94% !important;
    }


    .terms_headingArea {
        padding: 0 !important;
        margin-bottom: 15px;
        width: 100% !important;
    }

    .terms_ans {
        width: 100% !important;
    }

    .singleFormqq {
        width: 96%; /*margin:0 !important;*/
    }

    .wid30Fleft {
        width: 100%;
        margin: 0;
    }

    .first_ct_cu {
        width: 100%;
        text-align: center;
    }

    .first_ct_cu_btn {
        width: 100%;
    }

    .first_ct_cu_btn {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-top: -20px;
    }


    .banner_heading_contact_main {
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .banner_heading_contact_full {
        margin-top: -120px;
    }

    .banner_heading_content_full_area {
        text-align: center;
    }

    .mainAddress_cu img {
        width: 30% !important;
    }

    .heading_cont_form {
        text-align: center;
    }

    .mainAddress_cu img {
        display: none;
    }

    .contactArea_cu {
        width: 100%;
        text-align: center;
    }

    .contentRightFaq h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    .contentRightFaq {
        text-align: center;
    }

    .contact_us_btn a {
        float: none !important;
        display: inline-block;
    }

    .singleForm {
        width: 100% !important;
    }

    .qqSearch_textbox {
        width: 86% !important;
    }

    .hiw_part_img {
        width: 100% !important;
        float: left;
        text-align: center;
    }

        .hiw_part_img img {
            border-bottom: 1px solid #555 !important;
            width: auto !important;
        }

    .hiw_part_txt {
        width: 100% !important;
        text-align: center;
    }

    .hiw_part {
        border-bottom: none !important;
    }

    .single-form-right {
        margin: 0 !important;
    }

    .first_content_au {
        text-align: center;
    }

    .teamArea .part_team {
        width: 100% !important;
        margin: 20px 0 0 0 !important;
    }

	.teamArea .part_team:first-child {
		margin-top: 0px;
	}
	
	.dashboard_white .orannge_b {
		margin-left: -13px; 
	}
	
	.profile_pic_grey select{width:95%;}
	
	.profile_pic_grey input[type="text"], .profile_pic_grey textarea {width: 95%;}
	.profile_pic_grey select{width: 102%;}
	
	.singleFormqq.single-form-left {
	  margin: 10px 0;
	  width: 100% !important;
	}
	.profile_bg.right-section.single-form-right{width:100% !important; margin:10px 0;}
	
	.bannerSearchArea{width:100%; margin-left:0; left:0;}
	.searchBoxArea div{width:100%;}
	.bannerSearchArea .searchBoxArea{margin-top:10px;}
	.searchBoxArea .submitBtnSearch{float:none; margin:5px auto;}
	.searchBoxArea div .searchBox{width:315px; float:none; margin:0px auto;}
	
        .totalContentdashboard .dashboard_white table.my-table1 tr{border-bottom: solid 1px #999; float: left; width: 100%; display: block;}
        .totalContentdashboard .dashboard_white table.my-table1 tr td{display: block; padding: 0 10px; line-height: 15px; text-align: center;}
        
        #dvRegistration .signBtn{display: block;}
        #dvRegistration .qqSearch{margin-bottom: 15px;}
    
    .headerdashboard{margin-left: 0; margin-top: 15px; width: 100%} 
    .headerdashboard .dashboard_l{margin-left: 0; width: 100%;}
    .headerdashboard .dashboard_r{margin-top: 10px; width: 100%; text-align: center;}
    .headerdashboard .dashboard_r img{margin-left: 0;}    
    .headerdashboard .dashboard_r .login_d, .headerdashboard .dashboard_r .login_d ul{width: 100%; margin:auto;}
    .headerdashboard .dashboard_r .login_d li{display: inline-block;}
    .headerdashboard .dashboard_r .login_d li a{float: none;}  
	.headerdashboard img {display:none;}
    
    
input.hiddn_txt_bx {
    width: 90%;
    margin: 5px 0;
}
.upload2 a {
  padding: 5px 16px;
}
.location_sky{margin-top: 10px;}







}


@media screen and (max-width:479px) and (min-width:0px) {

    .wrapper {
        width: 90% !important;
        max-width: 100%;
    }

	.dashboard_white .orannge_b {
		margin-left: -12px !important; 
	}
    .marBtn20Res {
        margin-bottom: 20px !important;
    }

    .memberLoginAreaMain span {
        display: none !important;
    }

    .memberLoginAreaMain {
        width: 79% !important;
        float: none !important;
        margin: 0 auto !important;
    }

    .signBtn a {
        margin: 0 8px 0 0 !important;
    }

    .logoTxtArea {
        height: auto !important;
        margin-bottom: 20px;
    }

    .logo {
        float: none !important;
        margin: 0 auto !important;
    }

    .headerTxtArea {
        float: none !important;
        font-size: 15px !important;
        line-height: 23px !important;
        margin: 20px auto !important;
        width: 100% !important;
        text-align: center !important;
    }

    .menuArea .wrapper ul li {
        float: left !important;
        margin: 0 0 0 6px !important;
    }

        .menuArea .wrapper ul li a {
            font-size: 12px !important;
        }

    .bannerSearchArea {
        margin-left: -150px !important;
        width: 300px !important;
    }

	.bannerSearchArea{width:100% !important; margin-left:0 !important; left:0; margin-top:35px;}
	.searchBoxArea div{width:100%;}
	.bannerSearchArea .searchBoxArea{margin-top:10px;}
	.searchBoxArea .submitBtnSearch{float:none; margin:5px auto;}
	.searchBoxArea div .searchBox{width:80% !important; float:none; margin:0px auto;}
	.searchBoxArea .submitBtnSearch {
	  float: none;
	  margin: 5px auto 5px 2%;
	  width: 89%;
	}
	
    .searchBox {
        width: 152px !important;
    }

    .contentOnePart {
        float: none !important;
        margin: 0 auto 40px !important;
    }

    .contentAreaTwo h3 {
        font-size: 23px !important;
    }

    .contentTwoPart {
        float: none !important;
        margin: 0 auto 25px !important;
        /*width: 100% !important;*/
    }

        .contentTwoPart .imageArea img {
            height: auto !important;
        }

        .contentTwoPart .imageArea {
            height: 100% !important;
        }

    .performersArea .btnAreaPerformers {
        width: 300px !important;
    }

        .performersArea .btnAreaPerformers .singleBtn a {
            margin-right: 7px !important;
            margin-bottom: 10px !important;
        }

    .footerMenuArea a {
        margin: 0 7px !important;
        font-size: 14px !important;
        line-height: 22px !important;
    }

    .footerSocialArea a {
        margin: 2px !important;
    }

    .charecter {
        display: none !important;
    }

    .arrowImgOne {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 36px;
        display: block;
    }

    .arrowImgTwo {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 113px;
        display: block;
    }

    .arrowImgThree {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 181px;
        display: block;
    }

    .arrowImgFour {
        position: absolute;
        z-index: 99999999;
        margin-top: -28px;
        margin-left: 254px;
        display: block;
    }

    .paddingLeft60 {
        padding-left: 0px !important;
    }

    .headerSearchAreaPart {
        width: 100% !important;
        padding: 0 !important;
        text-align: left !important;
        margin-bottom: 20px !important;
    }

    .headerSearchArea .headerSearchAreaPart .inputArea {
        width: 94% !important;
    }

    .headerSearchArea .searchBtn {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    .innerBanner {
        height: auto !important;
    }

    .bannerTxtAreaLeft {
        width: 100% !important;
        font-size: 35px !important;
        text-align: center;
    }

    .bannerTxtAreaLeftBtn {
        margin-top: 20px;
    }

        .bannerTxtAreaLeftBtn a {
            float: none !important;
            padding: 8px !important;
            margin-top: 15px !important;
            clear: both;
        }

    .bannerTxtAreaRight {
        margin: 40px 0px 0px 0px !important;
        width: 100% !important;
        text-align: center;
    }

        .bannerTxtAreaRight .tuneArea {
            width: 100% !important;
            background-position: center center !important;
            margin-bottom: 10px;
        }

    .contentZonePart {
        width: 100% !important;
    }

    .iconZoneArea {
        width: 100% !important;
    }

    .iconZone {
        width: 33% !important;
        margin: 0 auto !important;
        float: none !important;
    }

    .arrowZone {
        width: 100% !important;
        background: url(../images/arrow-zone2.png) no-repeat center bottom !important;
        min-height: 30px !important;
    }

    .contentZone {
        width: 90% !important;
    }

    .part1, .part2, .part3, .part4 {
        width: 100% !important;
        text-align: center !important;
    }

    .rowPart {
        margin-bottom: 15px !important;
    }

    .middleBtnArea a {
        float: left !important;
        width: 80% !important;
    }

    .noDisplayRes {
        display: none !important;
    }


    .menuArea {
        display: none;
    }

    .resMenu {
        width: 50px;
        height: 28px;
        cursor: pointer;
        transition: opacity 0.5s ease 0s;
        display: block;
        position: absolute;
        z-index: 9999;
        top: 16px;
        left: 10px;
    }

        .resMenu:hover {
            opacity: 0.5;
        }

    .searchRight {
        width: 50px;
        height: 28px;
        cursor: pointer;
        transition: opacity 0.5s ease 0s;
        display: block;
        position: absolute;
        z-index: 9999;
        top: 16px;
        right: 10px;
        display: block !important;
    }

        .searchRight:hover {
            opacity: 0.5;
        }

    .signBtn, .myList, .memberLoginArea {
        display: none;
    }

    .memberLoginAreaMain {
        display: none;
    }

    .logo {
        width: 130px !important;
        height: 28px !important;
        float: none !important;
        text-align: center !important;
    }

        .logo a {
            background: url(../images/logo-responsive.png) no-repeat !important;
            width: 130px !important;
            height: 28px !important;
            margin: 0 0 20px;
        }

            /*.logo a:hover {
                background: url(../images/logo-responsive.png) no-repeat !important;
            }*/

    .headerTxtArea {
        display: none;
    }
    /*.responsiveInputBoxHeader{display:block !important}*/


    .bannerTxtFAQLeft {
        width: 50% !important;
        font-size: 19px !important;
    }

    .mainContentArea {
        width: 300px !important;
        max-width: 100%;
    }

    .contentLeftFaq {
        width: 100% !important;
    }

    .contentRightFaq {
        width: 100% !important;
        float: left !important;
        margin-top: 50px;
    }

    .footerMenuArea {
        padding-top: 30px;
    }

    .bannerTxtAreaRight {
        /*width: 50% !important;*/
    }

        .bannerTxtAreaRight img {
            width: 100% !important;
            vertical-align: bottom;
        }

    .faqAns .faqAnsMain {
        width: 87% !important;
    }

    .faqNumberingArea {
        width: 13% !important;
    }


    .terms_headingArea {
        padding: 0 !important;
        margin-bottom: 15px;
        width: 100% !important;
    }

    .terms_ans {
        width: 100% !important;
    }

    .singleFormqq {
        width: 96%; /*margin:0 !important;*/
    }

    .wid30Fleft {
        width: 100%;
        margin: 0;
    }

    .first_ct_cu {
        width: 100%;
        text-align: center;
    }

    .first_ct_cu_btn {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-top: -20px;
    }

    .banner_heading_contact_main {
        width: 100%;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .banner_heading_content_full_area {
        text-align: center;
    }

    .banner_heading_contact_full {
        margin-top: -150px;
    }

    .mainAddress_cu img {
        width: 30% !important;
    }

    .heading_cont_form {
        text-align: center;
    }

    .mainAddress_cu img {
        display: none;
    }

    .contactArea_cu {
        width: 100%;
        text-align: center;
    }

    .contentRightFaq h2 {
        text-align: center;
        margin-bottom: 25px;
    }

    .contentRightFaq {
        text-align: center;
    }

    .contact_us_btn a {
        float: none !important;
        display: inline-block;
    }

    .box_one_join, .box_two_join {
        width: 94% !important;
    }

    .maiin_box_join {
        width: 100%;
		padding-top:	16px;
    }

    .singleForm {
        width: 100% !important;
    }

    .qqSearch_textbox {
        width: 86% !important;
    }

    .hiw_part_img {
        width: 100% !important;
        float: left;
        text-align: center;
    }

        .hiw_part_img img {
            border-bottom: 1px solid #555 !important;
            width: auto !important;
        }

    .hiw_part_txt {
        width: 100% !important;
        text-align: center;
    }

    .hiw_part {
        border-bottom: none !important;
    }

    .single-form-right {
        margin: 0 !important;
    }

    .first_content_au {
        text-align: center;
    }

    .teamArea .part_team {
        width: 100% !important;
        margin: 20px 0 0 0 !important;
    }

        .teamArea .part_team:first-child {
            margin-top: 0px;
        }
	
	 .pagenatn li {
        font-size: 11px;
    }

    .pagenatn {
        margin-left: 2px;
    }

    .name_dash_bg li.name, .name_dash_bg2 li.name {
        line-height: 24px;
        width: 42%;
        float: left;
    }

    .name_dash_bg li img, .name_dash_bg2 li img {
        width: 31px;
        height: 26px;
    }

    .name_dash_bg li.txt, .name_dash_bg2 li.txt {
        line-height: 20px;
        width: 99%;
        margin-top: 10px;
    }

    .orannge_heading {
        background: none;
        color: #cb4300;
    }

    .dashboard_white {
        /*width: 90%;
        padding: 2% 5%;*/
    }

    .orannge_b {
        display: none;
    }

    .dashboard_cnt {
        width: 100%;
    }

    .name_dash_bg {
        padding: 1% 1%;
    }

    .dashmenuArea {
        display: nonel;
    }

    .das_bg {
        width: 86%;
        margin: 0px auto;
    }

    select.dropdwn {
        width: 100%;
        height: 38px;
        padding: 0px;
    }

    .pagenatn li {
        line-height: 20px;
    }

    .paging {
        margin: 10px 50px;
        float: none;
    }

        .paging li a {
            margin: 4px 2px;
        }

    .location_newyk, .location_newyk_r {
        width: 100%;
        float: none;
    }

        .location_newyk h3 {
            line-height: 18px;
        }

    .photo_txt {
        width: 96%;
        float: none;
    }

    .profile_bg_r {
        width: 96%;
        float: none;
    }

    .location h1 {
        font-size: 18px;
        line-height: 18px;
    }

    dl {
        width: 80%;
        margin-left: 0px;
        font-size: 12px;
    }

        dl dt {
            text-align: left;
            width: 100%;
        }

        dl dd {
            margin-bottom: 7px;
            margin-left: 0%;
        }

    input.paid_disabled, select.paid_disabled, textarea.paid_disabled {
        margin-left: 0px;
        width: 96%;
    }

    dl {
        width: 95%;
        margin: 20px auto;
    }

    .remv_r {
        width: 100%;
    }

    label.txt_fb {
        font-size: 12px;
    }

    a txt_fb1 {
        font-size: 11px;
    }

    input.text {
        width: 90%;
    }

    dl dt.fckb2 {
        line-height: 40px;
    }

    .headerdashboard {
/*        display: none;*/
    }

    .dashmenuArea {
/*        display: none;*/
    }

    input.hiddn_txt_bx {
        width: 90%;
    }

    .upload2 a {
        margin: 5px 0px;
        width: 82%;
    }

    .dash_rght {
        width: 50px;
        height: 28px;
        cursor: pointer;
        transition: opacity 0.5s ease 0s;
        display: block;
        position: absolute;
        z-index: 9999;
        top: 16px;
        right: 10px;
        display: block !important;
    }

    .logo_res_new {
        display: none;
    }
	
	
    table.my-table tr td{padding:5px;}	
    .dashboard_white .orannge_b {
    	margin-left: -11px; }
	.dashboard_white .orannge_heading{margin-left:-4px;}
	
		.profile_pic_grey input[type="text"], .profile_pic_grey textarea {width: 95%;}
	.profile_pic_grey select{width: 97%;}
	
	.singleFormqq.single-form-left {
	  margin: 10px 0;
	  width: 100% !important;
	}
	.profile_bg.right-section.single-form-right{width:100% !important; margin:10px 0;}
        
        .totalContentdashboard .dashboard_white table.my-table1 tr{border-bottom: solid 1px #999; float: left; width: 100%; display: block;}
        .totalContentdashboard .dashboard_white table.my-table1 tr td{display: block; padding: 0 10px; line-height: 15px; text-align: center;}
        
        #dvRegistration .signBtn{display: block;}
        #dvRegistration .qqSearch{margin-bottom: 15px;}
        
    .headerdashboard{margin-left: 0; margin-top: 15px; width: 100%} 
    .headerdashboard .dashboard_l{margin-left: 0; width: 100%;}
    .headerdashboard .dashboard_r{margin-top: 10px; width: 100%; text-align: center;}
    .headerdashboard .dashboard_r img{margin-left: 0;}    
    .headerdashboard .dashboard_r .login_d, .headerdashboard .dashboard_r .login_d ul{width: 100%; margin:auto;}
    .headerdashboard .dashboard_r .login_d li{display: inline-block;}
    .headerdashboard .dashboard_r .login_d li a{float: none;}
    .headerdashboard img {display:none;}
	
	
	
	
    .profile_pic_grey dl dt{width: 100%; margin-bottom: 5px; text-align: left;}
    .profile_pic_grey dl dd{margin-left: 0;}
    
    .location_sky{margin-top: 10px;}
    
 
		
}






/* New Admin*/

.name_dash_bg li.txt, .name_dash_bg2 li.txt {
    width: 100%;
}

.name_dash_bg li.name, .name_dash_bg2 li.name {
    width: 27%;
}

.location_newyk h3 {
    line-height: 18px;
}

.photo_txt {
    width: 96%;
    float: none;
}

.profile_bg_r {
    width: 96%;
    float: none;
}

/*.orannge_b {
    margin-left: -15px; 
}*/

dl {
    width: 80%;
    margin: 20px auto;
}

    dl dt {
        text-align: left;
        width: 104px;
    }

    dl dd {
        margin-bottom: 7px;
        margin-left: 31%;
    }

input.paid_disabled, select.paid_disabled, textarea.paid_disabled {
    margin-left: 0px;
    width: 78%;
}

input.text {
    width: 90%;
}

dl dt.fckb {
    width: 112px;
    font-size: 13px;
}

dl dt.fckb2 {
    width: 112px;
    font-size: 13px;
}

label.txt_fb {
    font-size: 12px;
}

a txt_fb1 {
    font-size: 12px;
}

.headerdashboard {
   /*display: none;*/ 
}

.dashmenuArea {
    /*display: none;*/ 
}

.upload2 a {
    padding: 5px 16px;
}

.dash_rght {
    display: block !important;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 16px;
    transition: opacity 0.5s ease 0s;
    width: 50px;
    z-index: 9999;
}

@media screen and (max-width:1024px){
    .banner_heading_contact_full{color: #555; margin-top: 15px;}
    .banner_heading_contact_main{color: #6699cc;}
    .widfullPad.wrapper{width: 100% !important}    
}

@media screen and (max-width:767px){
    .innerBanner.overhid .wrapper .bannerTxtFAQLeft.wid50per, .innerBanner.overhid .wrapper .bannerTxtAreaRight{width: 100% !important;}
      .hiw_video iframe {
        height: 400px;
    }
    .innerBanner.overhid .wrapper .bannerTxtFAQLeft.wid50per .bannerTxtFAQLeftBtn{text-align: justify;}
    .hiw_content_secondPart .hiw_part_img img{max-width:100% !important; max-height: inherit; }
    .hiw_content_secondPart .hiw_part_txt{text-align: justify;}
    
    .innerBanner.overhid .wrapper .bannerTxtFAQLeft{width: 100% !important;}
    
    .banner_heading_contact_full{color: #555; margin-top: 15px;}
    .banner_heading_contact_main{color: #6699cc;}
    .widfullPad.wrapper{width: 100% !important}
    
    .dashboard_l > strong{display: block; text-align: center;}
    .dashboard_l .dash_m{border-radius: 0;}
    .dashboard_l .view_p {
        text-align: center;
      }
    
    .dash_mP_r{width: 40px; float: right;}
    .dash_mP_l{width: 80%;}
    .dash_mP_l li a{float: none; display: block;}
    .dash_m {
        background: #bbbbbb;
        border-radius: 10px;
        float: left;
        width: 100%;
      }
      
      
      .dsh_menu{float: left; width: 100%; position: relative; height: 42px; overflow: hidden; margin-top: -5px; 
                /* Set our transitions up. */
	-webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -ms-transition: height 1s; 
  -o-transition: height 1s; 
  transition: height 1s;}
      .dsh_menu ul{float: left; width: 100%; position: relative; margin-top: 48px;}
      .dsh_menu ul li{float: left; width: 100%; background: #09577B;}
      .dsh_menu ul li a{display: block; float: none;}
      .dsh_menu li a:hover{border-radius: 0 4px 4px 0;}
      
      .dsh_menu:before{
          content: 'I Want to Go...';
          position: absolute; 
          top: 10px;
          left: 15px;
          color: #fff;  
          border-bottom: solid 1px #fff;
          width: 95%;
          padding-bottom:10px;
      }
      
      .dashmenuArea .wrapper:hover .dsh_menu{height: 300px; overflow-y: scroll; 
      -webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -ms-transition: height 1s; 
  -o-transition: height 1s; 
  transition: height 1s;} 
      
      
      
      
      .dash_m .dash_mP_l{float: left; width: 75%; position: relative; height: 42px; overflow: hidden; 
                /* Set our transitions up. */
	-webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -ms-transition: height 1s; 
  -o-transition: height 1s; 
  transition: height 1s;}
      .dash_m .dash_mP_l ul{float: left; width: 100%; position: relative; margin-top: 48px;}
      .dash_m .dash_mP_l ul li{float: left; width: 100%; background: #d9d3d3;}
      .dash_m .dash_mP_l ul li a{display: block; float: none;}
      .dash_m .dash_mP_l li a:hover{border-radius: 0 4px 4px 0;}
      
      .dash_m .dash_mP_l:before{
          content: 'Menu';
          position: absolute; 
          top: 10px;
          left: 15px;
          color: #fff;  
          border-bottom: solid 0px #fff;
          width: 95%;
          padding-bottom:10px;
      }
      
      .dash_m .dash_mP_l:hover {height: 300px; overflow-y: scroll; 
      -webkit-transition: height 1s; 
  -moz-transition: height 1s; 
  -ms-transition: height 1s; 
  -o-transition: height 1s; 
  transition: height 1s;} 
    
      .login_d li a{font-size: 15px;}

      .profile_pic_grey select {
        width: 100%;
      }
	  
	   
	  .bx-wrapper img {
  display: inline-block;
  height: 250px;
  margin: 0 auto;
  max-width: inherit !important;
  width: auto !important;
}
	  	
	  
	  
      
}





