﻿@charset "utf-8";
/* CSS Document */

body {
    background: #fff;
    margin: 0;
    padding: 0;
	font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: #bcbcbc;
}

div, table, tr, td, ul, li, a, span, p, br {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
}

.clear{clear:both;}

.wrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
   
}

.wrapper2 {
    width: 1000px;
    max-width: 100%;
    /*margin: 0 auto;*/
    margin: 0 112px;
}


.header {
    width: 100%;
    overflow: hidden;
}

#homeHeader {
    float: left;
}

.memberLoginArea {
    width: 100%;
    float: left;
    height: 33px;
}

.memberLoginAreaMain {
    float: right;
    height: 33px;
    line-height: 33px;
    color: #007ea7;
}
.memberLoginAreaMain span.fLeft{display: none;}
.signBtn {
    float: left;
}

    .signBtn a {
        background: #007ea7;
        height: 33px;
        line-height: 33px;
        float: left;
        color: #fff;
        padding: 0 20px;
        margin: 0 10px;
        opacity: 1;
        transition: opacity 0.5s ease 0s;
        border-radius: 4px;
    }

        .signBtn a:hover {
            opacity: 0.6;
        }

    .signBtn input[type=submit] {
        background: #007ea7;
        height: 33px;
        line-height: 33px;
        float: left;
        color: #fff;
        padding: 0 20px;
        margin: 0 10px;
        opacity: 1;
        transition: opacity 0.5s ease 0s;
        border-radius: 4px;
        cursor: pointer;
        border: none;
    }

        .signBtn input[type=submit]:hover {
            opacity: 0.6;
        }

.myList {
    float: left;
}

    .myList a {
        background: #980000;
        height: 33px;
        line-height: 33px;
        float: left;
        color: #fff;
        padding: 0 20px;
        opacity: 1;
        transition: opacity 0.5s ease 0s;
        border-radius: 4px;
    }

        .myList a:hover {
            opacity: 0.6;
        }

.logoTxtArea {
    /*width: 100%;*/
    width: 115%; /*height:103px;*/
    float: left;
}

.logo {
    width: 158px;
    height: 150px;
    float: left;
}

    .logo a {
        background: url(../images/logo.png) no-repeat;
        width: 158px;
        height: 150px;
        margin-top: -20px;
        display: block;
    }

        /*.logo a:hover {
            background: url(../images/logo-h.gif) no-repeat;
        }*/

.headerTxtArea {
    color: #7f7f7f;
    font-size: 20px;
    line-height: 30px;
    float: right;
    margin-top: 10px;
    margin-left: 75px;
}

.menuArea {
    width: 100%;
    max-width: 100%;
    background: transparent url("../images/conetnt-one-bg.jpg") repeat scroll 0% 0% ;
    height: 49px;
}

    .menuArea .wrapper ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .menuArea .wrapper ul li {
            margin: 0;
            padding: 0;
            list-style-type: none;
            float: right;
            margin-left: 30px;
            line-height: 47px;
        }

            .menuArea .wrapper ul li a {
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                transition: color 0.5s ease 0s;
            }

                .menuArea .wrapper ul li a.otherServices:hover {
                    color: #980000;
                }

                .menuArea .wrapper ul li a.speaker:hover {
                    color: #002c3a;
                }

                .menuArea .wrapper ul li a.entertainers:hover {
                    color: #003a13;
                }

                .menuArea .wrapper ul li a.musicalacts:hover {
                    color: #000;
                }

                .menuArea .wrapper ul li a.selectedOne {
                    color: #980000 !important;
                }

                .menuArea .wrapper ul li a.selectedTwo {
                    color: #002c3a !important;
                }

                .menuArea .wrapper ul li a.selectedThree {
                    color: #003a13 !important;
                }

                .menuArea .wrapper ul li a.selectedFour {
                    color: #000 !important;
                }

            .menuArea .wrapper ul li .dropdown {
                display: none;
            }

            .menuArea .wrapper ul li:hover .dropdown {
                display: block;
                z-index: 99999999;
                width: 1000px;
                height: 80px;
                position: absolute;
                background: #fff;
            }

.dropdownMenuOne {
    position: absolute;
    z-index: 9999999;
    width: 100%;
    padding: 20px 0;
    display: none;
    clear: both;
    left: 0;
    background: #980000;
    max-width: 100%;
}

.dropdownMenuTwo {
    position: absolute;
    z-index: 9999999;
    width: 100%;
    padding: 20px 0;
    display: none;
    clear: both;
    left: 0;
    background: #002c3a;
    max-width: 100%;
}

.dropdownMenuThree {
    position: absolute;
    z-index: 9999999;
    width: 100%;
    padding: 20px 0;
    display: none;
    clear: both;
    left: 0;
    background: #003a13;
    max-width: 100%;
}

.dropdownMenuFour {
    position: absolute;
    z-index: 9999999;
    width: 100%;
    padding: 20px 0;
    display: none;
    clear: both;
    left: 0;
    background: #000;
    max-width: 100%;
}

.dpPart {
    width: 20%;
    float: left;
    margin-right: 5%;
    text-align: center;
    font-size: 13px;
}

    .dpPart:last-child {
        margin-right: 0%;
    }

    .dpPart h3 {
        font-size: 14px;
        line-height: 18px;
        color: #fff;
        margin-bottom: 5px;
        margin-top: 0;
    }
    .dpPart img{display: none;}

    .dpPart ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .dpPart ul li {
            width: 100%;
            margin: 5px 0;
            float: left;
            line-height: 20px !important;
        }

            .dpPart ul li a {
                color: #fff;
                transition: color 0.5s ease 0s;
                font-size: 13px !important;
            }

                .dpPart ul li a:hover {
                    color: #ff0000 !important;
                }

.arrowImgOne {
    position: absolute;
    z-index: 99999999;
    margin-top: -49px;
    margin-left: 950px;
    display: block;
}

.arrowImgTwo {
    position: absolute;
    z-index: 99999999;
    margin-top: -49px;
    margin-left: 830px;
    display: block;
}

.arrowImgThree {
    position: absolute;
    z-index: 99999999;
    margin-top: -49px;
    margin-left: 719px;
    display: block;
}

.arrowImgFour {
    position: absolute;
    z-index: 99999999;
    margin-top: -49px;
    margin-left: 603px;
    display: block;
}


.banner {
    width: 100%;
    max-width: 100%;
    float: left;
    height: 370px;
    margin-bottom: 15px;
}

    .banner img {
/*        width: 100%;
        max-width: 100%;*/
        height: 370px;
    }

.bannerSearchArea {
    width: 560px;
    position: absolute;
    left: 50%;
    margin-left: -280px;
   /* z-index: 99999;*/
    margin-top: 108px;
    text-align: center;
    color: #d5d5d5;
    font-size: 18px;
}

.bannerSearchHeading {
    font-size: 35px;
    float: left;
    text-align: center;
    color: #fff;
	width:100%;
	text-shadow:4px 3px 1px rgb(0, 0, 0);
}

.searchBoxArea {
    width: 100%;
    float: left;
    margin-top: 40px;
}
.searchBoxArea div{width:40%; float:left; padding:0 !important; margin:5px;}
.searchBox {
    width: 315px;
    float: left;
    background: #fff;
    border-radius: 4px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    color: #9a9a9a;
    padding: 0 20px;
    border: none;
	font-family:inherit;
}
.searchBoxArea div .searchBox{width:80%; }
.searchBoxArea .submitBtnSearch{width:90px; margin-top:5px; float:left;z-index:100; }
.submitBtnSearch {
    width: 97px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    float: right;
    border: none;
    background: #007ea7;
    border-radius: 4px;
    font-weight: normal;
    transition: opacity 0.5s ease 0s;
    cursor: pointer;
}

    .submitBtnSearch:hover {
        opacity: 0.6;
    }

.contentAreaOne {
    width: 100%;
    float: left;
    background: url(../images/conetnt-one-bg.jpg) repeat;
    padding: 36px 0;
    margin-bottom: 16px;
}

.contentOneHeading {
    float: left;
    margin-bottom: 27px;
    text-align: center;
    width: 100%;
}

    .contentOneHeading h1 {
        width: 100%;
        text-align: center;
        font-size: 27px;
        margin: 0;
        padding: 0;
        font-weight: normal;
        color: #fff;
    }

.contentOnePart {
    width: 304px;
    text-align: center;
    color: #bcbcbc;
    float: left;
}

    .contentOnePart .imgArea {
        width: 80px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .contentOnePart h2 {
        color: #fff;
        font-size: 20px;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        text-align: center;
    }

.contentAreaTwo {
    width: 100%;
    float: left;
    background: url(../images/conetnt-two-bg.jpg) repeat;
    padding: 36px 0;
    margin-bottom: 10px;
}

    .contentAreaTwo h3 {
        width: 100%;
        text-align: center;
        font-size: 27px;
        margin: 0;
        padding: 0;
        font-weight: normal;
        color: #fff;
        margin-bottom: 35px;
    }

.contentTwoPart {
    width: 242px;
    float: left;
    background: #fff;
    border-radius: 4px;
   /* border: 1px solid #007ea7;*/
    margin-bottom: 20px;
}

    .contentTwoPart .imageArea {
        width: 100%;
        float: left;
        border-radius: 4px 4px 0 0;
        /*height: 245px;*/
        overflow: hidden;
        margin-bottom: 16px;
        /*border-bottom: 2px solid #007ea7;*/
    }

        .contentTwoPart .imageArea img {
            width: 100%;
            /*height: 151px;*/
            cursor: pointer;
        }

        .contentTwoPart .imageArea .loveSign {
            display: none;
            position: absolute;
            margin-top: 107px;
            margin-left: 196px;
            z-index: 999;
            width: 36px;
            height: 36px;
        }

        .contentTwoPart .imageArea:hover .loveSign {
            display: block !important;
        }

            .contentTwoPart .imageArea:hover .loveSign img {
                width: 36px;
                height: 36px;
            }

.featuredTxt a {
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
    padding: 0 20px;
    border-radius: 4px 0px 16px 0px;
    position: absolute;
/*    margin-top: 87px;
*/    border: 1px solid #003e52;
    border-left: none;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    background: #BD1414;
}

    .featuredTxt a:hover {
        opacity: 0.6;
    }

.contentTwoPart .content {
    width: 90%;
    padding: 5%;
    text-align: center;
}

.contentTwoPart .contentHeading {
    width: 100%;
    float: left;
    color: #005a77;
    font-size: 17px;
}

.contentTwoPart .contentStar {
    width: 65px;
    margin: 10px auto 0;
}

    .contentTwoPart .contentStar img {
        margin: 0;
        padding: 0;
        float: left;
    }

.contentTwoPart .contenttxt {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #8b8b8b;
    font-size: 12px;
    line-height: 17px;
}

.contentTwoPart .contentbtn {
    width: 197px;
    margin: 0px auto;
    background: #007ea7;
    border-radius: 4px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}

    .contentTwoPart .contentbtn a {
        color: #fff;
        text-transform: uppercase;
        transition: color 0.5s ease 0s;
    }

        .contentTwoPart .contentbtn a:hover {
            color: #000;
        }

.performersArea {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 42px;
}

    .performersArea .headingMain {
        color: #000;
        font-size: 17px;
        margin-bottom: 28px;
    }

    .performersArea .btnAreaPerformers {
        width: 610px;
        margin: 0 auto;
        overflow: hidden;
    }

        .performersArea .btnAreaPerformers .singleBtn a {
            float: left;
            background: #007ea7;
            color: #fff;
            font-size: 14px;
            text-align: center;
            width: 142px;
            transition: opacity 0.5s ease 0s;
            height: 40px;
            line-height: 40px;
            border-radius: 4px;
        }

            .performersArea .btnAreaPerformers .singleBtn a:hover {
                opacity: 0.6;
            }

.contentAreaThree {
    width: 90%;
    float: left;
    background: url(../images/conetnt-three-bg.jpg) repeat;
    padding: 25px 5%;
    margin-bottom: 10px;
}

    .contentAreaThree h3 {
        color: #fff;
        font-size: 26px;
        text-align: center;
        font-weight: normal;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .contentAreaThree .logosArea {
        width: 100%;
        float: left;
        background: url(../images/logos-bg.jpg) repeat;
        /*height: 72px;
*/        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 30px;
    }

        .contentAreaThree .logosArea a {
            margin: 0 20px;
        }

    .contentAreaThree .testimonialsArea {
        width: 100%;
        float: left;
        text-align: center;
        color: #dbdbdb;
        font-size: 17px;
    }

    .contentAreaThree .testimonialsAreaName {
        color: #fff;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 100%;
        float: left;
        text-align: center;
    }

    .contentAreaThree .testimonialsBtn {
        width: 100%;
        float: left;
    }

        .contentAreaThree .testimonialsBtn a {
            width: 216px;
            height: 48px;
            line-height: 48px;
            margin: 0 auto;
            padding: 0;
            background: #973c22;
            text-align: center;
            color: #fff;
            font-size: 14px;
            transition: 0.5s ease 0s;
            border-radius: 4px;
            display: block;
        }

            .contentAreaThree .testimonialsBtn a:hover {
                opacity: 0.5;
            }

.slider {
    float: left;
    width: 100% !important;
    max-width: 100% !important;
}
/*.logoslider{background:url(../images/logo-strip.png) repeat; transition:200s linear 0s normal none infinite transition-logo; overflow:hidden; width:100%; height:72px; overflow:hidden;}

@-moz-keyframes transition-logo {
0% {
    background-position: 0 0;
}
100% {
    background-position: -6000px 0;
}
}*/




.footerMenuArea {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .footerMenuArea a {
        color: #007ea7;
        text-decoration: none;
        transition: color 0.5s ease 0s;
        font-size: 17px;
        margin: 0 27px;
        line-height: 35px;
    }

        .footerMenuArea a:hover {
            color: #000;
        }

.footerSocialArea {
    width: 100%;
    background: #d0d0d0;
    padding: 24px 0;
    float: left;
}

    .footerSocialArea a {
        margin: 4px;
    }

        .footerSocialArea a img {
            transition: opacity 0.5s ease 0s;
			-webkit-filter: grayscale(92%);
    		filter: grayscale(100%);
        }

            .footerSocialArea a img:hover {
                opacity: 0.9;
            }

    .footerSocialArea .estTxt {
        text-align: center;
        color: #000;
        margin-top: 12px;
        font-size: 17px;
    }

.mainFooter {
    width: 100%;
    float: left;
    background: #5c5c5c;
    padding: 30px 0;
    color: #f0f0f0;
    font-size: 12px;
    text-align: center;
}

.mainFooter .mainFooter{padding: 0;}

.charecter {
    width: 285px;
    height: 165px;
    background: url(../images/charecter.png) no-repeat;
    position: absolute;
    margin-top: -316px;
    margin-left: 886px;
    display: none;
}

    .charecter:hover {
        background: url(../images/charecter-h.gif) no-repeat;
    }



/*Innerpage*/

.headerSearchArea {
    float: left;
    width: auto;
    color: #007ea7;
    font-size: 14px;
	}

.headerSearchAreaPart {
    float: left;
    width: 300px;
}

.headerSearchArea .headerSearchAreaPart .inputArea {
    float: left;
    width: 270px;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
    background: #f4f4f4;
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 12px;
    padding: 0 8px;
	font-family:inherit;

}

.headerSearchArea .searchBtn {
    float: left;
    width: 54px;
    height: 48px;
    border-radius: 4px;
    background: url(../images/search-btn.png) no-repeat left top;
    opacity: 0.6;
    transition: opacity 0.5s ease 0s;
    margin-top: 29px;
    cursor: pointer;
    border: none;
}

    .headerSearchArea .searchBtn:hover {
        opacity: 1;
    }

.innerBanner {
    width: 100%;
    max-width: 100%;
    float: left;
    background: url(../images/inner-banner.jpg) repeat;
    height: 300px;
}

.bredCrump {
    width: 100%;
    max-width: 100%;
    height: 40px;
    background: #003e52;
    line-height: 40px;
    color: #fff;
    font-size: 12px;
    text-align: left;
}

    .bredCrump a {
        color: #fff;
        text-decoration: none;
        transition: color 0.5s ease 0s;
    }

        .bredCrump a:hover {
            color: #ccc;
        }

.bannerTxtAreaLeft {
    width: 40%;
    float: left;
    font-size: 40px;
    color: #fff;
}

.bannerTxtAreaLeftBtn a {
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    background: #003e52;
    color: #fff;
    text-align: center;
    transition: opacity 0.5s ease 0s;
    font-size: 14px;
    border-radius: 4px;
    margin-top: 10px;
    float: left;
}

    .bannerTxtAreaLeftBtn a:hover {
        opacity: 0.6;
    }

.bannerTxtAreaRight {
    width: 40%;
    float: right;
    color: #003e52;
    font-size: 15px;
    line-height: 25px;
}

    .bannerTxtAreaRight .tuneArea {
        width: 96px;
        height: 96px;
        float: left;
        margin-right: 10px;
        background: url(../images/in-banner-tune.png) no-repeat left center;
        opacity: 0.6;
        transition: opacity 0.5s ease 0s;
        margin-top: -10px;
    }

        .bannerTxtAreaRight .tuneArea:hover {
            opacity: 1;
        }

.bannerBtmWhiteArea {
    width: 100%;
    max-width: 100%;
    background: #fff;
    padding: 15px 0;
    color: #007ea7;
    font-size: 14px;
    float: left;
}

    .bannerBtmWhiteArea span {
        color: #959595;
    }

.browseAllBtnArea {
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 42px;
}

    .browseAllBtnArea a {
        padding: 10px 20px;
        font-size: 22px;
        color: #fff;
        text-align: center;
        overflow: hidden;
        margin: 0 auto;
        background: #007ea7;
        transition: opacity 0.5s ease 0s;
        border-radius: 4px;
    }

        .browseAllBtnArea a:hover {
            opacity: 0.6;
        }

.iconAreaBox {
    text-align: center;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
}

    .iconAreaBox a {
        transition: opacity 0.5s ease 0s;
        opacity: 0.6;
    }

        .iconAreaBox a:hover {
            opacity: 1;
        }


/*innerpage2*/

.inpageThreeBanner {
    width: 100%;
   	height: 300px;
    float: left;
	background: #000;
    opacity:.8;
	overflow: hidden;
}

.inpageThreeBannerWrapper {
    width: 166px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.bannerPhotoArea {
    position: absolute;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    z-index: 9999;
    margin-top: 60px;
}

.bannerBigImg {
/*    width: 100%;
    max-width: 100%;*/
    height: auto;
	float:left;
/*    margin-top: -3%;
    min-height: 370px;
*/}

.bannerThreeImg {
    width: 160px;
    height: 160px;
    float: left;
    border-radius: 4px;
    margin-bottom: 7px;
}

.bannerThreeStar {
    width: 100%;
    float: left;
    text-align: center;
}

.bannerThreeName {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin: 5px 0;
}

.bannerThreeWhiteArea {
    width: 100%;
    max-width: 100%;
    float: left;
    background: #fff;
    padding: 10px 0;
}

.bannerThreeWhiteAreaWrapper {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    color: #555555;
    font-size: 14px;
}

    .bannerThreeWhiteAreaWrapper a {
        color: #555555;
        transition: color 0.5s ease 0s;
        margin-right: 10px;
    }

        .bannerThreeWhiteAreaWrapper a:first-child {
            margin-right: 0px;
        }

        .bannerThreeWhiteAreaWrapper a:hover {
            color: #000;
        }

    .bannerThreeWhiteAreaWrapper img {
        margin-right: 5px;
    }

.phNo {
    position: absolute;
    z-index: 999;
    background: #000;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 35px;
    height: 35px;
    left: 64%;
    margin-top: 10px;
    display: none;
}

.contactAreaBanner {
    width: 100%;
    text-align: center;
    float: left;
    margin: 40px 0;
}

    .contactAreaBanner a {
        margin: 0 auto;
        overflow: hidden;
        padding: 10px 20px;
        font-size: 30px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        transition: background 0.5s ease 0s;
        background: #003e52;
        border-radius: 4px;
    }

        .contactAreaBanner a:hover {
            background: #000;
            color: #fff;
        }

.whyBookArea {
    width: 100%;
    float: left;
    color: #000;
    text-align: center;
    font-size: 16px;
    margin: 0 0 20px 0;
    text-decoration: underline;
}

.contentZonePart {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.iconZoneArea {
    width: 10%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.iconZone {
    width: 100%;
    float: left;
    border-radius: 150px;
    background: #ccc;
    text-align: center;
    height: 75px;
    margin-top: 10px;
    padding-top: 25px;
}

.arrowZone {
    width: 5%;
    float: left;
    background: url(../images/arrow-zone.png) no-repeat right 50px;
    min-height: 100px;
}

.contentZone {
    width: 75%;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    float: left;
    color: #4c4c4c;
}

    .contentZone p {
        margin-top: 20px;
    }

        .contentZone p:first-child {
            margin-top: 0px;
        }

.sliderContentZone {
    width: 100%;
    float: left;
    background: #fff;
}

    .sliderContentZone img {
        /*width: 100% !important;
        max-width: 100% !important;*/
    }

.starAreaZone {
    width: 100%;
    max-width: 100%;
    float: left;
    text-align: center;
    float: left;
    margin: 10px 0 0;
}

.verifiedZone {
    width: 100%;
    max-width: 100%;
    float: left;
    height: 42px;
    line-height: 42px;
    color: #000;
    font-size: 16px;
    text-decoration: underline;
    text-align: center;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.bgGray {
    background: #f4f4f4;
    width: 94%;
    max-width: 100%;
    padding: 3%;
    float: left;
    margin: 10px 0;
    color: #4e4949;
    border-radius: 4px;
}

    .bgGray .rowPart {
        width: 100%;
        float: left;
        padding: 10px 0;
    }

    .bgGray .part1 {
        width: 15%;
        float: left;
    }

    .bgGray .part2 {
        width: 25%;
        float: left;
        font-weight: bold;
    }

    .bgGray .part3 {
        width: 20%;
        float: left;
        font-weight: bold;
    }

    .bgGray .part4 {
        width: 40%;
        float: left;
    }

.writeReviewArea {
    width: 100%;
    max-width: 100%;
    float: left;
    margin: 35px 0;
    text-align: center;
}

    .writeReviewArea a {
        padding: 15px 20px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        background: #007ea7;
        text-align: center;
        transition: opacity 0.5s ease 0s;
        border-radius: 4px;
        font-size: 20px;
    }

        .writeReviewArea a:hover {
            opacity: 0.6;
        }

.middleBtnArea {
    width: 100%;
    max-width: 100%;
    float: left;
    text-align: center;
}

    .middleBtnArea a {
        padding: 8px 12px;
        background: #ccc;
        color: #000;
        overflow: hidden;
        margin: 10px 10px 10px;
        transition: all 0.5s ease 0s;
        border-radius: 4px;
		float:inherit;
    }

        .middleBtnArea a:hover {
            background: #007ea7;
            color: #fff;
        }

audio {
    width: 100% !important;
    max-width: 100% !important;
    height: 40px !important;
	border-radius: 4px;
}

/*Responsive Menu Area*/

.totalAreaBody {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    /*height: 1505px;*/
}

.mainBodyArea {
    position: relative;
    width: 100%;
}

.responsiveMenuArea {
    width: 85%;
    padding-top: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    height: 100%; /*float:left;*/
    background: gray;
    z-index: 999999999999999;
    font-size: 150%;
    box-shadow: 0 0 7px #000 inset;
    display: none;
}

    .responsiveMenuArea span {
        padding-left: 3%;
    }

    .responsiveMenuArea ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        border-bottom: 1px solid #ccc;
        overflow: hidden;
        padding-bottom: 20px;
    }

        .responsiveMenuArea ul li {
            width: 95%;
            padding-left: 5%;
            float: left;
            margin-top: 15px;
            font-size: 80%;
        }

            .responsiveMenuArea ul li a {
                color: #fff;
                transition: opasity 0.5s ease 0s;
                line-height: 41px;
            }

                .responsiveMenuArea ul li a img {
                    border: none;
                    outline: none;
                    margin-right: 10px;
                    float: left;
                }

                .responsiveMenuArea ul li a:hover {
                    opacity: 0.5;
                }

.close {
    width: 50px;
    height: 30px;
    position: absolute;
    background: #fff;
    left: 85%;
    cursor: pointer;
    transition: opacity 0.5s ease 0s;
    font-size: 130%;
    color: #fff;
    line-height: 30px;
    text-align: center;
    top: 20px;
    display: none;
    z-index: 9999999999999999999999999999;
}

    .close:hover {
        opacity: 0.8;
    }

.resMenu {
    display: none;
}

.responsiveInputBoxHeader {
    width: 94%;
    padding: 0 2%;
    position: absolute;
    z-index: 9999999;
    top: 10px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ccc;
    left: 1%;
    height: 35px;
    line-height: 35px;
    margin-bottom: -35px;
    display: none;
}

.searchRight {
    display: none;
}


/*  ================   FAQ    ================   */


.bannerTxtFAQLeft {
    float: left;
    font-size: 40px;
    color: #fff;
    margin-top: 65px;
}

.bannerTxtFAQLeftBtn {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    float: left;
}

.totalContentArea {
    width: 100%;
    float: left;
    background: url(../images/faq-content-bg.jpg) repeat;
    padding: 30px 0;
}

.mainContentArea {
    width: 1000px;
    margin: 0 auto;
    color: #555;
}

.contentLeftFaq {
    width: 67%;
    float: left;
}

.contentRightFaq {
    width: 28%;
    float: right;
    line-height: 20px;
}

    .contentRightFaq a {
        color: #3399cc;
        text-decoration: none;
        transition: color 0.5s ease 0s;
    }

        .contentRightFaq a:hover {
            color: #000;
        }

    .contentRightFaq h2 {
        width: 100%;
        float: left;
        font-weight: bold;
        color: #555;
        margin-bottom: 10px;
    }

.contact_us_btn {
    width: 100%;
    float: left;
}

    .contact_us_btn a {
        float: left;
        background: #3399cc;
        height: 46px;
        line-height: 46px;
        padding: 0 15px;
        text-align: center;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        margin-top: 30px;
        border-radius: 4px;
        transition: opacity 0.5s ease 0s;
    }

        .contact_us_btn a:hover {
            opacity: 0.5;
        }

.faqSearch {
    width: 94%;
    float: left;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding: 0 3%;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.5s ease 0s;
    background: #fff;
    color: #848484;
    margin-bottom: 25px;
	font-family:inherit;
}

    .faqSearch:focus {
        background: #f1f1f1;
    }

.faqQuAnArea {
    width: 95%;
    float: left;
    padding-left: 5%;
    font-size: 17px;
}

.faqQuestion {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: #555;
}

    .faqQuestion a {
        color: #3399cc;
        transition: color 0.5s ease 0s;
        margin-left: 10px;
    }

        .faqQuestion a:hover {
            color: #73b8dd;
        }

.faqAns {
    width: 96%;
    padding-left: 4%;
    float: left;
    margin-bottom: 10px;
    color: #555;
    margin-top: 20px;
}

    .faqAns .faqNumberingArea {
        width: 8%;
        display: table-cell;
        vertical-align: top;
        float: left;
    }

    .faqAns .faqNumbering {
        background: #3399cc;
        border-radius: 150px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        height: 30px;
        color: #fff;
    }

    .faqAns .faqAnsHeading {
        width: 100%;
        float: left;
        font-weight: bold;
        color: #555;
        margin-bottom: 10px;
        margin-top: 7px;
    }

    .faqAns .faqAnsMain {
        width: 92%;
        float: left;
    }

/*  ================   Login    ================   */

.loginHeading h2 {
    width: 100%;
    float: left;
    font-weight: bold;
    color: #555;
    margin-bottom: 30px;
}

.loginFormArea {
    width: 100%;
    float: left;
}

    .loginFormArea .singleForm {
        width: 48%;
        float: left;
        margin-right: 4%;
    }

        .loginFormArea .singleForm:last-child {
            margin-right: 0;
        }

.login_login {
    float: left;
    background: #3399cc;
    height: 46px;
    line-height: 42px;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 4px;
    transition: opacity 0.5s ease 0s;
    cursor: pointer;
    border: none;
    margin-bottom: 18px;
	font-family:inherit;
}


    .login_login:hover {
        opacity: 0.5;
    }

.forgot_login {
    width: 100%;
    float: left;
}

    .forgot_login a {
        color: #3399cc;
        transition: color 0.5s ease 0s;
        margin: 15px 0;
        float: left;
        width: 100%;
    }

        .forgot_login a:hover {
            color: #73b8dd;
        }

#col2 ul li {
    padding: 10px 0;
    float: left;
}

.rightLogin {
    vertical-align: bottom;
}

.login-right-details {
    width: 80%;
    float: left;
    background: #43c3dd;
    padding: 10%;
    color: #fff;
}

    .login-right-details ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

        .login-right-details ul li {
            background: url(../images/login-right-li.png) no-repeat left center;
            float: left;
            padding-left: 10%;
            width: 90%;
            margin-bottom: 5px;
        }

.login-right-arrow {
    width: 100%;
    float: left;
    margin: 0 0 10px 0;
    text-align: center;
}

.login_signup_area {
    width: 100%;
    float: left;
    background: #fff;
    padding: 20px 0 100px;
    color: #555;
}

    .login_signup_area .wrapper h2 {
        width: 100%;
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
        float: left;
    }

.login_signUp a {
    float: left;
    background: #b2b2b2;
    height: 46px;
    line-height: 42px;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 4px;
    transition: opacity 0.5s ease 0s;
    cursor: pointer;
    border: none;
}

    .login_signUp a:hover {
        opacity: 0.5;
    }

/*===================== Join  ================================*/

.join_heading {
    width: 100%;
    float: left;
    text-align: center;
    color: #555;
    font-size: 28px;
}

.join_sub_heading {
    width: 100%;
    float: left;
    text-align: center;
    color: #e95c41;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.join_total_box_area {
    width: 100%;
    float: left;
}

.box_one_join {
    width: 90%;
    float: left;
    background: #f78b4b;
    padding: 3%;
}

.box_two_join {
    width: 90%;
    float: right;
    background: #8eba6b;
    padding: 3%;
}

.join_box_heading {
    color: #fff;
    text-align: center;
    width: 100%;
    float: left;
    font-size: 20px;
    margin-bottom: 25px;
}

.join_box_btn {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

    .join_box_btn a {
        text-align: center;
        border-radius: 4px;
        color: #fff;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        background: #000;
        opacity: 0.5;
        transition: opacity 0.5s ease 0s;
        display: inline-block;
        text-transform: uppercase;
        float: none;
    }

        .join_box_btn a:hover {
            opacity: 1;
        }

.imgArea_join {
    width: 100%;
    float: left;
}

    .imgArea_join .single_img_join {
        width: 20%;
        float: left;
        text-align: center;
    }

        .imgArea_join .single_img_join img {
            opacity: 0.5;
            transition: opacity 0.5s ease 0s;
        }

            .imgArea_join .single_img_join img:hover {
                opacity: 1;
            }

.join_compare {
    float: left;
    text-align: center;
    width: 96%;
    padding: 10px 0;
    font-size: 16px;
}

    .join_compare a {
        color: #43c3dd;
        transition: color 0.5s ease 0s;
    }

        .join_compare a:hover {
            color: #000;
        }

.maiin_box_join {
    width: 46%;
    float: left;
}

.join_cartoon_area {
    width: 100%;
    float: left;
    text-align: center;
	padding-top:	16px;
}

/*======================  How its works  =======================*/

.bannerTxtFAQLeftBtn {
    color: #000;
    font-size: 16px;
    margin-top: 10px;
    float: left;
}

.hiw_video {
    width: 100%;
    float: left;
    height: auto;
}

    .hiw_video iframe {
        width: 100%;
        height: 550px;
        float: left;
    }

.hiw_content_secondPart {
    width: 100%;
    float: left;
    background: #fff;
    padding: 30px 0 150px;
}

.hiw_heading {
    width: 100%;
    float: left;
    text-align: center;
    color: #e95c41;
    font-size: 26px;
    margin-bottom: 30px;
}

.hiw_part {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    margin-top: 40px;
    color: #555;
}

.hiw_part_img {
    width: 25%;
    float: left;
    vertical-align: bottom;
    text-align: center;
}

    .hiw_part_img img {
        width: auto;
        max-height: 150px;
    }

.hiw_part_txt {
    width: 70%;
    float: right;
}

.hiw_btnArea {
    width: 100%;
    text-align: center;
}

.hiw_btn a {
    display: inline-block;
    background: #3399cc;
    height: 46px;
    line-height: 46px;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 4px;
    transition: opacity 0.5s ease 0s;
}

    .hiw_btn a:hover {
        opacity: 0.5;
    }

.hiw_question {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
}

    .hiw_question a {
        color: #3399cc;
        transition: color 0.5s ease 0s;
    }

        .hiw_question a:hover {
            color: #000;
        }

/*===================================  Terms  ==================================*/

.termsDetails {
    width: 100%;
    float: left;
    margin-bottom: 10px;
    color: #555;
    margin-top: 20px;
    color: #555;
}

    .termsDetails .terms_headingArea {
        width: 26%;
        padding-right: 4%;
        display: table-cell;
        vertical-align: top;
        float: left;
    }

    .termsDetails .terms_heading {
        color: #e95c50;
        font-size: 24px;
    }

    .termsDetails .terms_ans {
        width: 70%;
        float: left;
    }

        .termsDetails .terms_ans p {
            padding-bottom: 15px;
        }

        .termsDetails .terms_ans a {
            color: #3399cc;
            transition: color 0.5s ease 0s;
        }

            .termsDetails .terms_ans a:hover {
                color: #000;
            }

/*===================================  Quick quote  ==================================*/

.qq_heading {
    width: 100%;
    float: left;
    text-align: center;
    color: #3399cc;
    font-size: 28px;
}

.qq_sub_heading {
    width: 100%;
    float: left;
    text-align: center;
    color: #555;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.change_circle_area {
    width: 100%;
    float: left;
    text-align: center;
}

.circle_one_qq {
    background: #3399cc;
    height: 22px;
    width: 22px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 -5px;
}

.circle_two_qq {
    background: #ccc;
    height: 22px;
    width: 22px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 -5px;
}

.circle_three_qq {
    background: #ccc;
    height: 22px;
    width: 22px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 -5px;
}

.strate_one_qq {
    width: 80px;
    height: 4px;
    display: inline-block;
    background: #ccc;
    top: -10px;
    position: relative;
}

.strate_two_qq {
    width: 80px;
    height: 4px;
    display: inline-block;
    background: #ccc;
    top: -10px;
    position: relative;
}

.contentAreaTwo_qq {
    width: 100%;
    float: left;
    background: url(../images/conetnt-two-bg.jpg) repeat;
    padding: 36px 0;
    margin: 28px 0;
}

.qqSearch {
    width: 94%;
    float: left;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    padding: 0 3%;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.5s ease 0s;
    background: #fff;
    color: #848484;
    margin-bottom: 25px;
    margin-top: 1%;
	font-family: inherit;
}

    .qqSearch:focus {
        background: #f1f1f1;
    }

.singleFormqq {
    width: 48%;
    float: left;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    min-height: 110px;
}

.singleFormqq.radio{width: 48%; min-height: 70px; }

.singleFormqq.radio.single-form-left{margin: 15px 0 0 2%;}
.singleFormqq.radio.single-form-right{margin: 15px 2% 0 0;}

.profile_bg.right-section{float:right; background:none !important; width:48% !important; padding:0 !important;}

.single-form-left {
    margin-right: 2%;
}

.single-form-right {
    margin-left: 2%;
}


.qq_login_area {
    width: 100%;
    float: left;
    text-align: center;
}

.login_qq {
    background: #3399cc;
    height: 46px;
    line-height: 42px;
    padding: 0 35px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 4px;
    transition: opacity 0.5s ease 0s;
    cursor: pointer;
    border: none;
	font-family:inherit;
}

    .login_qq:hover {
        opacity: 0.5;
    }

.qqSearch_select {
    width: 100%;
    float: left;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.5s ease 0s;
    background: #fff;
    color: #848484;
    margin-bottom: 25px;
    margin-top: 1%;
	font-family:inherit;
}

    .qqSearch_select:focus {
        background: #f1f1f1;
    }

.singleFormqq span {
    font-size: 13px;
}

.radio {
    width: 99%;
    float: left;
    margin: 15px 0;
}

.fullWidth_qq {
    width: 100%;
    float: left;
}

.back_qq {
    background: #999;
    height: 46px;
    line-height: 42px;
    padding: 0 35px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 4px;
    transition: opacity 0.5s ease 0s;
    cursor: pointer;
    border: none;
}

    .back_qq:hover {
        opacity: 0.5;
    }

.qqSearch_textbox {
    width: 90%;
    margin: 1% 0;
    float: left;
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 60px;
    line-height: 20px;
    padding: 5%;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.5s ease 0s;
    background: #fff;
    color: #848484;
    margin-bottom: 25px;
    resize: none;
}

.tB_qq {
    font-weight: normal;
    color: #000;
    font-size: 14px;
}

.formPartTwo_qq {
    display: none;
}

.formPartThree_qq {
    display: none;
}

/*=========================  Form Quick Contact  ==========================*/

.bannerThreeStar a {
    color: #6699cc;
    transition: color 0.5s ease 0s;
}

    .bannerThreeStar a:hover {
        color: #000;
    }

.img_cfc {
    border-radius: 4px;
    border: 2px solid #fff;
}

.wid30Fleft {
    width: 30%;
    float: left;
    margin-right: 5%;
}

    .wid30Fleft:last-child {
        margin-right: 0;
    }

/*=========================  Contact us  ==========================*/
.banner_heading_contact_full {
    width: 100%;
    float: left;
    margin-top: -70px;
    z-index: 999;
    color: #fff;
    font-size: 16px;
}

.banner_heading_contact_main {
    float: left;
    width: 15%;
    margin-right: 5%;
    font-weight: bold;
    font-size: 28px;
}

.first_ct_cu {
    width: 70%;
    float: left;
    color: #555;
}

    .first_ct_cu h2 {
        width: 100%;
        float: left;
        color: #6699cc;
        margin-bottom: 10px;
        font-size: 22px;
    }

.first_ct_cu_btn {
    width: 25%;
    float: left; /*margin-left:5%;*/
    position: relative;
    display: inline-table;
    vertical-align: bottom;
}

.contact_btn a {
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #007ea7;
    text-align: center;
    transition: opacity 0.5s ease 0s;
    border-radius: 4px;
    font-size: 14px;
}

    .contact_btn a:hover {
        opacity: 0.6;
    }

.single_content_cu {
    float: left;
    margin-bottom: 15px;
}


.second_content_cu {
    width: 100%;
    float: left;
    background: url(../images/conetnt-two-bg.jpg) repeat;
    padding: 20px 0;
}

.send_cu {
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #007ea7;
    text-align: center;
    transition: opacity 0.5s ease 0s;
    border-radius: 4px;
    font-size: 18px;
    float: left;
    cursor: pointer;
}

    .send_cu:hover {
        opacity: 0.6;
    }

.contactArea_cu {
    width: 50%;
    float: left;
}

    .contactArea_cu h2 {
        width: 100%;
        float: left;
        font-size: 26px;
        color: #6699cc;
        margin-bottom: 15px;
    }

.heading_cont_form {
    margin-bottom: 25px;
    color: #000;
    font-size: 24px;
}

.mainAddress_cu {
    width: 100%;
    float: left;
    color: #555;
    margin-bottom: 15px;
}

    .mainAddress_cu img {
        float: left;
        margin-right: 30px;
    }

.first_content_au {
    color: #555;
}

    .first_content_au h2 {
        color: #6699cc;
        float: left;
        width: 100%;
    }

    .first_content_au p {
        margin-bottom: 10px;
        width: 100%;
    }

.video_area_au {
    width: 100%;
    float: left;
    text-align: center;
    overflow: hidden;
}

    .video_area_au img {
        width: 100%;
    }

.teamArea {
    width: 100%;
    float: left;
    margin: 20px 0;
}

    .teamArea .part_team {
        width: 30%;
        margin-left: 5%;
        float: left;
    }

        .teamArea .part_team:first-child {
            margin-left: 0%;
        }

        .teamArea .part_team img {
            width: 100%;
        }

.white_hidden {
    display: none;
    width: 90%;
    padding: 5%;
    float: left;
    background: #f1f1f1;
    margin: 20px 0;
}

.teamArea .part_team:hover .white_hidden {
    display: block;
}

/*-----------------add-----*/
.headerdashboard {
    color: #7f7f7f;
    font-size: 20px;
    float: left;
    margin-left: 25px;
    /*margin-left: 160px;*/
}

.dashboard_l {
    color: #7f7f7f;
    font-size: 20px;
    float: left;
    margin-left: 25px;
    width: 590px;
}

.dashboard_r {
    color: #7f7f7f;
    font-size: 20px;
    float: right;
    width: 200px;
}

.login_d {
/*    width: 90%;
*/}

    .login_d ul {
        list-style: none;
    }

    .login_d li {
        list-style-type: none;
    }

        .login_d li a {
            float: left;
            font-size: 12px;
            line-height: 12px;
            color: #277fa7;
            padding: 0px 9px;
/*            font-family: Arial, Helvetica, sans-serif;
*/            border-right: 1px solid #277fa7;
        }

            .login_d li a:hover {
                color: #277fa7;
            }

        .login_d li:last-child a {
            border: none;
        }

.logo_dash {
    margin-top: 24px;
}

.headerdashboard img {
    margin-top: 10px;
    margin-left: 30px;
}

.view_p a {
    padding: 7px 20px;
    font-size: 17px;
    color: #fff;
    line-height: 26px;
    background: #277fa7;
    line-height: 52px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
/*    font-family: "Noto Sans",sans-serif;
*/}

.headerdashboard strong {
    color: #E25F1E;
	line-height: 45px;
	float: right;
	margin-right: 20px;
	}

.dash_m {
    width: 100%;
}

.dash_mP_l {
    width: 86.8%;
    float: left;
    background: #bbbbbb;
    border-radius: 5px;
    overflow: hidden;
}

    .dash_mP_l ul {
        list-style: none;
    }

    .dash_mP_l li {
        list-style-type:;
    }

        .dash_mP_l li a {
            float: left;
            font-size: 16px;
            padding: 6px 10px;
            color: #434343;
            line-height: 33px;
/*            font-family: Arial, Helvetica, sans-serif;*/
        }

            .dash_mP_l li a:hover {
                background: #09577b;
                color: #fff;
            }

.dash_mP_r {
    width: 7%;
    float: left;
    background: #bbbbbb;
    border-radius: 4px;
    padding: 4px;
    margin-left: 5px;
}

    .dash_mP_r ul {
        list-style: none;
    }

    .dash_mP_r li {
        background: url(../images/chat_d.png) no-repeat;
        width: 40px;
        height: 36px;
        padding: 0px 15px;
    }

        .dash_mP_r li a {
            float: left;
            font-size: 16px;
            color: #fff;
            line-height: 33px;
/*            font-family: Arial, Helvetica, sans-serif;*/
            text-align: center;
        }


.dashmenuArea {
    width: 100%;
    max-width: 100%;
    background:transparent url("../images/conetnt-one-bg.jpg") repeat scroll 0% 0%;;
    height: 50px;
    padding-top: 8px;
}

.dsh_menu {
    width: 100%;
}

    .dsh_menu ul {
        list-style: none;
    }

    .dsh_menu li {
/*        list-style-type:;*/
    }

        .dsh_menu li a {
            float: left;
            font-size: 13.5px;
            padding: 0px 12px;
            color: #fff;
            line-height: 50px;
        }

            .dsh_menu li a:hover {
                background: #cccccc;
                color: #09577b;
                border-radius: 4px 4px 0px 0px;
            }

.menuselected {    
    background: #cccccc;
    color: #09577b;
    border-radius: 4px 4px 0px 0px;
}

.totalContentdashboard {
    width: 100%;
    float: left;
    background: #cccccc;
    padding: 30px 0;
/*    font-family: Arial, Helvetica, sans-serif;*/
/*    ss;*/
}

.dashboard_white {
    width: 98%;
    /*width:113%;*/
    background: #fff;
    border-radius: 5px;
    color: #4c4c4c;
    padding: 2% 1%;
}

.dashboard_white2 {
    /*width: 98%;*/
    width:113%;
    background: #fff;
    border-radius: 5px;
    color: #4c4c4c;
    padding: 2% 1%;
}

.orannge_b {
    float: left;
    margin-left: -18px;
    background: url(../images/orange.png);
    height: 46px;
    width: 8px;
    margin-top: -1px;
}

.orannge_heading {
    width: 120px;
    padding: 7px;
    border-radius: 0px 5px 5px 0px;
    background: #e25f1e;
    color: #fff;
    font-size: 18px;
    float: left;
    margin-left: -10px;
}

.pagenatn {
    float: left;
    margin-left: 10px;
}

    .pagenatn ul {
        list-style: none;
    }

    .pagenatn li {
        float: left;
        font-size: 18px;
        padding: 0px 3px;
        line-height: 40px;
    }

.dashboard_sky {
    width: 100%;
/*    background: #d2dfeb;*/
    border-radius: 10px;
    color: #4c4c4c;
}

.dashboard_rept {
/*    background: url(../images/harh.png) repeat-x;
    height: 9px;
    border-radius: 5px 5px 0px 0px;*/
}

.dashboard_cnt {
    width: 100%;
    margin: 10px auto;
    line-height: 20px;
}

    .dashboard_cnt a {
        color: #3289B8;
        font-weight: bold;
    }

select.dropdwn {
    border-radius: 5px;
    font-size: 16px;
    color: dropdwn;
    padding: 1%;
    border-color: #000000;
    float: left;
}

.das_bg {
    width: 100%;
}

.paging {
    float: right;
}

    .paging ul {
        list-style: none;
    }

    .paging li {
        list-style-type: none;
        float: left;
    }

        .paging li a {
    float: left;
    font-size: 16px;
    padding: 5px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    color: #4C4C4C;
    margin: 0px 4px;
}

            .paging li a:hover {
                background: #264766;
                color: #fff;
            }

.name_dash_bg {
    background: rgb(248, 248, 248) none repeat scroll 0% 0%;
    padding: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .name_dash_bg ul {
        list-style: none;
    }

    .name_dash_bg li {
        float: left;
    }

        .name_dash_bg li img {
        }

        .name_dash_bg li.name {
            width: 20%;
            font-size: 18px;
            text-align: center;
            line-height: 58px;
        }

        .name_dash_bg li.txt {
            width: 59%;
            font-size: 17px;
            color: #264766;
            line-height: 26px;
        }

        .name_dash_bg li.button a {
            padding: 5px 15px;
            font-size: 17px;
            color: #fff;
            line-height: 26px;
            background: #6f6f6f;
            line-height: 49px;
        }

.name_dash_bg2 {
    background: none;
    padding: 1%;
    margin-top: 10px;
}

    .name_dash_bg2 ul {
        list-style: none;
    }

    .name_dash_bg2 li {
        float: left;
    }

        .name_dash_bg2 li img {
        }

        .name_dash_bg2 li.name {
            width: 20%;
            font-size: 18px;
            text-align: center;
            line-height: 58px;
        }

        .name_dash_bg2 li.txt {
            width: 59%;
            font-size: 17px;
            color: #264766;
            line-height: 26px;
        }

        .name_dash_bg2 li.button a {
            padding: 5px 15px;
            font-size: 17px;
            color: #fff;
            line-height: 26px;
            background: #6f6f6f;
            line-height: 49px;
        }
/*location*/
.location {
    width: 100%;
    margin-top: 30px;
}

    .location h1 {
        color: #09577b;
        font-size: 24px;
        /*font-family: Arial, Helvetica, sans-serif;*/
        width: 100%;
        font-weight: normal;
        line-height: 24px; 
/*        margin: 0 0 5px 0;
        padding: 0 0 5px 0;*/
    }

    .location h2 {
        color: #09577b;
        font-size: 24px;
   /*     font-family: Arial, Helvetica, sans-serif;*/
        width: 100%;
        font-weight: normal;
        border-bottom: 3px solid rgba(0,0,0,.1);
        margin: 0 0 8px 0;
        padding: 0 0 8px 0;
    }

    .location p {
        font-size: 14px;
     /*   font-family: Arial, Helvetica, sans-serif;*/
        width: 100%;
        font-weight: normal;
        line-height: 20px;
    }

.location_bg {
    width: 98%;
    background: #ebebeb;
    border-radius: 1px;
    color: #4c4c4c;
    padding: 1% 1%;
    border-radius: 4px 4px 0px 0px;
    margin-top: 20px;
    box-shadow: 1px 0px 3px #ababab;
}

.location_newyk {
    float: left;
    width: 82%;
}

    .location_newyk h2 {
        color: #555;
        font-weight: bold;
        font-size: 15px;
    }

        .location_newyk h2 span {
            color: #908A81;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
        }

            .location_newyk h2 span a {
                color: #3289B8;
            }

    .location_newyk h3 {
        color: #555;
        font-weight: bold;
        line-height: 0px;
        font-size: 13px;
    }

        .location_newyk h3 span {
            color: #908A81;
            font-weight: normal;
            font-size: 14px;
        }

.location_newyk_r {
    float: right;
    width: 17%;
    margin-left: 1%;
}

    .location_newyk_r h3 {
        color: #908A81;
        font-weight: normal;
        font-size: 12px;
    }

.location_sky {
    background: #e5f2fe;
    padding: 1% 2%;
    width: 96%;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 1px 1px 2px #626262;
}

    .location_sky h2 {
        color: #555;
        font-weight: bold;
        font-size: 15px;
    }

    .location_sky h4 {
        color: #555;
        font-weight: normal;
        line-height: 21px;
        font-size: 14px;
        /*font-family: Arial, Helvetica, sans-serif;*/
    }

        .location_sky h4 span {
            color: #555;
            font-weight: bold;
            line-height: 0px;
            font-size: 14px;
        }

        .location_sky h4 a {
            color: #3289B8;
            font-weight: bold;
        }

.profile_bg {
    width: 96%;
    background: #DDD;
    border-radius: 10px;
    color: #4c4c4c;
    padding: 2% 2%;
    margin-top: 20px;
    margin-bottom: 30px;
}

    .profile_bg p {
        color: #4c4c4c;
        line-height: 22px;
    }

.profile_bg_mrgn {
    margin-top: 28px;
}

.profile_bg p span {
    color: #900;
    line-height: 22px;
    width: 80%;
    font-weight: bold;
}

.profile_bg_l {
    width: 98%;
    padding: 3% 2%;
    background: #fff;
    box-shadow: 1px 1px 2px #626262;
    border-radius: 10px;
    line-height: 20px;
}

.profile_bg_r {
    width: 33%;
    float: right;
}

.upload-btn{padding-left:105px; background:url(../images/upload.png) left center no-repeat; overflow:hidden;}

.upload-btn input.choose {margin: 10px 0px; position:relative; left:-100px;}

input.choose {
    margin: 10px 0px;
    width: 100%;
}
.upload {
  text-align: left;
}
.jcrop-holder > .upload{text-align: center;}
.upload input[type=submit] {
    padding: 5px 15px;
    font-size: 17px;
    color: #fff;
    line-height: 26px;
    background: #277fa7;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 5px;
}

.photo_txt {
    width: 64%;
    float: left;
}

    .photo_txt p {
        color: #999;
        line-height: 19px;
        margin-top: 10px;
    }

input.text {
    padding: 1%;
    width: 42%;
}

span.grey {
    color: #999;
}

.profile_pic_y {
    width: 100%;
    background: #ffb687;
    border-radius: 10px;
    color: #4c4c4c;
    padding-bottom: 10px;
}

.profile_pic_grey {
    width: 96%;
    background: #DDD;
    border-radius: 10px;
    color: #4c4c4c;
    padding: 2%;
    margin-top: 10px;
    color: #999;
    line-height: 19px;
}

dl {
    width: 96%;
    margin-top: 20px;
}

    dl dt {
        float: left;
        padding: 8px 0 0;
        text-align: right;
        width: 200px;
    }

    dl dd {
        margin-bottom: 7px;
        margin-left: 206px;
    }

    .profile_pic_grey input[type="text"], .profile_pic_grey textarea {
		width: 94%; 
		border-radius: 4px; 
		border:solid 1px #ccc; 
		padding: 0 3%; 
		line-height: 40px; 
		height: 40px;
		font-family:inherit;
		}
		
		
		
		
    .profile_pic_grey select{
		width: 100%; 
		border-radius: 4px; 
		border-radius: 4px; 
		border:solid 1px #ccc; 
		padding: 0 3%; 
		line-height: 40px; 
		height: 40px;
		font-family:inherit;
		}
    
    .profile_pic_grey textarea{height: 100px;}
    
input.paid_disabled, select.paid_disabled, textarea.paid_disabled {
    cursor: auto;
    color: #999;
    background-color: #F4F4F4;
    border: 1px solid #CCC;
    padding: 2%;
    width: 45%;
    margin-left: 5px;
}
input[type="checkbox"].paid_disabled{width:auto !important; margin-top:10px;}
.width-80 input.paid_disabled, .width-80 textarea.paid_disabled {width:80%;}
.width-80 select.paid_disabled{width:82%;}

.eventCalendar-list{margin:10px 5px 5px;}

.eventCalendar-list li{padding:5px !important;}

/*.eventCalendar-list li:nth-child(odd){background:#f1f1f1;}
.eventCalendar-list li:nth-child(even){background:#fff;}
*/
dd p {
    margin-top: 3px;
}

.box_mrgn_b {
    margin-bottom: 30px;
}

.facebook_uri_bg {
    background-image: url(../images/facebook1.png);
    background-repeat: no-repeat;
    padding-left: 26px;
}

.remv {
    width: 100%;
    clear: both;
}

.remv_r {
    float: left;
    line-height: 48px;
    margin-left: 5px;
}

dl dt.fckb {
    float: left;
    padding: 8px 0 0;
    text-align: left;
    width: 200px;
}

dl dt.fckb2 {
    float: left;
    padding: 8px 0 0;
    text-align: left;
    width: 200px;
}

label.txt_fb {
}

a txt_fb1 {
}

input.hiddn_txt_bx {
    width: 30%;
    float: left;
    border-radius: 4px; border:solid 1px #ccc; padding: 0 3%; line-height: 40px; height: 40px; margin-right: 5px;
}

.upload2 a {
    color: #fff;
    background: #277fa7;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    cursor: pointer;
    font-size: 17px;
    line-height: 30px;
    padding: 5px 15px;
    margin-right: 5px;
}

.change a{
    color: #fff;
    background: #277fa7;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    cursor: pointer;
    font-size: 17px;
    line-height: 30px;
    padding: 5px 15px;
    margin-right: 5px;
}

.change {
    line-height: 30px;
}

.logo_res_new {
    display: none;
}

.field-validation-error {
    color: red;
}


.fancybox-inner > div {
  padding: 20px;
   line-height: 24px;
}
.fancybox-inner > div h1{margin-top: 0; color: #264766; margin-bottom: 20px; padding-bottom: 20px; border-bottom: solid 1px #ccc; line-height: 35px;}

/*.fancybox-inner{background: #e5f2fe}*/

.fancybox-inner > div img{ border-radius:4px; width: 100%;}

table.my-table{width: 100%; margin:  15px auto; border:solid #999; border-width:1px 0 0 1px; table-layout:fixed;}
table.my-table .tr-head{background:#f1f1f1;}
table.my-table tr td{ border:solid #999; border-width:0 1px 1px 0; text-align: center; padding: 10px; word-wrap:break-word; }

table.my-table1{width: 100%; margin:  15px auto; border:solid #999; border-width:0px 0 0 0px; table-layout:fixed;}
table.my-table1 tr td{ border:solid #999; border-width:0 0px 0px 0; text-align: left; color:#3289b8; padding: 10px; word-wrap:break-word; vertical-align: top; }
table.my-table1 tr td a{color:#3289b8;}
.category-listing__list li{padding:5px 0;}
table.my-table1 tr td a h2{margin-top: 5px;}

hr.dotted--color-theme {
  border: 1px dotted;
  opacity: 0.2;
}

.chat-pro-img{float:left; padding: 3px 17px 0px 0px;}
.chat-content{margin-left:15px;}
.rply-sec{padding:8px;}

.msg-u-name{font-weight:bold; font-weight:16px; margin-bottom:3px; text-transform:uppercase;}
.msg-title {font-size:16px; font-weight:500; margin-bottom:3px;}
.msg-bdy, .msg-bdy h3{font-weight:normal; font-size:14px; margin:0 0 5px 0;}

.chat-sec{background:#fff; margin-bottom:10px; padding:8px;/*box-shadow: 0 2px 3px 2px #ccc; border-radius: 5px 5px 0 0;*/}
.rply-div{padding-left:25px;}
.rply-sec:nth-child(odd){background:#f9f9f9;}
.rply-sec:nth-child(even){background:#e9e9e9;}

table.my-table.table-layout-section{table-layout:auto;}

.pop-up-rply textarea{width:100%; margin-bottom:10px; height: 370px; font-family: inherit; font-size:16px;}
.pop-up-rply a {
  background: #277fa7 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  float: left;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 24px;
  text-transform: uppercase;
  float:right;
}

.terms_ans span.sub-head{display:inline-block; color:#e95c50;}


/******************20-12-2015******************/

.profile_pic_grey{padding: .5%; margin: 10px auto;}
.profile_pic_grey dl{background: #fff; width: 90%; margin: 0 auto; border-radius: 10px; padding: 5% 5% 8% 5%;}
.profile_pic_grey dl dt{width: 200px; text-align: right;}
.profile_pic_grey dl dd{margin-left: 200px;}

.profile_pic_grey dl dt label{font-size: 16px; padding-right: 10px;}
.profile_pic_grey input[type="text"],
.profile_pic_grey textarea{font-size: 16px; padding: .2% 1%; width: 98%;}
.profile_pic_grey select{font-size: 16px; padding: .2% 1%;}
.profile_pic_grey textarea {
  line-height: 20px;
}

table.my-table.thumb-icon{border: 0;}
table.my-table.thumb-icon tr{position: relative; float: left; border: 0; box-shadow: 0 1px 2px #ccc; margin: 15px;}
table.my-table.thumb-icon tr:hover{opacity: .9;}
table.my-table.thumb-icon tr.tr-head{display: none;}
table.my-table.thumb-icon tr td{border: 0; padding: 1px;}
table.my-table.thumb-icon tr td:first-child{display: none;}
table.my-table.thumb-icon tr td:nth-child(2) a{display: block; width: 150px; height: 150px; overflow: hidden;}
table.my-table.thumb-icon tr td:nth-child(2) a img{width: 200%;min-height: 100%;margin: -21px -65px !important;}
table.my-table.thumb-icon tr td:nth-child(3) {position: absolute; left: 1px; top: 1px; width: 25px; height: 25px; background: rgba(255,255,255,.9);}
table.my-table.thumb-icon tr td:nth-child(3):hover{ background: rgba(255,255,255,1);}
table.my-table.thumb-icon tr td:nth-child(3) a{ display: block; width: 25px; height: 25px; background: url(../images/delete-icon.png) center center no-repeat; background-size: 55% auto; text-indent: -2000px; overflow: hidden; }

.fancybox-inner #dvRegistration form .singleFormqq{min-height: auto;}

#btnOTPSubmit, #RegenerateOTP {
  text-align: center;
        border-radius: 4px;
        color: #fff;
        font-size: 18px;
        height: 40px;
        padding: 0 10px;
        background: #000;
        opacity: 0.5;
        transition: opacity 0.5s ease 0s;
        display: inline-block;
        text-transform: uppercase;
        float: none;
        border: 0;
        cursor: pointer;
		font-family:inherit;
}
#btnOTPSubmit:hover, #RegenerateOTP:hover {
  opacity: 1;
}
.join_box_btn{margin-bottom: 25px;}
.fancybox-inner #dvOPTForm{margin: 5% !important; height: 80%;}
#dvOPTForm .singleformqq.single-form-left {
  margin-top: 18%; text-align: center;
}

.bx-wrapper img {
  display: inline-block;
  height: 400px;
  margin: 0 auto;
  max-width: inherit !important;
  /*width: auto !important; */
}
.bx-wrapper li{text-align: center;}
.bx-wrapper .bx-caption{text-align: left;}

#dvsubcategory input.chkSubs{margin-left: 12px; margin-top:15px; height:10px;}
#dvsubcategory input.chkSubs:first-child{}


/******************20-12-2015******************/



/*.jcrop-holder{width: 899px !important; min-height: 450px; margin: 10px 0; height: inherit !important;}*/
.jcrop-holder{width: 100% !important; min-height: 100%; margin: 10px 0; height: inherit !important;}
/*.jcrop-holder > img{max-width: 100% !important; height: 100% !important; position: relative !important;}*/
.jcrop-holder > img{max-width: 100% !important; height: 100% !important; position: relative !important;}
/*.jcrop-holder > img{max-width: 100% !important; height: 100% !important; position: relative !important;}*/
.jcrop-tracker{width: 100% !important; min-height: 695px; margin: 10px 0; height: inherit !important;}

/*.jcrop-holder > div > div > img{max-width: 100% !important; height: 100% !important; position: relative !important;}*/


/**************2nd Jan 2016**************/

.control-label{width: 100%;
    float: left;
    text-align: center;
    color: #C33434;
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 30px;
	}
	
	
.category-listing__list{display: inline;}



/*********** Group Member Image ***********/

.groupMemberImage{
    width: 160px;
    height: 160px;
    float: left;
    border-radius: 4px;
    margin: 7px;
}


.groupMemberCrop {
  position: relative;
}
#clip {
  position: absolute;
  clip: rect(0, 160px, 160px, 0);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}


.groupMember{
        display: inline-block;
    float: left;
    width: 87%;
    margin: auto;
    padding: 4% 0% 0% 7%;
}




/*JCROP SECTION*/

/*.jcrop-holder { text-align: left; }

.jcrop-vline, .jcrop-hline
{
	font-size: 0;
	position: absolute;
	background: white url('Jcrop.gif') top left repeat;
}
.jcrop-vline { height: 100%; width: 1px !important; }
.jcrop-hline { width: 100%; height: 1px !important; }
.jcrop-handle {
	font-size: 1px;
	width: 7px !important;
	height: 7px !important;
	border: 1px #eee solid;
	background-color: #333;
	*width: 9px;
	*height: 9px;
}

.jcrop-tracker { width: 100%; height: 100%; }

.custom .jcrop-vline,
.custom .jcrop-hline
{
	background: yellow;
}
.custom .jcrop-handle
{
	border-color: black;
	background-color: #C7BB00;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}*/

