﻿@model ArtistWala.Areas.Admin.Models.EmailModel
@{
    ViewBag.Title = "Add Email Template";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="/ckeditor/contents.css" rel="stylesheet" type="text/css">

<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#TemplateName').change(function () {
            if ($('#TemplateName').val() == '') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 0 })';
            }
            if ($('#TemplateName').val() == 'Registration') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 1 })';
            }
            if ($('#TemplateName').val() == 'Welcome to Artistwala') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 2 })';
            }
            if ($('#TemplateName').val() == 'Password Recovery') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 3 })';
            }
            if ($('#TemplateName').val() == 'Change password') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 4 })';
            }
            if ($('#TemplateName').val() == 'Contact enquery') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 5 })';
            }
            if ($('#TemplateName').val() == 'Artist Contact Request') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 6 })';
            }
            if ($('#TemplateName').val() == 'Client Contact Request') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 7 })';
            }
            if ($('#TemplateName').val() == 'Artist Quote Request') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 8 })';
            }
            if ($('#TemplateName').val() == 'Client Quote Request') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 9 })';
            }
            if ($('#TemplateName').val() == 'Pending Review for Client') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 10 })';
            }
            if ($('#TemplateName').val() == 'Pending Review for Artist') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 11 })';
            }
            if ($('#TemplateName').val() == 'Submit Review for Artist') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 12 })';
            }
            if ($('#TemplateName').val() == 'Submit Review for Client') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 13 })';
            }
            if ($('#TemplateName').val() == 'Reply Message for Receiver') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 14 })';
            }
            if ($('#TemplateName').val() == 'Reply Message for Sender') {
                window.location.href = '@Url.Action("AddEmailTemplate", "Settings", new { id = 15 })';
            }
        });
    });

</script>


@using (Html.BeginForm("AddEmailTemplate", "Settings", FormMethod.Post, new { Area = "Admin" }))
{
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Email Template</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="panel-heading">
                            <label class="control-label" style="color:green;">@ViewBag.Message</label>
                            <p class="help-block">@ViewBag.ErrorMessage</p>
                        </div>
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Email Templates *</label>
                                    @Html.DropDownListFor(m => m.TemplateName, new List<SelectListItem>()
                                        {
                                            new SelectListItem() { Text= "Registration", Value = "Registration" },
                                            new SelectListItem() { Text= "Welcome to Artistwala", Value = "Welcome to Artistwala" },
                                            new SelectListItem() { Text= "Password Recovery", Value = "Password Recovery" },
                                            new SelectListItem() { Text= "Change password", Value = "Change password" },
                                            new SelectListItem() { Text= "Contact enquery", Value = "Contact enquery" },
                                            new SelectListItem() { Text= "Artist Contact Request", Value = "Artist Contact Request" },
                                            new SelectListItem() { Text= "Client Contact Request", Value = "Client Contact Request" },
                                            new SelectListItem() { Text= "Artist Quote Request", Value = "Artist Quote Request" },
                                            new SelectListItem() { Text= "Client Quote Request", Value = "Client Quote Request" },
                                            new SelectListItem() { Text= "Pending Review for Client", Value = "Pending Review for Client" },
                                            new SelectListItem() { Text= "Pending Review for Artist", Value = "Pending Review for Artist" },
                                            new SelectListItem() { Text= "Submit Review for Artist", Value = "Submit Review for Artist" },
                                            new SelectListItem() { Text= "Submit Review for Client", Value = "Submit Review for Client" },
                                            new SelectListItem() { Text= "Reply Message for Receiver", Value = "Reply Message for Receiver" },
                                            new SelectListItem() { Text= "Reply Message for Sender", Value = "Reply Message for Sender" }                                               
                                        }, "Select Template Name", new { @class = "form-control" })
                                    <p class="help-block">@Html.ValidationMessageFor(m => m.TemplateName)</p>
                                </div>
                                <div class="form-group">
                                    <label>Email Subject *</label>
                                    @Html.TextBoxFor(m => m.EmailSubject, new { @class = "form-control" })
                                    <p class="help-block">@Html.ValidationMessageFor(m => m.EmailSubject)</p>
                                </div>
                                <div class="form-group">
                                    <label>Email Body *</label>
                                    @Html.TextAreaFor(m => m.EmailBody, new { @class = "form-control ckeditor" })
                                    <p class="help-block">@Html.ValidationMessageFor(m => m.EmailBody)</p>
                                </div>
                                <div class="form-group">
                                    <label>Send Mail From</label>
                                    @Html.TextBoxFor(m => m.AddCC, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>BCC to</label>
                                    @Html.TextBoxFor(m => m.AddBCC, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Associated Tags</label>
                                    @Html.DisplayFor(m => m.AssociatedTags, new { @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <label>Is Active</label>
                                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control" })
                                </div>
                                <input type="submit" id="btnUploadImage" class="btn btn-default" value="Save" />
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
}
