﻿@model ArtistWala.Areas.Admin.Models.GeneralSettingModel
@{
    ViewBag.Title = "Add Settings";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script type="text/javascript" src="/js/common.js"></script>

@using (Html.BeginForm("AddSettings", "Settings", FormMethod.Post, new { Area = "Admin" }))
{
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@ViewBag.Title</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="panel-heading">
                <label class="control-label" style="color:green;">@ViewBag.Message</label>
                <p class="help-block">@ViewBag.ErrorMessage</p>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">

                            <form role="form">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>@Html.LabelFor(m => m.SMTPServer) *</label>
                                        @Html.TextBoxFor(m => m.SMTPServer, new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.SMTPServer)</p>
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.LabelFor(m => m.SMTPPort) *</label>
                                        @Html.TextBoxFor(m => m.SMTPPort, new { @class = "form-control", onkeypress = "return checkOnlyNumber(this,event);" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.SMTPPort)</p>
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.LabelFor(m => m.FromEmail)</label>
                                        @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.FromEmail)</p>
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.LabelFor(m => m.EmailPassword)</label>
                                        @Html.TextBoxFor(m => m.EmailPassword, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.LabelFor(m => m.SSLSecurity)</label>
                                        @Html.CheckBoxFor(m => m.SSLSecurity)
                                    </div>
                                    <div class="form-group">
                                        <label>@Html.LabelFor(m => m.MobileVerification)</label>
                                        @Html.CheckBoxFor(m => m.MobileVerification)
                                    </div>
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>SMS SID *</label>
                                        @Html.TextBoxFor(m => m.SMSId, new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.SMSId)</p>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label>SMS User Id *</label>
                                        @Html.TextBoxFor(m => m.SMSLink, new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.SMSLink)</p>
                                    </div>

                                    <div class="form-group">
                                        <label>@Html.LabelFor(m => m.SMSPassword) *</label>
                                        @Html.PasswordFor(m => m.SMSPassword, new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.SMSPassword)</p>
                                    </div>

                                    

                                    
                                </div>
                            </form>
                             

                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
}

