﻿@model ArtistWala.Areas.Admin.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("ChangePassword", "Settings", FormMethod.Post, new { Area = "Admin" }))
{
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">@ViewBag.Title</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="panel-heading">
                <label class="control-label" style="color:green;">@ViewBag.Message</label>
                <p class="help-block">@ViewBag.ErrorMessage</p>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Old Password *</label>
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.OldPassword)</p>
                                    </div>
                                    <div class="form-group">
                                        <label>New Password *</label>
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.NewPassword)</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Re-enter New Password *</label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        <p class="help-block">@Html.ValidationMessageFor(m => m.ConfirmPassword)</p>
                                    </div>                                   
                                    <button type="submit" class="btn btn-default">Update</button>
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
}
