﻿@model ArtistWala.Areas.Admin.Models.ContentModel
@{
    ViewBag.Title = "Artistwala - Content";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $('#dataTables-category').DataTable({
            responsive: true
        });

    });
</script>
<script>
    $(document).ready(function () {
        $("#dvAddNew").hide();
        ContentDropdownChange();
        fn_ShowHide();
        fn_EditItem();
    });
    function ContentDropdownChange() {
        $("#Id").on('change', function (event) {
            var value = $('#Id').val();
            if ($('#Id').val() != '') {
                var url = '@Url.Action("Content", "Modarator", new { Value = "value" })';
                window.location.href = url.replace('value', value);
            }
        }); 
    }
    function fn_ShowHide() {
        $("#addContent").on("click", function () {
            $("#dvAddNew").show();
        });
    }
</script>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Content</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="panel-heading">
                <label class="control-label" style="color:green;">@ViewBag.Message </label>
                <p class="help-block">@ViewBag.ErrorMessage</p>
            </div>
            <div class="form-group">
                <label>All (*) fields are mandatory</label>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6"> 
                                    @Html.DropDownListFor(x => x.Id, Model.ContentList) 

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <a id="addContent" href="javascript:void(0)">Add New Content</a>
                                <div id="dvAddNew">
                                    @using (Html.BeginForm("Content", "Modarator",FormMethod.Post, new { Area = "Admin" }))
                                    {
                                        @Html.DropDownListFor(x => x.Id, Model.ContentList)
                                        @Html.EditorFor(x => x.ContentValue)
                                        <input type="submit" name="addContent" id="addContent" value="Add New" />

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Subcategory List
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-category">
                                <thead>
                                    <tr>
                                        <th>Attribute Value</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.ContentViewList)
                                        {
                                            if (i % 2 == 0)
                                            {
                                                <tr class="odd gradeX">
                                                    <td>@item.StaticContentName</td>
                                                    @*<td class="center">
                                                            @item.SubCategoryName
                                                        </td>
                                                        <td class="center">
                                                            @Convert.ToString(item.IsActive == true ? "Yes" : "No")
                                                        </td>*@
                                                    <td class="center">
                                                        <a onclick="return confirm('Are you sure you want to delete?');" href="@Url.Action("DeleteContent", "Modarator", new { Area = "Admin", id = item.StaticContentId,ColumnName = item.ColumnName})">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="even gradeC">
                                                    <td>@item.StaticContentName</td>
                                                    @*<td class="center">
                                                            @item.SubCategoryName
                                                        </td>
                                                        <td class="center">
                                                            @Convert.ToString(item.IsActive == true ? "Yes" : "No")
                                                        </td>*@
                                                    <td class="center">
                                                        <a onclick="return confirm('Are you sure you want to delete?');" href="@Url.Action("DeleteContent", "Modarator", new { Area = "Admin", id = item.StaticContentId,ColumnName = item.ColumnName})">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>

