﻿@{
    ViewBag.Title = "Modarator Report";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    @{
        Html.RenderAction("ModReportFilter", "Modarator", new { Area = "Admin" });
    }
</div>
