﻿@model IEnumerable<ArtistWala.Repository.tblModarator>

<link href="/css/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery.ui.js"></script>

<script type="text/javascript">
    var CalenderControl = new function () {
        this.ControlId = '';
        this.Show = function () {
            $("#" + this.ControlId).datepicker({
                showOn: "focus",
                buttonImageOnly: false,
                dateFormat: "mm/dd/yy",
                showAnim: "show",
                autoSize: true,
                showOtherMonths: true,
                changeMonth: true,
                changeYear: true,
                yearRange: '1960:2050'
            });
        };
    }

    $(document).ready(function () {
        CalenderControl.ControlId = 'txtFromDate';
        CalenderControl.Show();

        CalenderControl.ControlId = 'txtToDate';
        CalenderControl.Show();
    });

</script>

<script type="text/javascript">
    function showSearchOption(obj, shownElement) {
        $('.activeSearch').hide();
        if ($(obj).is(':checked') == true) {
            $('#' + shownElement).show();
        } else {
            $('#' + shownElement).hide();
        }
    }
</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1.1", { packages: ["bar"] });
    google.setOnLoadCallback(drawStuff);
    function drawStuff() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Modarator Report');
        data.addColumn('number', 'Record Count');

        var searchby = '';

        if ($('#chkDate').is(':checked') == true) {
            searchby = 'Date';
        } else if ($('#chkWeekly').is(':checked') == true) {
            searchby = 'Week';
        }
        else if ($('#chkMonthly').is(':checked') == true) {
            searchby = 'Month';
        }        
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: '/Services/ModaratorReport.ashx?ModId=' + $('#modList').val() + '&SearchBy=' + searchby + '&FromDate=' + $('#txtFromDate').val() + '&toDate=' + $('#txtToDate').val() + '&month=' + $('#ddlMonthly').val(),
            dataType: "json",
            async: false,
            success: function (jSonData) {
                var result = JSON.parse(JSON.stringify(jSonData));
                $.each($.map(result, function (item) {
                    var value = item['count'];
                    var name = item['Name'];
                    data.addRows([[name, value]]);
                }));
                var options = {
                    width: 900,
                    chart: {
                        title: 'Modarator Report',
                        subtitle: 'Reports based on search'
                    },
                    series: {
                        0: { axis: 'Record' } // Bind series 0 to an axis named 'distance'.
                        // Bind series 1 to an axis named 'brightness'.
                    },
                    bar: {
                        groupWidth: '10%'
                    },
                    legend: { position: 'top', maxLines: 5 },
                    vAxis: {
                        minValue: 0,
                        ticks: [0, 25, 50, 100, 150]
                    },
                };

                var chart = new google.charts.Bar(document.getElementById('dual_y_div'));
                chart.draw(data, options);
            },
            error: function (result) {
                // alert("Error");
            }
        });


    };

    $(function () {
        $('#btnSave').click(function () {
            google.setOnLoadCallback(drawStuff);
            drawStuff();
        });
        $('#ddlMonthly').val();
    });
</script>
<div class="row">
    <div class="panel-heading">
        <label class="control-label" style="color:green;">@ViewBag.Message</label>
        <p class="help-block">@ViewBag.ErrorMessage</p>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Modarator Report
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" style="display:inline;">
                                <div class="form-group">
                                    <label>Select Modarator</label>
                                    <select name="modList" id="modList" class="form-control">
                                        @if (Model != null)
                                        {
                                            foreach (var item in Model)
                                            {
                                        <option value="@item.ModaratorId">@item.Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>By Date</label>
                                    <input type="radio" id="chkDate" name="chkWeekly" value="Date" onclick="showSearchOption(this, 'dvDateRenge')" />
                                    <div class="activeSearch" id="dvDateRenge" style="display:none;">
                                        <label>From Date</label>
                                        <input type="text" id="txtFromDate" name="txtFromDate" />
                                        <label>To Date</label>
                                        <input type="text" id="txtToDate" name="txtToDate" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>weekly</label>
                                    <input type="radio" id="chkWeekly" name="chkWeekly" value="Week" onclick="showSearchOption(this, 'dvweekly')" />
                                    <div class="activeSearch" id="dvweekly" style="display:none;">
                                        <label>By Last Week</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Monthly</label>
                                    <input type="radio" id="chkMonthly" checked="checked" name="chkWeekly" onclick="showSearchOption(this, 'dvMonthly')" />
                                    <div class="activeSearch" id="dvMonthly">
                                        <label>Select Month</label>
                                        <select id="ddlMonthly" name="ddlMonthly">
                                            <option value="0">Select Month</option>
                                            <option value="1">January</option>
                                            <option value="2">February</option>
                                            <option value="3">March</option>
                                            <option value="4">April</option>
                                            <option value="5">May</option>
                                            <option value="6">June</option>
                                            <option value="7">July</option>
                                            <option value="8">August</option>
                                            <option value="9">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                    </div>
                                </div>
                                <button type="button" id="btnSave" class="btn btn-default">Search</button>
                            </form>
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>                        <!-- /.panel-body -->
            </div>
            <!-- /.panel-heading -->
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="panel-heading">
        <label class="control-label" style="color:green;">@ViewBag.Message</label>
        <p class="help-block">@ViewBag.ErrorMessage</p>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Modarator Report
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="dual_y_div" style="width: 900px; height: 500px;margin:0 auto;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
